@font-face {
    font-family: 'Whitney';
    src: url('../fonts/Whitney-Light.eot');
    src: local('Whitney Light Regular'), local('Whitney-Light'),
        url('../fonts/Whitney-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-Light.woff') format('woff'),
        url('../fonts/Whitney-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('../fonts/Whitney-LightItalic.eot');
    src: local('Whitney-LightItalic'),
        url('../fonts/Whitney-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-LightItalic.woff') format('woff'),
        url('../fonts/Whitney-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Whitney Book';
    src: url('../fonts/Whitney-Book.eot');
    src: local('Whitney Book Regular'), local('Whitney-Book'),
        url('../fonts/Whitney-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-Book.woff') format('woff'),
        url('../fonts/Whitney-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney Book';
    src: url('../fonts/Whitney-BookItalic.eot');
    src: local('Whitney-BookItalic'),
        url('../fonts/Whitney-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-BookItalic.woff') format('woff'),
        url('../fonts/Whitney-BookItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Whitney';
    src: url('../fonts/Whitney-MediumItalic.eot');
    src: local('Whitney-MediumItalic'),
        url('../fonts/Whitney-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-MediumItalic.woff') format('woff'),
        url('../fonts/Whitney-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney';
    src: url('../fonts/Whitney-Medium.eot');
    src: local('Whitney Medium Regular'), local('Whitney-Medium'),
        url('../fonts/Whitney-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-Medium.woff') format('woff'),
        url('../fonts/Whitney-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('../fonts/Whitney-Semibold.eot');
    src: local('Whitney Semibold Regular'), local('Whitney-Semibold'),
        url('../fonts/Whitney-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-Semibold.woff') format('woff'),
        url('../fonts/Whitney-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('../fonts/Whitney-SemiboldItalic.eot');
    src: local('Whitney-SemiboldItalic'),
        url('../fonts/Whitney-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-SemiboldItalic.woff') format('woff'),
        url('../fonts/Whitney-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney';
    src: url('../fonts/Whitney-Bold.eot');
    src: local('Whitney Bold Regular'), local('Whitney-Bold'),
        url('../fonts/Whitney-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-Bold.woff') format('woff'),
        url('../fonts/Whitney-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('../fonts/Whitney-BoldItalic.eot');
    src: local('Whitney-BoldItalic'),
        url('../fonts/Whitney-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-BoldItalic.woff') format('woff'),
        url('../fonts/Whitney-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Whitney';
    src: url('../fonts/Whitney-Black.eot');
    src: local('Whitney-Black'),
        url('../fonts/Whitney-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-Black.woff') format('woff'),
        url('../fonts/Whitney-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('../fonts/Whitney-BlackItalic.eot');
    src: local('Whitney-BlackItalic'),
        url('../fonts/Whitney-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Whitney-BlackItalic.woff') format('woff'),
        url('../fonts/Whitney-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}