// ++++++++ uvSlider
.uvSlider {
    $uv_parent: &;
    &ItemsList {
        #{$uv_parent}Item {
            padding-top: 100px;
            padding-bottom: 60px;
            align-items: center;
            display: flex;
            .btn {
                min-width: 120px !important;
                color: white;
                font-weight: 300;
                padding: 0.5rem;
                border-radius: 5px;
            }
        }
    }
}
// -------- uvSlider

// ++++++++ footer

.footer_navList {
    &--parent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
            "nav_about nav_providers"
            "nav_misc nav_providers"
            "nav_career nav_providers";
        .footer_navList {
            &-about {
                grid-area: nav_about;
            }
            &-providers {
                grid-area: nav_providers;
            }
            &-career {
                grid-area: nav_career;
            }
            &-misc {
                grid-area: nav_misc;
            }
        }
    }
}

.lt-grid-container {
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "logo"
    "copy_info"
    "phone_1"
    "phone_2"
    "privacy_policy"
    "social_networks";
    text-align: center;
    .lt-social_networks {
        padding-top: 5px;
        text-align: center;
    }
    .footerMutedText {
        br {
            display: initial;
        }
        a {
            padding-right: 0;
        }
    }
    .main_logo {
        justify-content: center;
    }
}

.footer_nav--buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    grid-template-areas:
        "btn-sm"
        "btn-sm2"
        "btn-lg";
    .col-4,
    .btn {
        min-width: 100%;
        justify-content: center;
        text-align: center;
    }
    .col-4:nth-child(1) {
        grid-area: btn-sm;
    }
    .col-4:nth-child(2) {
        grid-area: btn-sm2;
    }
    .col-4:nth-child(3) {
        grid-area: btn-lg;
    }
}

// -------- footer

// ++++++++ lifecycle
.lifecycle_scf {
    zoom: 52%;
    &--icon {
        width: 80px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        &-sm {
            width: 40px;
            height: 40px;
            svg {
                min-width: 40px;
                min-height: 30px;
            }
            &:before {
                width: 25px;
                height: 25px;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
    .lifecycle_scf--text-open {
        left: 84%;
    }
}
.lifecycle_with_agreement,
.lifecycle_agent {
    zoom: 52%;
    &--icon {
        width: 100px;
        height: 100px;
        &-sm {
            width: 60px;
            height: 60px;
            svg {
                min-width: 40px;
                min-height: 30px;
            }
            &:before {
                width: 25px;
                height: 25px;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}
.lifecycle {
    zoom: 62%;
    &--icon {
        width: 100px;
        height: 100px;
        &-sm {
            width: 60px;
            height: 60px;
            svg {
                min-width: 40px;
                min-height: 30px;
            }
            &:before {
                width: 25px;
                height: 25px;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}
// -------- lifecycle


// ++++++++ press_contacts
.press_contacts {
    &--title {
        width: 100%;
        margin-bottom: 15px;
    }
    &--body {
        width: 100%;
    }
    &--title {
        padding-right: 0;
        text-align: left;
    }
    &--buttons {
        margin-bottom: 6vw;
    }
    .btn-lg {
        min-width: 180px;
    }
}
// -------- press_contacts

.equalize_block {
    &-grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
    }
}