// ++++++++ news_brief
.news_brief {
    &--date {
        margin-right: 20px;
    }
    &--item_title {
        font-size: 20px;
        margin-bottom: 1rem;
    }
    &--text-pull_left {
        margin-left: -80px;
        width: calc(100% + 80px);
    }
    &--button {
        margin-left: -80px;
        width: calc(100% + 80px);
    }
}
// -------- news_brief

// ++++++++ footer

.footer_nav--buttons {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
	row-gap: 20px;
	grid-template-areas:
		"btn-sm"
		"btn-sm2"
		"btn-lg";
}

.footer_navList {
    &--parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
            "nav_about"
            "nav_misc"
            "nav_providers"
            "nav_career";
        padding-left: 30px;
    }
}

// -------- footer



// ++++++++ press_contacts
.press_contacts {
    &--title {
        width: 100%;
        margin-bottom: 15px;
    }
    &--body {
        width: 100%;
    }
    &--title {
        padding-right: 0;
        text-align: left;
    }
    &--buttons {
        margin-bottom: 6vw;
    }
    .btn-lg {
        min-width: 100%;
        margin: 0 auto 7px;
    }
}
// -------- press_contacts