// ++++++++ press_contacts
.press_contacts {
    .btn-lg {
        min-width: 100%;
        margin: 0 auto 7px;
    }
}
// -------- press_contacts


// ++++++++ texts_list
.texts_list {
    &--item {
        min-width: 100%;
        word-break: break-word;
    }
    .ndash {
        display: initial;
    }
}

// -------- texts_list

.team_list {
    grid-template-columns: repeat(1, 1fr);
}