// +++++++ main header block
.main_header {
    padding-top: 20px;
    min-height: 130px;
    .main_nav--parent,
    .header_actions {
        display: none;
    }
    &::before {
        // display: none;
        max-height: 130px;
    }
}

.main_logo {
    
    .mPopupNav &,
    .main_header & {
        flex-wrap: wrap;
        max-width: 200px;
    }

    img {
        max-width: 185px;
        object-fit: contain;
    }

    .mPopupNav &--description,
    .main_header &--description {
        padding-left: 33px;
        border-left: none;
        font-size: 14px;
    }
}



.popupNavTrigger {
    background: none;
    border: none;
    outline: none !important;
    padding: 0 0 10px 15px;
    &_parent {
        font-size: 0;
        text-align: right;
    }
    &:hover {
        cursor: pointer;
    }
    
    &.is-active .line:nth-child(2) {
        opacity: 0;
    }
    
    &.is-active .line:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
    }
    
    &.is-active .line:nth-child(3) {
        transform: translateY(-10px) rotate(45deg);
    }
    
    & .line {
        width: 31px;
        height: 2px;
        background-color: #fff;
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
    }
}

.header_actions-mobile {
    min-width: 270px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    .btn_iconized {
        padding-right: 10px;
    }
}

// ------- main header block

// ++++++++ uvSlider
.uvSlider {
    $uv_parent: &;

    margin-top: -130px;

    &ItemsList {
        min-height: 380px;
        #{$uv_parent}Item {
            padding-top: 120px;
            &__background::before {
                display: block;
                content: '';
                position: absolute;
                height: 240px;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.64) 0, transparent 100%);
            }
        }
    }

    &Item__mainText .h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    &__pagination {
        padding-bottom: 0;
        &__item {
            // margin-bottom: 0;
        }
    }
}
// -------- uvSlider


// ++++++++ news_brief
.news_brief {
    padding-top: 40px;
    padding-bottom: 10px;
    &--item {
        justify-content: start;
        margin-bottom: 35px;
    }
}
// -------- news_brief

// ++++++++ catalog_tile

.catalog_tile {
    padding-top: 50px;
    padding-bottom: 50px;
    &--list {
        grid-template-columns: repeat(auto-fill, minmax(calc(33.3% - 20px), 1fr));
    }
    &--item {
        &::before {
            padding-bottom: calc(80% - 5px);
        }
    }
    &--icon {
        min-height: 55px;
    }
    &--text {
        min-height: 30px;
        font-size: 20px;
    }
}
// -------- catalog_tile

// ++++++++ footer
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer_navList {
    &--parent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
            "nav_about nav_providers"
            "nav_misc nav_providers"
            "nav_career nav_providers";
        .footer_navList {
            &-about {
                grid-area: nav_about;
            }
            &-providers {
                grid-area: nav_providers;
            }
            &-career {
                grid-area: nav_career;
            }
            &-misc {
                grid-area: nav_misc;
            }
        }
    }
}

.lt-grid-container {
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "logo social_networks"
    "phone_1 phone_2"
    "copy_info privacy_policy";
    .lt-social_networks {
        padding-top: 5px;
        text-align: right;
    }
}

.footer_nav--buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .btn-lg {
        padding-left: 15px;
        padding-right: 15px;
    }
}

// -------- footer


// ++++++++ lifecycle
.lifecycle_scf,
.lifecycle_with_agreement,
.lifecycle_agent,
.lifecycle {
    zoom: 80%;
}
// -------- lifecycle


.vacancies_categories {
    flex-wrap: wrap;
    &--item {
        width: 50%;
        min-width: 280px;
    }
}


.team_list {
    grid-template-columns: repeat(3, 1fr);
}

.equalize_block {
    &-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}