// ++++++++ uvSlider
.uvSlider {
    $uv_parent: &;
    &Item__mainText .h1 {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 15px;
        letter-spacing: unset;
    }
}
// -------- uvSlider


// ++++++++ catalog_tile

.catalog_tile {
    &--list {
        grid-template-columns: repeat(auto-fill, 280px);
        justify-content: center;
    }
}
// -------- catalog_tile


// ++++++++ news_brief
.news_brief {
    margin-left: 5%;
    margin-right: 5%;
    .form-control__select {
        width: 48%;
    }
}
// -------- news_brief


// ++++++++ equalize block
.equalize_block {
    $eb_parent: &;
    padding-top: 6vw;
    &-lg {
        #{$eb_parent}--item {
            width: 100%;
            max-width: 480px;
            margin-left: auto;
            margin-right: auto;
            &:not(:last-child) {
                margin-right: auto;
                margin-left: auto;
            }
            &:not(:first-child) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
// -------- equalize block


// ++++++++ text block
.text_block {
    &--title {
        font-size: 34px;
        br {
            display: none;
        }
        &-mb_lg {
            margin-bottom: 20px;
        }
    }
    &--sub_title {
        margin-top: 30px;
        font-size: 22px;
        br {
            display: none;
        }
    }
}

.mobile-hidden {
    display: none !important;
}
// -------- text block


// ++++++++ steps slider
.steps_slider {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
// -------- steps slider