// ++++++++ news_brief
.news_brief {
    .form-control__select {
        width: 100%;
    }
}
// -------- news_brief


// ++++++++ footer

.footer {
    .main_logo {
        justify-content: left;
        max-width: 240px;
        margin: 0 auto;
        img {
            max-width: 240px;
        }
        &--description {
            padding-left: 45px;
            border-left: none;
            font-size: 14px;
        }
    }
}

// -------- footer


// ++++++++ lifecycle
.lifecycle_scf,
.lifecycle_with_agreement,
.lifecycle_agent,
.lifecycle {
    zoom: 60%;
    max-width: 80%;
    &--icon {
        width: 100px;
        height: 100px;
        &-sm {
            width: 50px;
            height: 50px;
            svg {
                min-width: 40px;
                min-height: 30px;
            }
            &:before {
                width: 25px;
                height: 25px;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}
.lifecycle_with_agreement {
	zoom: 50%;
	max-width: 99%;
	margin-left: 50px;
}
.lc_over {
    max-width: 100%;
	overflow: auto;
	padding: 40px 0;
}
.lifecycle_scf {
    zoom: 40%;
    max-width: 100%;
}
// -------- lifecycle