// ++++++++ uvSlider
.uvSlider {
    $uv_parent: &;
    &ItemsList {
        #{$uv_parent}Item {
            padding-top: 100px;
        }
    }
}
// -------- uvSlider

// ++++++++ catalog_tile

.catalog_tile {
    &--list {
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
    }
}
// -------- catalog_tile

// ++++++++ footer

.footer_navList {
    &--parent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
            "nav_about nav_providers"
            "nav_misc nav_providers"
            "nav_career nav_providers";
        .footer_navList {
            &-about {
                grid-area: nav_about;
            }
            &-providers {
                grid-area: nav_providers;
            }
            &-career {
                grid-area: nav_career;
            }
            &-misc {
                grid-area: nav_misc;
            }
        }
    }
}

.lt-grid-container {
    row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "logo logo logo social_networks"
    "phone_1 phone_1 phone_2 phone_2"
    "copy_info copy_info copy_info copy_info"
    "privacy_policy privacy_policy privacy_policy privacy_policy";
    .lt-social_networks {
        padding-top: 5px;
        text-align: right;
    }
    .footerMutedText {
        br {
            display: none;
        }
        a {
            padding-right: 20px;
        }
    }
}

.footer_nav--buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    grid-template-areas:
        "btn-sm btn-sm2"
        "btn-lg btn-lg";
    .col-4,
    .btn {
        min-width: 100%;
        justify-content: center;
        text-align: center;
    }
    .col-4:nth-child(1) {
        grid-area: btn-sm;
    }
    .col-4:nth-child(2) {
        grid-area: btn-sm2;
    }
    .col-4:nth-child(3) {
        grid-area: btn-lg;
    }
}

// -------- footer

// ++++++++ lifecycle
.lifecycle_scf,
.lifecycle_with_agreement,
.lifecycle_agent {
    zoom: 62%;
}
.lifecycle {
    zoom: 72%;
}
// -------- lifecycle



// ++++++++ equalize block
.equalize_block {
    $eb_parent: &;
    &-lg {
        #{$eb_parent}--item {
            width: calc(50% - 20px);
            &:not(:last-child) {
                margin-right: 10px;
            }
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}
// -------- equalize block


// ++++++++ press_contacts
.press_contacts {
    &--title {
        padding-right: 0;
        text-align: left;
    }

    &--buttons {
        margin-bottom: 6vw;
    }

    &--buttons,
    &--links {
        width: 100%;
        text-align: center;
    }
}
// -------- press_contacts


.text_card {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 6vw;
}

.team_list {
	grid-template-columns: repeat(2, 1fr);
}


.tablet-hidden {
    display: none !important;
}