@import "variables";

.popupNavTrigger_parent {
    font-size: 0;
    z-index: 1061;
    position: fixed;
    top: 20px;
    right: 20px;
}

.popupNavTrigger {
    background: none;
    border: none;
    outline: none !important;
    padding: 0 0 10px 15px;
}

.popupNavTrigger .line {
    width: 31px;
    height: 2px;
    background-color: $primary;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
}

.popupNavTrigger:hover {
    cursor: pointer;
}

.popupNavTrigger.is-active .line:nth-child(2) {
    opacity: 0;
}

.popupNavTrigger.is-active .line:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
}

.popupNavTrigger.is-active .line:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
}

.fixed {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
}

.mPopupNav {
    transform: translateX(0);
    transition: background-color 0.3s;
    z-index: 1060 !important;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;

    a {
        color: #fff;
    }

    .btn-lg {
        font-size: 13px;
    }

}

.mPopupNav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 300px;
}

.mPopupNav.modal {
    top: 0;
    bottom: auto;
    height: 100vh;
    border-radius: 0;
    position: fixed;
}

.mPopupNav__dialog {
    width: 100vw;
    max-width: 100vw;
    min-width: 300px;
    height: 100vh;
    margin: 0;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateX(-100%);
    overflow: hidden;
}

._scrollable {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.mPopupNav__inner {
    border-radius: 0;
    min-height: 100%;
    padding: 20px;
    background: $primary;
}

.mPopupNav.show .popupNav__dialog {
    transform: translateX(0);
}

.mPopupNav__slogan {
    font-size: 13px;
    font-weight: 500;
}

.mPopupNav__link {
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.mPopupNav__icon {
    display: inline-block;
    width: 55px;
    padding-right: 25px;
    text-align: center;
    font-size: 0;
}

.show .fixedActive {
    position: relative;
}

.mPopupNav__menu {}

.mPopupNav__menu .hasChild {
    position: relative;
}

.mPopupNav__menu .hasChild:after {
    content: '';
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-color: #fff;
    display: block;
    width: 14px;
    height: 14px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 23px;
    left: auto;
    transform: rotate(135deg);
}

.mPopupNav__menu a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mPopupNav__menu a:hover {
}

.childItem {
    overflow: hidden;
    background-color: $primary;
    z-index: 1;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 52px;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateX(120%);
    opacity: 0;
}

.childItem.active {
    transform: translateX(0);
    opacity: 1;
}

.childItem li {
    padding: 0 20px;
}

.childItem__goBackBtn {
    margin-bottom: 10px;
    padding: 16px 0 5px;
    text-align: center;
}

.childItem__goBackBtn span {
    display: block;
    position: relative;
    padding: 10px 65px 10px 40px;
    color: #fff;
    font-size: 15px;
}

.childItem__goBackBtn span:after {
    content: '';
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-color: white;
    display: block;
    width: 14px;
    height: 14px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    left: 23px;
    transform: rotate(135deg);
}

.mPopupNavScroll {
    height: calc(100% - 52px);
    position: relative;
}

.mobile_header_btn {
    width: 100%;
    text-align: center;
    border-color: #fff;
    background-color: $primary;
    font-size: 15px !important;
    &:hover {
        border-color: #fff;
        background-color: #fff;
        color: $primary;
    }
}

.mobile_search {
    position: relative;
    &--input {
        width: 100%;
        height: 36px;
        border-radius: 50px;
        border: none;
        padding-left: 45px;
        &:focus {
            outline: none;
        }
    }
    &--button {
        position: absolute;
        top: 2px;
        left: 2px;
        border: none !important;
    }
}

.mPopupNav .btn_iconized--icon-bordered {
    border: 2px solid #fff;
    border-radius: 50%;
}