.modal:not(.mPopupNav) {
    background-color: rgba(0,0,0,.7);
}
.modal-content {
	border-radius: 0 !important;
}

.modal-body {
    padding: 30px;
    @media (max-width: 420px) {
        padding: 30px 0;
    }
}


.simpleCloseButton {
	z-index: 9;
	background: none;
	border: none;
	position: absolute;
	top: 17px;
	right: 10px;
	cursor: pointer;
}


@media (min-width: 576px) {
    .hideModalBtn {
        display: none;
    }
}
@media (max-width: 575.99px) {
    .modal:not(.mPopupNav) {
        padding-top: 1.5rem;
    }
    .hideModalBtn {
        z-index: 9999;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateY(-80px);
        width: 59px;
        height: 59px;
        border: 0;
        text-align: center;
        line-height: 50px;
        background-image: url('../img/icons/notify_close.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: #262626;
        color: #dee2e6;
        transition: transform .3s;
        overflow: hidden;
        text-indent: -999px;
        outline: none !important;
        .scrolledUp & {
            transform: translateY(0);
        }
    }
}
.modal_fullWidth {
	.modal-dialog {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.modal-content {
		// background-color: transparent;
	}
	.modal-body {
		padding: 0;
	}
}
.modal_appearanceNormal {
	z-index: 1061 !important;
	.modal-dialog {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.modal-content {
		background-color: #fff;
	}
	.modal-body {
		padding: 2.5rem 3rem;
	}
}
.modal_widthUnset {
	.modal-dialog {
		max-width: unset;
	}
	.modal-content {
		max-width: 1346px;
		// background: none !important;
		margin: 0 auto;
	}
}
@media (max-width: 700px) {
	.modal_appearanceNormal {
		.modal-body {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
