.h1 {
    &__se {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 40px;
    }
    &__title {
        margin-right: 30px;
    }
    &__readMore {
        font-size: 12px;
        a {
            color: #000;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.mainPage__header {
    margin-bottom: 20px;
    .col-md-6,
    .col-lg-3 {
        padding-bottom: 30px;
    }
}
.mainSlider {
    position: relative;
    height: 380px;
    @media (max-width: 767.9px) {
        height: calc(80vh - 140px);
        min-height: 380px;
        margin-left: -10px;
        margin-right: -10px;
        width: calc(100% + 20px);
    }
    @media (max-width: 1365.9px) {
        margin-bottom: 30px;
    }

	&__nav {
		position: absolute;
        top: 50%;
        transform: translateY(-50%);
		left: 0;
		height: 70px;
		width: 70px;
		z-index: 3;
		border: 0;
		overflow: hidden;
		text-indent: -999px;
		cursor: pointer;
		transition: background-color .3s;
        outline: none !important;
        background: transparent;
		svg {
			position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
		use {
            stroke: white;
            stroke-width: 1px;
            fill: none;
        }
		& + & {
            left: auto;
            right: 0;
            transform: translateY(-50%);
        }
		&:hover {
			background-color: rgba(0,0,0,.1);
			path {
                fill: none;
            }
        }
        &.swiper-button-disabled {
            display: none;
        }
    }
	
	&__pagination {
		z-index: 3;
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 60px;
		display: flex;
		justify-content: center;
		&__item {
            outline: none;
            width: auto;
            height: auto;
			margin-left: 15px;
			margin-right: 15px;
			cursor: pointer;
			&:last-child {
                margin-bottom: 0;
            }
			&:after {
				display: block;
				content: '';
				width: 15px;
				height: 15px;
				border: 2px solid #fff;
                border-radius: 50%;
            }
			&.active:after,
			&:hover:after {
                background-color: #fff;
            }
        }
    }

    a {
        color: #fff;
        &:hover {
            text-decoration: none;
        }
    }
    &__carousel {
        
    }
    &__item {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
        height: 100%;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: initial !important;
        border-radius: 3px;
        color: white;

        display: flex;
        flex-wrap: wrap;
        @media (min-width: 767.9px) {
            align-items: center;
        }
        @media (max-width: 768px) {
            order: 1;
        }
    }

    &__text {
        padding-left: 5%;
        padding-top: 20px;
        @media (min-width: 767.9px) {
            padding-top: 0;
            padding-left: 10%;
        }
    }
    
    &__heading {
        width: 100%;
        margin-bottom: 25px;
        font-size: 33px;
        font-weight: 600;
        line-height: 1;
    }
    &__text_uppercase {
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.2;
    }
    &__img {
        @media (min-width: 767.9px) {
            overflow: hidden;
            position: absolute;
            top: 20px;
            bottom: -1px;
            right: -1px;
            width: 490px;
            padding-left: 105px;
        }
        text-align: left;
        @media (max-width: 768px) {
            order: 2;
            // top: 80px;
            // padding-left: 120px;
        }
        img {
            max-width: initial;
            object-fit: unset;
        }
    }
}

.header_right {
    height: 100%;
    background-color: #fff;
    color: #666;
    text-align: center;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    transition: box-shadow .3s;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 480px) {
        padding-top: 10px;
    }
    &:hover {
        box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.08);          
        text-decoration: none;
    }
    &__text {
        padding: 30px 10%;
        color: black;
        position: relative;
    }
    &__heading {
        margin-bottom: 10px;
        font-size: 17px;
        font-weight: 600;
    }
    &__img {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        width: 100%;
        
        @media (min-width: 1366px) {
            width: 100%;
        }
        img {
            max-width: 100%;
        }
    }


    @media (min-width: 992px) and (max-width: 1365.9px) {
        .header_right__text {
            padding-right: 2%;
            width: 50%;
            text-align: left;
        }
        .header_right__img {
            width: 50%;
        }
    }
    @media (min-width: 480px) and (max-width: 991.9px) {
        .header_right__text {
            text-align: left;
            padding-right: 2%;
            width: 55%;
            margin-right: -5%;
            padding-bottom: 30px;
        }
        
        .header_right__img {
            width: 50%;
        }
    }
        
}

.brands_tile {
    margin-bottom: 30px;
    .col-6 {
        margin-bottom: 20px;
    }
    &__item {
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: box-shadow .3s;
        &:hover {
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
        }
    }
}
  