/*  ++ uvSlider  */

@import "mixins";

.uvSlider {
    width: 100%;
    position: relative;

    margin-top: -280px;
    max-width: 100%;
    overflow: hidden;

    &__pagination {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        padding-bottom: 2.8%;
        z-index: 3;
        list-style: none;
        margin: 0;


        display: flex;
        justify-content: center;

        &__item {
            padding: 15px;
            cursor: pointer;
            position: relative;

            &:after {
                display: block;
                content: '';
                width: 12px;
                height: 12px;

                border-radius: 50%;

                background: rgba(255,255,255,.4);
            }

            &::before {
                display: block;
                content: '';
                width: 5px;
                height: 5px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                // box-shadow: 0 0 0 20px rgba(73, 113, 185, 0.31);
                border-radius: 50%;
            }

            &.navSonar.active::before,
            &.navSonar:hover::before {
                animation: navSonar 700ms forwards;
            }

            &.active:after,
            &:hover:after {
                background-color: #fff;

                @media (min-width: 1024.9px) {
                    background-color: #fff;
                }
            }
        }
    }
}

@keyframes navSonar {
    from {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.51);
    }

    to {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}



.uvSliderItemsList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;

    min-height: 720px;

    .uvSliderItem {
        display: block;
        padding: 280px 0 0;
        margin: 0;
        min-height: 100%;
        @media (max-width: 992px) {
            overflow: hidden;
        }
    }
}


.uvSliderItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    user-select: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0;
    will-change: transform, opacity;
    backface-visibility: hidden;

    &__background {
        position: absolute;
        top: 0;
        left: -100px;
        width: calc(100% + 200px);
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateZ(0);
        backface-visibility: hidden;
        &::before {
            display: block;
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    &.active {
        z-index: 2;
    }

    &__title {
        display: block;
        text-decoration: none !important;
        backface-visibility: hidden;
    }

    &__mainText {
        backface-visibility: hidden;
        position: relative;
        margin: 0 auto;
        
        font-size: 14px;
        will-change: transform, opacity;
        
        color: white;
        @include make-container();
        @include make-container-max-widths();

        .h1 {
            margin-top: 10px;
            margin-bottom: 34px;
            font-size: 60px;
            font-weight: 300 !important;
            letter-spacing: 2.1px;
            line-height: 1.21;
        }
    }
}

/*  -- uvSlider  */