@import 'fonts';
@import "functions";
@import "variables";
@import 'uvslider';

$body_bg: #ffffff;

body {
    background-color: $body_bg;
}

.fz-0 {
    font-size: 0;
}

.fz-20 {
    font-size: 20px !important;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.text-lg {
    font-size: 17px;
}

img {
    max-width: 100%;
}

use {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 4%;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.h1-sm {
    font-size: 24px;
    // font-weight: 300;
}

.hidden {
    display: none !important;
}

// +++++++ main header block
.main_header {
    position: relative;
    padding-top: 40px;
    min-height: 280px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 9;

    &-lg {
        min-height: 720px;
    }

    &::before {
        display: block;
        content: '';
        position: absolute;
        height: 240px;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .64) 0, transparent 100%);
    }

    .header_actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &--item:not(:first-child) {
            margin-left: 20px;
        }

        .btn-outline-primary {
            color: #fff;
            line-height: 1;
            padding: .4rem 15px;
        }
    }
}

.main_logo {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    align-items: stretch;
    color: #fff;

    &:hover {
        color: #fff;
        text-decoration: none;
    }

    &--description {
        line-height: 1;
        padding-left: 15px;
        margin-left: 15px;
        border-left: 1px solid #fff;
        display: flex;
        align-items: center;
    }
}

// ------- main header block

// +++++++ navigation block

.sub_head {
    &-background_grey {
        background-color: #EEF2F4;
    }
}

// +++++++ navigation block
.main_nav {
    $parent: &;
    margin-top: 20px;

    &--list {
        &-level_1 {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            padding-bottom: 9px;
        }

        &-level_2 {
            border-radius: 0 $border-radius-lg $border-radius-lg;
            position: absolute;
            background-color: $primary;
            margin-left: -1px;
            right: 0;
            top: 100%;
            // display: none;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 15px;

            opacity: 0;
            visibility: hidden;
            transition: opacity .2s;

        }
    }

    &--item {
        &-level_1 {
            margin-bottom: 0;

            &>.main_nav--link {
                padding-left: 19px;
            }

            &.is-active #{$parent}--list-level_2 {
                opacity: 1;
                visibility: visible;
            }
        }

        &-level_2 {
            width: 50%;
            min-width: 290px;
            margin-bottom: 0;

            #{$parent}--link {
                text-transform: none;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 5px;
                font-size: 20px;
                font-weight: 300;
                line-height: 1.625;

                span {
                    border-bottom: 1px solid transparent;
                    transition: border .2s;
                }

                &:hover {
                    span {
                        border-color: rgba(255, 255, 255, .64)
                    }
                }
            }
        }
    }

    &--item-level_1 {
        &:not(:last-child) {
            &>.main_nav--link {
                padding-right: 21px;
                border-right: 1px solid #fff;
            }
        }

        &:last-child {
            &>.main_nav--link::after {
                right: -20px;
            }
        }
    }

    &--link {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
        display: inline-block;

        span {
            position: relative;
            z-index: 2;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: -1px;
            right: -1px;
            background-color: $primary;
            transition: opacity .2s;
            opacity: 0;
            border-radius: $border-radius-lg;
        }

        .has_child & {
            &::after {
                border-radius: $border-radius-lg $border-radius-lg 0 0;
            }
        }

        .is-active &,
        &:hover {
            text-decoration: none;
            color: #fff;

            &::after {
                opacity: 1;
            }
        }
    }
}

// ------- navigation block



// +++++++ news block main page
.news_brief {
    $news_parent: &;
    padding-top: 88px;
    padding-bottom: 88px;

    &--title {}

    &--list {
        .list-sep {
            margin-bottom: 22px;
        }
    }

    .form-control {
        width: 100%;
        min-height: 40px;
        padding-left: 20px;
        padding-right: 40px;
        padding-top: 1px !important;
        font-size: 16px;
        color: $black;
        font-weight: 300;
    }

    &--item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-right: 20px;

        &:hover {
            text-decoration: none;
        }

        &-full {
            justify-content: left;
            margin-bottom: 70px;
            max-width: 890px;
        }
    }

    &--item_rightside {}

    &--item_title {
        font-weight: 300;
        font-size: 24px;
        line-height: 1.29;
        margin-bottom: 26px;
        color: $black;
    }

    &--date {
        margin-right: 20px;
        text-align: center;

        #{$news_parent} & {
            margin-right: 30px;
        }

        &_day {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;

            border: 1px solid $primary;
            border-radius: 50%;

            font-size: 24px;
            line-height: 1;

        }

        &_month {
            font-size: 15px;
            color: $primary;
        }
    }

    &--text {
        padding-top: 3px;
        font-size: 16px;
        line-height: 1.375;
        color: $black;

        #{$news_parent} & {
            font-weight: 300;
            margin-bottom: 26px;
        }
    }

    &--button {
        min-width: 150px;
        font-size: 15px;
    }
}

// ------- news block main page

// +++++++ catalog tile main page
.catalog_tile {
    background-color: #EEF2F4;
    padding-top: 95px;
    padding-bottom: 95px;

    &--list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(25% - 20px), 1fr));
        grid-gap: 20px;
    }

    &--item {
        background-color: #fff;
        border-radius: $border-radius-lg;
        box-shadow: 0px 6px 20px #E1E7EB;
        position: relative;

        &::before {
            display: block;
            content: '';
            padding-bottom: calc(100% - 5px);
        }
    }

    &--content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    &--icon {
        margin-top: auto;
        margin-bottom: 0;
        min-height: 75px;
        display: flex;
        align-items: flex-end;
        color: $primary;
    }

    &--text {
        margin-bottom: auto;
        margin-top: 30px;
        width: 100%;
        min-height: 68px;
        padding-right: 10%;
        padding-left: 10%;
        font-size: 28px;
        line-height: 1.2;
        color: $black;
    }
}

// ------- catalog tile main page


.footer_nav {
    padding-top: 70px;
    padding-bottom: 80px;

    &-background_grey {
        background-color: #EEF2F4;
    }

    &--buttons {
        padding-bottom: 70px;

        .btn-lg {
            padding-left: 35px;
            padding-right: 35px;
        }

        .btn_iconized--icon {
            height: 21px;
        }
    }
}

.footer_navList {

    &,
    ul {
        padding-left: 0;
        margin-left: 0;
        list-style: none;
    }

    &--item {
        &-level1 {
            a {
                font-size: 14px;
                text-transform: uppercase;
                color: #52575A;
            }

            ul {
                margin-top: 10px;
            }
        }

        &+&-has_child,
        &-has_child+.footer_navList--item {
            margin-top: 30px;
        }

        &-level2 {
            margin-bottom: 0;
            padding-bottom: 0;

            a {
                display: inline-block;
                font-size: 16px;
                line-height: 1.625;
                text-transform: none;
                color: #008099;
            }
        }
    }

    &--iconized {
        display: flex;
        align-items: center;
        color: #CFCFCF;
        line-height: 1;
    }

    &--icon {
        width: 30px;
        margin-left: -30px;

        use {
            stroke-width: 2px;
        }
    }
}

.footer {
    background-color: #58595B;
    padding-top: 75px;
    padding-bottom: 75px;
    color: white;
}

.phoneBlock {
    &-lg {}

    &--desc {}

    &--num {
        font-size: 30px;
        line-height: 1.38;
    }

    a {
        color: white;
        position: relative;
        display: inline-block;

        &::before {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 50%;
            right: 50%;
            height: 1px;
            background-color: #fff;
            opacity: 0;
            transition: left .2s, right .2s, opacity .2s;
            backface-visibility: hidden;
        }

        &:hover {
            text-decoration: none;

            &::before {
                opacity: .3;
                right: 0;
                left: 0;
            }
        }
    }
}

.footerMutedText {
    line-height: 1.66;

    &,
    & a {
        color: #bbb;
    }
}

.socialNetworksBlock {
    a {
        color: #bbb;
        text-decoration: none;
    }

    &--link:not(:last-child) {
        margin-right: 15px;
    }
}

.lt-grid-container {
    width: 100%;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo logo phone_1 phone_2""copy_info privacy_policy privacy_policy social_networks";
}

.lt-logo {
    grid-area: logo;
}

.lt-phone_1 {
    grid-area: phone_1;
}

.lt-phone_2 {
    grid-area: phone_2;
}

.lt-copy_info {
    grid-area: copy_info;
}

.lt-privacy_policy {
    grid-area: privacy_policy;
}

.lt-social_networks {
    grid-area: social_networks;
}


@media all and (-ms-high-contrast:none) {
    .lt-grid-container {
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr;
    }

    .lt-logo {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .lt-phone_1 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
    }

    .lt-phone_2 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
    }

    .lt-copy_info {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .lt-privacy_policy {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .lt-social_networks {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
    }
}



// ++++++++ text-block
.text_block {
    padding-top: 4vw;
    padding-bottom: 4vw;

    &-pt_xlg {
        padding-top: 7vw;
    }

    &-pb_xlg {
        padding-bottom: 7vw;
    }

    &-pt_lg {
        padding-top: 6vw;
    }

    &-pb_lg {
        padding-bottom: 6vw;
    }

    &-pt_sm {
        padding-top: 5vw;
    }

    &-pb_sm {
        padding-bottom: 0;
    }

    &-background_grey {
        background-color: #EEF2F4;
    }

    &--intro_icon {
        color: $primary;
        margin-bottom: 15px;
    }

    &--title {
        font-size: 42px;
        line-height: 1.19;
        // font-weight: 300;
        margin-bottom: 30px;

        &-mb_lg {
            margin-bottom: 45px;
        }

        &-thin {
            font-weight: 300;
        }
    }

    &--sub_title {
        margin-top: 30px;
        font-size: 24px;
        color: #333;

        &-sm {
            font-size: 22px;
            line-height: 1.36;
        }

        &-thin {
            font-weight: 300;
        }
    }

    &--body {
        max-width: 810px;
        margin-left: auto;
        margin-right: auto;
        color: #52575A;
        font-size: 16px;
        line-height: 1.375;

        &-text_lg {
            font-size: 22px;
        }
        &-text_xl {
            font-size: 24px;
        }

        &-thin {
            font-weight: 300;
        }
    }
}

// -------- text-block

.equalize_block {
    $eb_parent: &;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;

    &-pb_0 {
        padding-bottom: 0;
    }

    &--item {
        width: 120px;
        margin-bottom: 40px;

        &-separator {
            font-size: 40px;
            line-height: 74px;
            height: 73px;
            color: $primary;
        }

    }

    &-lg {
        max-width: 1024px;

        #{$eb_parent}--item {
            width: calc(33.3% - 50px);
            max-width: 320px;

            &:not(:first-child) {
                margin-left: 25px;
            }

            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }

    &-md {
        max-width: 1200px;

        #{$eb_parent}--item {
            width: calc(25% - 14px);
            min-width: 280px;

            &:not(:first-child) {
                width: calc(25% - 14px);
                margin-left: 7px;
            }

            &:not(:last-child) {
                // width: 250px;
                margin-right: 7px;
            }

            &-wide:not(:last-child),
            &:last-child {
                width: calc(25% - 14px);
            }

        }
    }

    &-center {
        justify-content: center;
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 60px;
        column-gap: 40px;
        width: 100%;
        max-width: unset;

        #{$eb_parent}--item {
            width: unset;

            &:not(:first-child) {
                margin-left: 0;
            }

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}

// ++++++++ text + icon
.iconized_text {
    $it_parent: &;

    &-icon_left {
        display: flex;
        align-items: flex-start;
    }

    &--icon {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        width: 73px;
        height: 73px;
        color: $primary;

        #{$it_parent}-icon_left & {
            width: unset;
            height: unset;
            margin-right: 30px;
            margin-left: 0;
            margin-bottom: 0;
        }

        &-text {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            background-color: $primary;
            border-radius: 50%;
            text-align: center;
            font-size: 24px;
            color: white;
        }

        &-text_lg {
            font-size: 50px;
        }

        &-lg {
            width: 105px;
            height: 105px;
            font-size: 42px;
            font-weight: 300;
        }

        &-xs {
            width: 31px;
            height: 31px;
            font-size: 0;
        }
        
    }

    &--text {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.125;
        color: $primary;

        &-black {
            color: #333;
        }

        &-lg {
            font-size: 16px;
            line-height: 1.375;
            // font-weight: 400;
        }
        &-xl {
            font-size: 24px;
            line-height: 1.42;
        }
    }

    &--title {
        line-height: 1;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

// -------- text + icon

// ++++++++ table row block
.table_row {
    // display: flex;
    padding-bottom: 15px;
    margin-bottom: 35px;
    border-bottom: 1px solid #ddd;

    &--text {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.875;

        max-width: 400px;
    }

    &--images {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;

        img {
            max-width: 100%;
        }
    }

}

// -------- table row block


// ++++++++ texts_list
.texts_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--item {
        width: 33.33%;
        min-width: 340px;
        padding-right: 20px;
        margin-bottom: 60px;
    }
    .ndash {
        display: none;
    }
}

// -------- texts_list


// ++++++++ press_contacts
.press_contacts {
    &--item {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 40px;
        max-width: 760px;
    }

    &--title {
        font-size: 20px;
        line-height: 1;
        padding-right: 80px;
        width: 35%;
        text-align: right;
    }

    &--body {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: 0;
        width: 65%;
        font-size: 16px;
    }

    &--buttons {
        width: 65%;
        margin-bottom: 7px;
    }

    &--links {
        width: 35%;
    }

    .btn-lg {
        font-size: 18px;
        min-width: 200px;
        height: 60px;
        line-height: 60px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 7px;
    }
}
// -------- press_contacts

.social_networks {
    &--text {
        margin-bottom: 1rem;
        font-size: 16px;
        line-height: 1;
        color: #999999;
    }

    &--icons {
        .socialNetworksBlock--link {
            color: $primary;
        }
    }
}


// ++++++++ lifecycle

.lifecycle {
    $lc_parent: &;
    position: relative;
    margin: 0 auto;

    max-width: 824px;

    &--bg_ellipse {
        position: relative;
        padding-bottom: 57%;

        .max_width {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 100%;
            height: 100%;
        }
    }

    &--visual {}

    &--icon {
        position: absolute;
        border-radius: 50%;
        background-color: #DFDFDF;
        width: 144px;
        height: 144px;

        padding-left: 8px;
        padding-right: 8px;

        font-size: 0;
        line-height: 0;

        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        color: $primary;

        border-color: transparent;

        &::before {
            content: attr(data-text);
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

            width: 23px;
            height: 23px;

            position: absolute;
            top: 0;
            right: 0;
            transform: translate3d(50%, -25%, 0);

            font-size: 13px;
            line-height: 1;
            font-weight: 700;
            color: $primary;

            background-color: #fff;
            border: 2px solid #DFDFDF;
            border-radius: 50%;
        }

        &::after {
            content: '';
            border-radius: 50%;
            width: 13px;
            height: 13px;
            position: absolute;
        }

        &[data-text^="empty"]::before {
            content: none;
        }

        &[data-dot^="empty"]::after {
            content: none;
        }

        &-sm {
            width: 50px;
            height: 50px;

            use {
                stroke-width: 2px;
            }
        }

        &-outline {
            background-color: #fff;
            border-width: 2px;
            border-style: solid;
        }

        &-primary,
        &-primary::before {
            border-color: $primary;
        }

        &-primary::after {
            background-color: $primary;
        }

        &-secondary {
            border-color: #DFDFDF;

            &::after {
                background-color: #DFDFDF;
            }
        }

        &-first {
            left: 51.8%;
            top: 1.3%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: 0;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-second {
            left: 26.5%;
            top: 55%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: 19px;
                top: 101%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-third {
            left: 33.5%;
            top: 69.5%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -2px;
                top: 41%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-fourth {
            left: 71.7%;
            top: 64.5%;
            transform: translate3d(-50%, -50%, 0);
        }

        &-fifth {
            left: 18.9%;
            top: 65.7%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: 100%;
                top: 70%;
                transform: translate3d(-50%, -50%, 0);
            }
        }
    }

    &--text {
        position: absolute;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #fff;

        &_body {
            margin-top: 18px;
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 1.1;
        }

        #{$lc_parent}--icon {
            position: static;
        }

        &-delivery {
            top: 14%;
            left: 12.3%;
            transform: translate3d(-50%, 0, 0);
        }

        &-shop {
            border-radius: 50%;
            padding-top: 30px;
            top: 3%;
            left: 90.4%;
            transform: translate3d(-50%, 0, 0);
        }

        &-open {
            top: 54.5%;
            left: 51.6%;
            padding-right: 19px;
            padding-left: 16px;
            transform: translate3d(-50%, 0, 0);

            #{$lc_parent}--icon {
                background-color: $primary;
            }
        }
    }

    &--floating_dot {
        position: absolute;
        top: 59.3%;
        left: 79%;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content: '';
            border-radius: 50%;
            width: 13px;
            height: 13px;
            background: $primary;
        }

        #{$lc_parent}--text_body {
            margin-top: 11px;
            text-align: left;
            font-size: 16px;
            line-height: 1.187;
            font-weight: 600;
            padding-left: 20px;
            color: $primary;
        }
    }

    &--text_description {
        padding-top: 50px;

        ol {
            counter-reset: d_ol;

            li {
                list-style: none;
                position: relative;
                counter-increment: d_ol;


                // font-weight: 300;
                font-size: 16px;
                line-height: 1.37;
                color: #52575A;

                &:before {
                    margin-left: -33px;
                    margin-right: 10px;
                    content: counter(d_ol);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    width: 23px;
                    height: 23px;

                    font-size: 13px;
                    line-height: 1;
                    font-weight: bold;

                    border: 2px solid $primary;
                    border-radius: 50%;
                    color: $primary;
                }
            }
        }
    }
}

// -------- lifecycle


// ++++++++ lifecycle_scf
.lifecycle_scf {
    $lc_parent: &;
    position: relative;

    max-width: 847px;
    margin-left: auto;
    margin-right: auto;

    &--bg_ellipse {
        position: relative;
        padding-bottom: 57%;

        .max_width {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 100%;
            height: 100%;
        }
    }

    &--visual {}

    &--icon {
        position: absolute;
        border-radius: 50%;
        background-color: #DFDFDF;
        width: 144px;
        height: 144px;

        padding-left: 8px;
        padding-right: 8px;

        font-size: 0;
        line-height: 0;

        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        color: $primary;

        border-color: transparent;

        &::before {
            content: attr(data-text);
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

            width: 23px;
            height: 23px;

            position: absolute;
            top: 0;
            right: 0;
            transform: translate3d(50%, -25%, 0);

            font-size: 13px;
            line-height: 1;
            font-weight: 700;
            color: $primary;

            background-color: #fff;
            border: 2px solid #DFDFDF;
            border-radius: 50%;
        }

        &::after {
            content: '';
            border-radius: 50%;
            width: 13px;
            height: 13px;
            position: absolute;
        }

        &[data-text^="empty"]::before {
            content: none;
        }

        &[data-dot^="empty"]::after {
            content: none;
        }

        &-sm {
            width: 50px;
            height: 50px;

            use {
                stroke-width: 2px;
            }
        }

        &-outline {
            background-color: #fff;
            border-width: 2px;
            border-style: solid;
        }

        &-primary,
        &-primary::before {
            border-color: $primary;
        }

        &-primary::after {
            background-color: $primary;
        }

        &-secondary {
            border-color: #DFDFDF;

            &::after {
                background-color: #DFDFDF;
            }
        }

        &-first {
            left: 26.4%;
            top: 20.1%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: 0;
                top: 40%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-second {
            left: 50%;
            top: 65.4%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: 50%;
                top: 110%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-third {
            left: 55.5%;
            top: 40.5%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -2px;
                top: 41%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-fourth {
            left: 34.1%;
            top: 6.6%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: 5px;
                top: 85%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-fifth {
            left: 77.2%;
            top: 70.7%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: 15px;
                top: -3%;
                transform: translate3d(-50%, -50%, 0);
            }
        }
    }

    &--text {
        position: absolute;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #fff;

        &_body {
            margin-top: 18px;
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 1.1;
        }

        #{$lc_parent}--icon {
            position: static;
        }

        &-delivery {
            border-radius: 50%;
            padding-top: 10px;
            top: 53%;
            left: 37.4%;
            transform: translate3d(-50%, 0, 0);
        }

        &-delivery_2 {
            border-radius: 0;
            left: 62.2%;
        }

        &-shop {
            border-radius: 33%;
            padding-top: 30px;
            top: 12.5%;
            left: 12%;
            transform: translate3d(-50%, 0, 0);
        }

        &-open {
            border-radius: 9%;
            padding-top: 14px;
            top: 16.6%;
            left: 89.9%;
            padding-right: 19px;
            padding-left: 16px;
            transform: translate3d(-50%, 0, 0);

            #{$lc_parent}--icon {
                background-color: $primary;
            }
        }

        &-laptop {
            top: 9.5%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);

            #{$lc_parent}--icon {
                background-color: $primary;
            }
        }
    }

    &--floating_dot {
        position: absolute;
        top: 59.3%;
        left: 79%;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content: '';
            border-radius: 50%;
            width: 13px;
            height: 13px;
            background: $primary;
        }

        #{$lc_parent}--text_body {
            margin-top: 11px;
            text-align: left;
            font-size: 16px;
            line-height: 1.187;
            font-weight: 600;
            padding-left: 20px;
            color: $primary;
        }
    }

    &--text_description {
        padding-top: 50px;

        ol {
            counter-reset: d_ol;

            li {
                list-style: none;
                position: relative;
                counter-increment: d_ol;


                // font-weight: 300;
                font-size: 16px;
                line-height: 1.37;
                color: #52575A;

                &:before {
                    margin-left: -33px;
                    margin-right: 10px;
                    content: counter(d_ol);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    width: 23px;
                    height: 23px;

                    font-size: 13px;
                    line-height: 1;
                    font-weight: bold;

                    border: 2px solid $primary;
                    border-radius: 50%;
                    color: $primary;
                }
            }
        }
    }
}

// -------- lifecycle_scf

// ++++++++ lifecycle_with_agreement
.lifecycle_with_agreement {
    $lc_parent: &;
    position: relative;

    max-width: 706px;
    margin: 0 auto;

    &--bg_ellipse {
        position: relative;
        padding-bottom: 57%;

        .max_width {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 100%;
            height: 100%;
        }
    }

    &--visual {}

    &--icon {
        position: absolute;
        border-radius: 50%;
        background-color: #DFDFDF;
        width: 144px;
        height: 144px;

        padding-left: 8px;
        padding-right: 8px;

        font-size: 0;
        line-height: 0;

        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        color: $primary;

        border-color: transparent;

        &::before {
            content: attr(data-text);
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

            width: 23px;
            height: 23px;

            position: absolute;
            top: 0;
            right: 0;
            transform: translate3d(50%, -25%, 0);

            font-size: 13px;
            line-height: 1;
            font-weight: 700;
            color: $primary;

            background-color: #fff;
            border: 2px solid #DFDFDF;
            border-radius: 50%;
        }

        &::after {
            content: '';
            border-radius: 50%;
            width: 13px;
            height: 13px;
            position: absolute;
        }

        &[data-text^="empty"]::before {
            content: none;
        }

        &[data-dot^="empty"]::after {
            content: none;
        }

        &-sm {
            width: 50px;
            height: 50px;

            use {
                stroke-width: 2px;
            }
        }

        &-outline {
            background-color: #fff;
            border-width: 2px;
            border-style: solid;
        }

        &-primary,
        &-primary::before {
            border-color: $primary;
        }

        &-primary::after {
            background-color: $primary;
        }

        &-secondary {
            border-color: #DFDFDF;

            &::after {
                background-color: #DFDFDF;
            }
        }

        &-first {
            left: 49.4%;
            top: 2%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -5%;
                top: 45%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-second {
            left: 22.6%;
            top: 68.2%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -6%;
                top: 74%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-third {
            left: 28%;
            top: 82.4%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -2px;
                top: 41%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-fourth {
            left: 13%;
            top: 76.4%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -1px;
                top: 58%;
                transform: translate3d(-50%, -50%, 0);
            }

            &::before {
                top: -5px;
                right: 5px;
            }
        }

        &-fifth {
            left: 83.2%;
            top: 77.7%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -3px;
                top: 64%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-sixth {
            left: 68.5%;
            top: 90%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -4px;
                top: 61%;
                transform: translate3d(-50%, -50%, 0);
            }

            &::before {
                top: -4px;
                right: 5px;
            }
        }
    }

    &--text {
        position: absolute;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #fff;

        &_body {
            margin-top: 18px;
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 1.1;
        }

        #{$lc_parent}--icon {
            position: static;
        }

        &-delivery {
            border-radius: 29%;
            padding-top: 11px;
            top: 14.4%;
            left: 3.3%;
            transform: translate3d(-50%, 0, 0);
        }

        &-shop {
            border-radius: 50%;
            padding-top: 36px;
            top: 7.4%;
            left: 93.2%;
            transform: translate3d(-50%, 0, 0);
        }

        &-open {
            border-radius: 9%;
            padding-top: 14px;
            top: 60.8%;
            left: 49.15%;
            padding-right: 19px;
            padding-left: 16px;
            transform: translate3d(-50%, 0, 0);

            #{$lc_parent}--icon {
                background-color: $primary;
            }
        }
    }

    &--floating_dot {
        position: absolute;
        top: 86%;
        left: 76%;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content: '';
            border-radius: 50%;
            width: 13px;
            height: 13px;
            background: #dfdfdf;
        }

        #{$lc_parent}--text_body {
            margin-top: 23px;
            text-align: left;
            font-size: 16px;
            line-height: 1.187;
            font-weight: 600;
            padding-left: 10px;
            color: $primary;
        }

        &-2 {
            top: 74.6%;
            left: 92%;

            #{$lc_parent}--text_body {
                margin-top: 11px;
            }
        }
    }

    &--text_description {
        padding-top: 50px;

        ol {
            counter-reset: d_ol;

            li {
                list-style: none;
                position: relative;
                counter-increment: d_ol;


                // font-weight: 300;
                font-size: 16px;
                line-height: 1.37;
                color: #52575A;

                &:before {
                    margin-left: -33px;
                    margin-right: 10px;
                    content: counter(d_ol);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    width: 23px;
                    height: 23px;

                    font-size: 13px;
                    line-height: 1;
                    font-weight: bold;

                    border: 2px solid $primary;
                    border-radius: 50%;
                    color: $primary;
                }
            }
        }
    }
}

// -------- lifecycle_with_agreement


// ++++++++ lifecycle_agent
.lifecycle_agent {
    $lc_parent: &;
    position: relative;
    margin: 0 auto;

    max-width: 700px;

    &--bg_ellipse {
        position: relative;
        padding-bottom: 57%;

        .max_width {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 100%;
            height: 100%;
        }
    }

    &--visual {}

    &--icon {
        position: absolute;
        border-radius: 50%;
        background-color: #DFDFDF;
        width: 144px;
        height: 144px;

        padding-left: 8px;
        padding-right: 8px;

        font-size: 0;
        line-height: 0;

        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        color: $primary;

        border-color: transparent;

        &::before {
            content: attr(data-text);
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

            width: 23px;
            height: 23px;

            position: absolute;
            top: 0;
            right: 0;
            transform: translate3d(50%, -25%, 0);

            font-size: 13px;
            line-height: 1;
            font-weight: 700;
            color: $primary;

            background-color: #fff;
            border: 2px solid #DFDFDF;
            border-radius: 50%;
        }

        &::after {
            content: '';
            border-radius: 50%;
            width: 13px;
            height: 13px;
            position: absolute;
        }

        &[data-text^="empty"]::before {
            content: none;
        }

        &[data-dot^="empty"]::after {
            content: none;
        }

        &-sm {
            width: 50px;
            height: 50px;

            use {
                stroke-width: 2px;
            }
        }

        &-outline {
            background-color: #fff;
            border-width: 2px;
            border-style: solid;
        }

        &-primary,
        &-primary::before {
            border-color: $primary;
        }

        &-primary::after {
            background-color: $primary;
        }

        &-secondary {
            border-color: #DFDFDF;

            &::after {
                background-color: #DFDFDF;
            }
        }

        &-fill {
            border: 2px solid #fff;
            background-color: $primary;

            &::after {
                display: none;
            }

            &::before {
                border-color: $primary;
            }
        }

        &-null {
            left: 44.8%;
            top: 1%;
            transform: translate3d(-50%, -50%, 0);

            &::before {
                display: none;
            }

            &::after {
                left: -5%;
                top: 45%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-first {
            left: 34.4%;
            top: 96%;
            width: 61px;
            height: 61px;
            transform: translate3d(-50%, -50%, 0);

            &::before {
                left: -14px;
                top: -2px;
            }
        }

        &-second {
            left: 69.8%;
            top: 74.6%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -6%;
                top: 74%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-third {
            left: 18%;
            top: 71.4%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -2px;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-fourth {
            left: 78.9%;
            top: 77%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -3px;
                top: 67%;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &-fifth {
            left: 63.2%;
            top: 90.7%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -3px;
                top: 64%;
                transform: translate3d(-50%, -50%, 0);
            }

            &::before {
                top: -5px;
                right: 6px;
            }
        }

        &-sixth {
            left: 68.5%;
            top: 90%;
            transform: translate3d(-50%, -50%, 0);

            &::after {
                left: -4px;
                top: 61%;
                transform: translate3d(-50%, -50%, 0);
            }

            &::before {
                top: -4px;
                right: 5px;
            }
        }
    }

    &--text {
        position: absolute;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #fff;

        &_body {
            margin-top: 18px;
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 1.1;
        }

        #{$lc_parent}--icon {
            position: static;
        }

        &-delivery {
            border-radius: 29%;
            padding-top: 11px;
            top: 17.4%;
            left: -2%;
            transform: translate3d(-50%, 0, 0);
        }

        &-shop {
            border-radius: 50%;
            padding-top: 36px;
            top: 7%;
            left: 89%;
            transform: translate3d(-50%, 0, 0);
        }

        &-open {
            border-radius: 9%;
            padding-top: 14px;
            top: 60.3%;
            left: 44.55%;
            padding-right: 19px;
            padding-left: 16px;
            transform: translate3d(-50%, 0, 0);

            #{$lc_parent}--icon {
                background-color: $primary;
            }
        }
    }

    &--floating_dot {
        position: absolute;
        top: 87%;
        left: 72%;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content: '';
            border-radius: 50%;
            width: 13px;
            height: 13px;
            background: $primary;
        }

        #{$lc_parent}--text_body {
            margin-top: 23px;
            text-align: left;
            font-size: 16px;
            line-height: 1.187;
            font-weight: 600;
            padding-left: 10px;
            color: $primary;
        }

        &-2 {
            top: 74.6%;
            left: 88%;

            #{$lc_parent}--text_body {
                margin-top: 11px;
            }
        }
    }

    &--text_description {
        padding-top: 50px;

        ol {
            counter-reset: d_ol;

            li {
                list-style: none;
                position: relative;
                counter-increment: d_ol;


                // font-weight: 300;
                font-size: 16px;
                line-height: 1.37;
                color: #52575A;

                &:before {
                    margin-left: -33px;
                    margin-right: 10px;
                    content: counter(d_ol);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    width: 23px;
                    height: 23px;

                    font-size: 13px;
                    line-height: 1;
                    font-weight: bold;

                    border: 2px solid $primary;
                    border-radius: 50%;
                    color: $primary;
                }
            }
        }
    }
}

// -------- lifecycle_agent


// ++++++++ frame_text
.frame_text {
    max-width: 851px;
    background-color: #fff;
    box-shadow: 0px 6px 20px #E1E7EB;
    border-radius: 10px;

    padding: 60px 40px;
    margin-bottom: 6.5vw;
    margin-top: 6.5vw;

    font-weight: 300;
    font-size: 22px;
    line-height: 1.36;

    &-py_md {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    &-text_sm {
        font-size: 16px;
        line-height: 1.37;
    }

    &-text_lg {
        font-size: 24px;
        line-height: 1.37;
    }

    &-wide {
        max-width: 1200px;
    }
}


a.frame_text {
    color: $black;
    text-decoration: none;
    display: block;
    transition: color .3s;

    &:hover {
        text-decoration: none;
        color: $primary;
    }
}

// -------- frame_text


// ++++++++ mp_images

.mp_images {
    img {
        mix-blend-mode: multiply;
    }
}

// -------- mp_images



// ++++++++ case steps

.case_steps {
    margin-top: 80px;
    // margin-bottom: 80px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &--tabs_btn {
        min-width: 190px;
    }

    &--step {
        max-width: 15.2%;
    }

    &--title {
        margin-bottom: 17px;
        font-size: 16px;
        line-height: 1.3125;
        color: #008099;
    }

    &--body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 200px;
        margin-bottom: 28px;
        background: #FFFFFF;
        box-shadow: 0px 6px 20px #E1E7EB;
        border-radius: 10px;

        padding-left: 10px;
        padding-right: 10px;

        font-size: 20px;
        line-height: 1;
        font-weight: 300;

        &_line {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;

            &:first-child {
                margin-top: auto;
            }

            &:last-child {
                margin-bottom: auto;
            }
        }

        .text-lg {
            font-size: 40px;
        }
    }

    &--subscript {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.28;
        color: #52575A;
    }

}

// -------- case steps


// ++++++++ person_card

.person_card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "lt-image lt-name"
        "lt-image lt-position"
        "lt-image lt-description";
    grid-column-gap: 20px;
    grid-row-gap: 10px;

    font-size: 16px;
    color: $black;

    .lt {
        &-image {
            grid-area: lt-image;
            img {
                max-width: 80px;
                border-radius: 50%;
            }
        }

        &-name {
            grid-area: lt-name;
        }

        &-position {
            grid-area: lt-position;
        }

        &-description {
            grid-area: lt-description;
        }
    }

    &--image {
    }

    &--name {
        padding-top: 22px;
        font-weight: 600;
        line-height: 1;

        &-lg {
            font-weight: 300;
            font-size: 24px;
            line-height: 1.2;
        }
    }

    &--position {
        font-weight: 600;
        line-height: 1;
    }

    &--description {
        padding-top: 10px;
        font-weight: 300;
    }

    &-vertical {
        display: block;
        color: #333;
    }

}

// -------- person_card

// ++++++++ vacancies_categories

.vacancies_categories {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    &--item {
        width: 33.3%;
    }

    &--link {
        color: $black;
        font-size: 16px;

        sup {
            color: #008099;
        }
    }
}

// -------- vacancies_categories

// ++++++++ text-card

.text_cards_list {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.text_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    max-width: 490px;
    background-color: #fff;
    box-shadow: 0px 6px 20px #E1E7EB;
    border-radius: 10px;
    padding: 50px;

    &--title {
        font-weight: 300;
        font-size: 24px;
        line-height: 1.33;
        margin-bottom: 20px;
    }

    &--text {
        margin-bottom: 30px;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.37;
    }
}

// -------- text-card

// ++++++++ pinned_card
.pinned_cards_list {
    display: flex;
    align-items: flex-start;
}

.pinned_card {
    width: 25%;
    color: $black;

    &--head {
        display: flex;
        align-items: center;

        min-height: 68px;

        padding-bottom: 25px;
        margin-bottom: 30px;
        border-bottom: 1px solid #ddd;
    }

    &--head_icon {
        margin-right: 20px;
    }

    &--head_text {
        font-weight: 300;
        font-size: 24px;
        line-height: 1;
    }

    &--body {
        padding-right: 30px;
    }

    &--image {
        margin-bottom: 15px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--quote {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.375;
    }
}

// -------- pinned_card


// ++++++++ video_block
.video_block {
    position: relative;
    padding-bottom: 68%;

    &--preview {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: .6;
        }
    }

    &--button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

// -------- video_block


// ++++++++ accordion
.accordion {
    &--item {
        margin-bottom: 15px;
    }

    &--text {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.375;
        padding-bottom: 1px;
    }
}

// -------- accordion

// ++++++++ 404
._404 {
    display: flex;
    align-items: center;
    justify-content: center;

    &--left {
        margin-right: 10px;
        font-weight: bold;
        font-size: 100px;
        line-height: 100px;
    }

    &--right {
        margin-left: 10px;
    }
}

// -------- 404


// ++++++++ team_list
.team_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
    column-gap: 50px;
}

// -------- team_list



// ++++++++ forms
$textInputs: 'input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], input[type=search]';
$textInputsFocus: 'input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly])';

.inputContainer {
    margin-bottom: 15px;

    .helperText {
        padding: 5px 0 0 22px;
        font-size: 13px;
        color: #333;
    }

    &.form-check1 {
        .helperText {
            padding: 5px 0 0 0;
            font-size: 13px;
            font-weight: 600;
            color: #333;
        }
    }
}

.inputWrap {
    position: relative;
    min-height: 60px;

    &-sm {
        min-height: 32px;
        &.inputWrap select.form-control:not([size]):not([multiple]),
        select {
            height: 32px !important;
        }
    }

    &__inputPrefix {
        position: absolute;
        top: 29px;
        left: 20px;
        display: none;
        font-weight: 700;

        .active~& {
            display: block;
        }
    }

    .withPrefix {
        padding-left: 35px !important;
    }

    .form-control {
        &::-webkit-input-placeholder {
            opacity: 0;
        }

        &::-moz-placeholder {
            opacity: 0;
        }

        &:-ms-input-placeholder {
            opacity: 0;
        }

        &::-ms-input-placeholder {
            opacity: 0;
        }

        &::placeholder {
            opacity: 0;
        }
    }

    select,
    select.form-control:not([size]):not([multiple]) {
        z-index: 4;
        appearance: none;
        background-repeat: no-repeat;
        background-position: calc(100% - 15px) 50%;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAElBMVEUAAABgr99gr99gr+FgsOFgsOFX/QHeAAAABXRSTlMAIHBw3w/7d2wAAAAvSURBVHgBrcchAgAxCMTA2wP+/+UiElFfBJv5Xl7FSq2mcXr+fZi4h0AaaaSRRgc2bgC4Qpe1dAAAAABJRU5ErkJggg==");
        background-color: transparent !important;
        border: none;
        padding: 20px 20px 0;
        height: 60px !important;
        width: 100%;
        position: relative;
        backface-visibility: hidden;
        border: 1px solid #DFDFDF;
        color: $black;
        font-size: 17px;

        &.error {
            border-color: #fe363c;
        }

        &:focus {
            appearance: none;
            background-repeat: no-repeat;
            background-position: calc(100% - 15px) 50%;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAElBMVEUAAABgr99gr99gr+FgsOFgsOFX/QHeAAAABXRSTlMAIHBw3w/7d2wAAAAvSURBVHgBrcchAgAxCMTA2wP+/+UiElFfBJv5Xl7FSq2mcXr+fZi4h0AaaaSRRgc2bgC4Qpe1dAAAAABJRU5ErkJggg==");
            background-color: transparent !important;
            box-shadow: 0 0 0 1px #DFDFDF;
        }

        &::-ms-expand {
            display: none;
        }

        option {
            // background-color: #262626;
        }
    }

    label.awesomeLabel {
        z-index: 3;
        backface-visibility: hidden;
        margin-bottom: 3px;
        font-size: 17px;
        position: absolute;
        bottom: 100%;
        transform: translateY(63px);
        height: 60px;
        line-height: 54px;
        padding-top: 0;
        left: 22px;
        color: #8D8D8D;
        will-change: transform, box-shadow;
        transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);

        span {
            line-height: 13px;
            display: inline-block;
            vertical-align: middle;
        }

        &.cnt {
            font-size: 12px;
        }

        &.active {
            transform: translateY(48px);
            font-size: 14px;
        }
    }

    #{$textInputs} {
        border: none;
        padding: 18px 22px 0;
        height: 60px !important;
        width: 100%;
        position: relative;
        z-index: 2;
        backface-visibility: hidden;
        border: 1px solid #DFDFDF;
        font-size: 17px;

        color: $black;

        &._masked {
            letter-spacing: 1.8px;
        }

    }
    .parsley-error {
        & #{$textInputs} {
            border-color: #fe363c;
            color: #fe363c;
        }
    }

    textarea.md-textarea {
        border: none;
        padding: 30px 22px 0;
        height: 150px !important;
        width: 100%;
        position: relative;
        z-index: 2;
        backface-visibility: hidden;
        border: 1px solid #DFDFDF;
        resize: none;
        font-size: 17px;

        &.error {
            border-color: #fe363c;
        }
        label.awesomeLabel {
            left: 32px;
        }
    }

    &__autoComplete {
        width: calc(100% + 0px);
        background-color: #181818;
        color: #DFDFDF;
        border: 1px solid #696969;
        border-top-color: transparent;
        border-radius: 0 0 3.5px 3.5px;
        margin: -9px 0 0;
        box-shadow: 0 5px 5px rgba(black, .7);

        li {
            padding: 5px 20px 4px;
            cursor: pointer;
        }

        &:hover {
            background-color: lighten(#181818, 10%);
        }

        .active~& {
            border-color: #DFDFDF;
            border-top-color: transparent;
        }

        .parsley-error & {
            border-color: #fe363c !important;
            border-top-color: transparent;
        }
    }
}

.active {
    &+#{$textInputs} {
        border-color: #60B0E1 !important;
    }

    &+textarea.md-textarea,
    &+select {
        border-color: #60B0E1 !important;
    }
}

.active+#{$textInputsFocus} {
    border-color: #60B0E1 !important;
}

.active+textarea.md-textarea:focus,
.active+select:focus {
    border-color: #60B0E1;
}

.parsley-error .active+ {
    #{$textInputsFocus} {
        border-color: #fe363c !important;
    }
}

.select2-dropdown {
    border-width: 1px;
    border-color: #60B0E1;
}

.parsley-error {

    .form-check1-label:after,
    select,
    textarea,
    textarea.md-textarea:focus,
    select:focus,
    #{$textInputs},
    label.awesomeLabel {
        border-color: #fe363c !important;
        color: #DF4444;
    }
    .inputWrap:after {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        width: 20px;
        height: 20px;
        z-index: 4;
        
        text-align: center;
        line-height: 20px;
        
        border-radius: 50%;

        content: '!';
        color: #DF4444;
        border-color: #DF4444;
        background-color: #fff;
    }
}


.inputWrap:after {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px;
    height: 20px;
    z-index: 4;
    
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    .parsley-success & {
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAMAAABVLlSxAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAECAwQF9gf4CPkJ+vv9/vO8SMAQAAADxJREFUeNpFjFkSACAIQts3S7v/aSM/lI8ngwzBldyuY7ZcyxN3YMfviYHIBDY09Du1ocoy6PiE+Hareh4+OgEzhViltwAAAABJRU5ErkJggg==);
        border-color: #8EC96E;
        background-color: #8EC96E;
    }
}

.inline_items,
.form-check1 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.i-switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 20px;

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        cursor: pointer;
        margin-bottom: 0;
        border: 3px solid #6d6d6d;
        border-radius: 28px;
        background-color: #6d6d6d;
        transition: background-color .2s linear, border-color .2s linear;

        &:before,
        &:after {
            font-weight: 300;
            font-size: 11px;
            line-height: 11px;
            color: #fff;
            position: absolute;
            z-index: 15;
            opacity: 0;
            top: 2px;
            transition: opacity .2s linear;
        }

        &:before {
            content: 'ON';
            left: 5px;
        }

        &:after {
            content: 'OFF';
            right: 3px;
            opacity: 1;
        }
    }

    &__btn {
        position: absolute;
        z-index: 25;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
        width: 14px;
        height: 14px;
        transition: left .2s linear;
    }

    [type="checkbox"] {
        display: none;

        &:checked+label {
            border-color: $primary;
            background-color: $primary;

            &:before {
                opacity: 1;
            }

            &:after {
                opacity: 0;
            }

            .i-switch {

                &__btn {
                    left: calc(100% - 15px);
                }
            }
        }
    }
}

.form-check1 {
    position: relative;
    display: block;
    min-height: 2.3rem;
    backface-visibility: hidden;
    min-width: 20px;

    &-input {
        position: absolute;
        margin-top: .3rem;
        margin-left: -1.25rem;

        &:disabled~.form-check1-label {
            color: #6c757d;
        }
    }
    &-label {
        margin-bottom: 0;
    }

    &-input[type=checkbox]+label:after {
        border: 1px solid $primary;
    }

    &-input[type=checkbox]+label:hover:after {
        box-shadow: inset 0 0 3px 3px rgba(96, 176, 225, 0.24);
    }
    &-inline {
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 0;
        margin-right: 0.75rem;

        .form-check1-input {
            position: static;
            margin-top: 0;
            margin-right: .3125rem;
            margin-left: 0;
        }
    }
    &-input.is-valid~&-label,
    .was-validated &-input:valid~&-label {
        color: #28a745;
    }
    &-input.is-invalid~&-label,
    .was-validated &-input:invalid~&-label {
        color: #dc3545;
    }
}

.form-check1-input[type=radio]+label,
label.btn input[type=radio]+label {
    backface-visibility: hidden;
    padding-top: 3px;
}

.form-check1-input[type=radio]+label {

    &:after,
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 20px;
        height: 20px;
        z-index: 0;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        -webkit-transition: transform 0.25s cubic-bezier(0, 0, 0.2, 0.5);
        -o-transition: transform 0.25s cubic-bezier(0, 0, 0.2, 0.5);
        transition: transform 0.25s cubic-bezier(0, 0, 0.2, 0.5);
        backface-visibility: hidden;
    }
}

label.btn input[type=radio]+label {

    &:after,
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 20px;
        height: 20px;
        z-index: 0;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        -webkit-transition: transform 0.25s cubic-bezier(0, 0, 0.2, 0.5);
        -o-transition: transform 0.25s cubic-bezier(0, 0, 0.2, 0.5);
        transition: transform 0.25s cubic-bezier(0, 0, 0.2, 0.5);
        backface-visibility: hidden;
    }
}

.form-check1-input[type=radio]:not(:checked)+label {

    &:after,
    &:before {
        border-color: #d8d8d8;
    }
}

label.btn input[type=radio]:not(:checked)+label {

    &:after,
    &:before {
        border-color: #d8d8d8;
    }
}

.form-check1-input[type=radio]:not(:checked)+label:after,
label.btn input[type=radio]:not(:checked)+label:after {
    z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    backface-visibility: hidden;
}

.form-check1-input[type=radio]:checked+label:before,
label.btn input[type=radio]:checked+label:before {
    border-color: transparent;
}

.form-check1-input[type=radio]:checked+label:after,
label.btn input[type=radio]:checked+label:after {
    border-color: $primary;
    background-color: $primary;
    box-shadow: inset 0 0 0 3px white;
    z-index: 0;
    backface-visibility: hidden;
}

.form-check1-input[type=radio]:disabled+label,
label.btn input[type=radio]:disabled+label {
    color: rgba(0, 0, 0, 0.46);
}

.form-check1-input[type=radio]:disabled+label:before,
label.btn input[type=radio]:disabled+label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.46);
}

.form-check1-input[type=radio]:disabled:not(:checked)+label:before,
label.btn input[type=radio]:disabled:not(:checked)+label:before {
    border-color: rgba(0, 0, 0, 0.46);
}

.form-check1-input[type=radio]:disabled:checked+label:after,
label.btn input[type=radio]:disabled:checked+label:after {
    background-color: rgba(0, 0, 0, 0.46);
    border-color: #bdbdbd;
}

.form-check1-input[type=radio].with-gap:checked+label:before,
label.btn input[type=radio].with-gap:checked+label:before {
    border-color: #dc3545;
}

.form-check1-input[type=radio].with-gap:checked+label:after,
label.btn input[type=radio].with-gap:checked+label:after {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    backface-visibility: hidden;
}

.form-check1-input[type=radio].with-gap:checked:disabled+label:before,
label.btn input[type=radio].with-gap:checked:disabled+label:before {
    border-color: rgba(0, 0, 0, 0.46);
}

.form-check1-input[type=checkbox]+label:before,
label.btn input[type=checkbox]+label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #8a8a8a;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: 0.2s;
}

.form-check1-input[type=checkbox]:checked+label:before,
label.btn input[type=checkbox]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #dc3545 #dc3545 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.form-check1-input[type=checkbox]:indeterminate+label:before,
label.btn input[type=checkbox]:indeterminate+label:before {
    left: -10px;
    top: -11px;
    width: 10px;
    height: 22px;
    border: none;
    border-right: 2px solid #dc3545;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.form-check1-input[type=checkbox]:disabled:checked+label:before,
label.btn input[type=checkbox]:disabled:checked+label:before {
    border-color: transparent rgba(0, 0, 0, 0.46) rgba(0, 0, 0, 0.46) transparent;
}

.form-check1-input[type=checkbox]:disabled:not(:checked)+label:before,
label.btn input[type=checkbox]:disabled:not(:checked)+label:before {
    border: none;
    margin-left: 2px;
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.46);
}

.form-check1-input[type=checkbox]:disabled:indeterminate+label:before,
label.btn input[type=checkbox]:disabled:indeterminate+label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.46);
    margin-left: 0;
    margin-top: 0;
    background-color: transparent;
}

.form-check1-input[type=checkbox][class*=filled-in]+label {

    &:after,
    &:before {
        content: "";
        left: 0;
        position: absolute;
        -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        -o-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        z-index: 1;
        border-style: solid;
        border-width: 2px;
    }
}

label.btn input[type=checkbox][class*=filled-in]+label {
    &:after,
    &:before {
        content: "";
        left: 0;
        position: absolute;
        -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        -o-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        z-index: 1;
        border-style: solid;
        border-width: 2px;
    }
}

.form-check1-input[type=checkbox][class*=filled-in]+label:after,
label.btn input[type=checkbox][class*=filled-in]+label:after {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 20px;
    width: 20px;
}

.form-check1-input[type=checkbox][class*=filled-in]+label:before,
label.btn input[type=checkbox][class*=filled-in]+label:before {
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.form-check1-input[type=checkbox][class*=filled-in]:not(:checked)+label:before,
label.btn input[type=checkbox][class*=filled-in]:not(:checked)+label:before {
    width: 0;
    height: 0;
    border-style: 3px;
    border-color: transparent;
    left: 6px;
    top: 10px;
}

.form-check1-input[type=checkbox][class*=filled-in]:not(:checked)+label:after,
label.btn input[type=checkbox][class*=filled-in]:not(:checked)+label:after {
    background-color: transparent;
    border-color: $primary;
    top: 0;
    z-index: 0;
}


.form-check1-input[type=checkbox][class*=filled-in]:checked+label:before,
label.btn input[type=checkbox][class*=filled-in]:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-color: transparent #fff #fff transparent;
}

.form-check1-input[type=checkbox][class*=filled-in]:disabled:not(:checked)+label:before,
label.btn input[type=checkbox][class*=filled-in]:disabled:not(:checked)+label:before {
    background-color: transparent;
    border-color: #bdbdbd;
}

.form-check1-input[type=checkbox][class*=filled-in]:disabled:not(:checked)+label:after,
label.btn input[type=checkbox][class*=filled-in]:disabled:not(:checked)+label:after {
    border-color: transparent;
    background-color: #bdbdbd;
}

.form-check1-input[type=checkbox][class*=filled-in]:disabled:checked+label:before,
label.btn input[type=checkbox][class*=filled-in]:disabled:checked+label:before {
    background-color: transparent;
}

.form-check1-input[type=checkbox][class*=filled-in]:disabled:checked+label:after,
label.btn input[type=checkbox][class*=filled-in]:disabled:checked+label:after {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}

.form-check1-input[type=checkbox].filled-in-danger:checked+label:after,
label.btn input[type=checkbox].filled-in-danger:checked+label:after {
    background-color: #f44336;
    border-color: #f44336;
}

.form-check1-input {

    &[type=checkbox]+label,
    &[type=radio]+label {
        position: relative;
        padding-left: 2.19rem;
        cursor: pointer;
        display: inline-block;
        min-height: 1.57rem;
        line-height: 1.57rem;
        font-size: 1rem;
    }
}

label.btn input {

    &[type=checkbox]+label,
    &[type=radio]+label {
        position: relative;
        padding-left: 2.19rem;
        cursor: pointer;
        display: inline-block;
        min-height: 1.57rem;
        line-height: 1.57rem;
        font-size: 1rem;
    }
}

.form-check1-input {

    &[type=checkbox]+label,
    &[type=radio]+label {
        position: relative;
        padding-left: 2.19rem;
        cursor: pointer;
        display: inline-block;
        min-height: 1.57rem;
        line-height: 1.57rem;
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    .form-inline label {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
    }
}

.form-check1-label {
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .form-inline .form-check {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: auto;
        padding-left: 0;
    }
}

.form-inline .form-check {
    width: 100%;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.form-check1-input {

    &[type=checkbox],
    &[type=radio] {
        position: absolute;
        left: -9999px;
        visibility: hidden;
    }
}

label.btn input {

    &[type=checkbox],
    &[type=radio] {
        position: absolute;
        left: -9999px;
        visibility: hidden;
    }
}

.form-check1-input[type=checkbox] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

@media (min-width: 576px) {
    .form-inline .form-check1-input {
        position: relative;
        margin-top: 0;
        margin-right: .25rem;
        margin-left: 0;
    }
}

input {

    &[type=checkbox],
    &[type=radio] {
        box-sizing: border-box;
        padding: 0;
    }
}

.form-check1-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;

    &[type=checkbox]+label,
    &[type=radio]+label {
        position: relative;
        padding-left: 2.19rem;
        cursor: pointer;
        display: inline-block;
        min-height: 1.57rem;
        line-height: 1.57rem;
        font-size: 1rem;
    }
}

label.btn input {

    &[type=checkbox]+label,
    &[type=radio]+label {
        position: relative;
        padding-left: 2.19rem;
        cursor: pointer;
        display: inline-block;
        min-height: 1.57rem;
        line-height: 1.57rem;
        font-size: 1rem;
    }
}

.form-check1-input {

    &[type=checkbox]+label,
    &[type=radio]+label {
        position: relative;
        padding-left: 2.19rem;
        cursor: pointer;
        display: inline-block;
        min-height: 1.57rem;
        line-height: 1.57rem;
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    .form-inline label {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
    }
}

.form-check1-label {
    margin-bottom: 0;
}

.form-check1-input[type=checkbox][class*=filled-in]:checked+label:before,
label.btn input[type=checkbox][class*=filled-in]:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-color: transparent #fff #fff transparent;
}

.form-check1-input[type=checkbox][class*=filled-in]+label:before,
label.btn input[type=checkbox][class*=filled-in]+label:before {
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.form-check1-input[type=checkbox][class*=filled-in]+label {

    &:after,
    &:before {
        content: "";
        left: 0;
        position: absolute;
        -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        -o-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        z-index: 1;
        border-style: solid;
        border-width: 2px;
    }
}

label.btn input[type=checkbox][class*=filled-in]+label {

    &:after,
    &:before {
        content: "";
        left: 0;
        position: absolute;
        -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        -o-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        z-index: 1;
        border-style: solid;
        border-width: 2px;
    }
}

.form-check1-input[type=checkbox]:checked+label:before,
label.btn input[type=checkbox]:checked+label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #dc3545 #dc3545 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.form-check1-input[type=checkbox]+label:before,
label.btn input[type=checkbox]+label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border: 1.5px solid #8a8a8a;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.form-check1-input[type=checkbox][class*=filled-in]:checked+label:after,
label.btn input[type=checkbox][class*=filled-in]:checked+label:after {
    top: 0;
    border-color: $primary;
    background-color: $primary;
    z-index: 0;
}

.form-check1-input[type=checkbox][class*=filled-in]+label:after,
label.btn input[type=checkbox][class*=filled-in]+label:after {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 20px;
    width: 20px;
}

.form-check1-input[type=checkbox][class*=filled-in]+label {

    &:after,
    &:before {
        content: "";
        left: 0;
        position: absolute;
        -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        -o-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        z-index: 1;
        border-style: solid;
        border-width: 1px;
    }
}

label.btn input[type=checkbox][class*=filled-in]+label {

    &:after,
    &:before {
        content: "";
        left: 0;
        position: absolute;
        -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        -o-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
        z-index: 1;
        border-style: solid;
        border-width: 1px;
    }
}

@-webkit-keyframes autofill {
    to {
        color: $black;

        /*background: linear-gradient(to bottom, rgba(36,36,36,0.001) 0%, rgba(36,36,36,1) 10%, rgba(36,36,36,1) 90%, rgba(36,36,36,0.001) 100%);*/
        /*background: radial-gradient(ellipse at 10%, rgba(36,36,36,1) 0%,rgba(36,36,36,1) 54%,rgba(36,36,36,0.001) 59%,rgba(36,36,36,0.001) 100%);*/
        background: transparent;
    }
}
@-webkit-keyframes autofillError {
    to {
        color: #DF4444;
        border-color: #DF4444;

        /*background: linear-gradient(to bottom, rgba(36,36,36,0.001) 0%, rgba(36,36,36,1) 10%, rgba(36,36,36,1) 90%, rgba(36,36,36,0.001) 100%);*/
        /*background: radial-gradient(ellipse at 10%, rgba(36,36,36,1) 0%,rgba(36,36,36,1) 54%,rgba(36,36,36,0.001) 59%,rgba(36,36,36,0.001) 100%);*/
        background: transparent;
    }
}

.parsley-error textarea:-webkit-autofill,
.parsley-error select:-webkit-autofill,
.parsley-error input:-webkit-autofill {
    -webkit-animation-name: autofillError;
    -webkit-animation-fill-mode: both;
}

textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

label.error {
    position: absolute;
}

.prsError {
    color: #fe363c;
}

// -------- forms

.steps_slider {
    margin-bottom: 80px;
    &--bar {
        height: 10px;
        width: 100%;
        position: relative;

        background-color: $gray-300;

        &::before,
        &::after {
            display: block;
            content: attr(data-start);
            margin-top: 10px;
            position: absolute;
            top: 100%;
            left: -10px;
        }
        &::after {
            content: attr(data-finish);
            left: unset;
            right: -9px;
        }
        .before,
        .after {
            display: block;
            content: '';

            background-color: $primary;

            width: 20px;
            height: 20px;
            border-radius: 50%;

            position: absolute;
            top: 50%;
            left: 0;
            transform: translate3d(-50%, -50%, 0);
        }
        .after {
            background-color: $gray-300;
            left: unset;
            right: 0;
            transform: translate3d(50%, -50%, 0);
        }
    }
    &--indicator {
        background-color: $primary;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        transition: width .2s;
        backface-visibility: hidden;
        &[style*="100%"] + .after {
            background-color: $primary;
        }
    }
}

.questions {
    &--item {
        display: none;
        &.is_active {
            display: block;
        }
        .form-check1-label {
            font-size: 17px;
            font-weight: 400;
        }
        .inputContainer .helperText {
            min-height: 16px;
        }
    }
    &--label {
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 400;
        &-sm {
            font-size: 17px;
            margin-bottom: 20px;
        }
    }
}

.search_parent {
    min-width: 30px;
    height: 36px;
    position: relative;
}

.mobile_search {
    &-desctop.mobile_search {
        position: absolute;
        top: 0;
        right: 0;
        .search_opener {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        .mobile_search--input {
            width: 0;
            opacity: 0;
            padding-left: 36px;
            transition: all .3s;
        }
    }
    &-opened.mobile_search {
        .search_opener {
            display: none;
        }

        .mobile_search--input {
            width: 480px;
            opacity: 1;
            padding-left: 45px;
        }
    }
}

@import 'mpopup';



@media (max-width: 1440px) {
    .main_logo {
        flex-wrap: wrap;
        
        .mPopupNav &,
        .main_header & {
            max-width: 200px;
        }

        img {
            max-width: 185px;
            object-fit: contain;
        }

        .mPopupNav &--description,
        .main_header &--description {
            padding-left: 33px;
            border-left: none;
            font-size: 14px;
        }
    }
}

@media (max-width: 991px) {
    @import 'max_width_991';
}

@media (max-width: 768px) {
    @import 'max_width_768';
}

@media (max-width: 575px) {
    @import 'max_width_575';
}

@media (max-width: 534px) {
    @import 'max_width_534';
}

@media (max-width: 430px) {
    @import 'max_width_430';
}

@media (max-width: 410px) {
    @import 'max_width_410';
}

@media (max-width: 360px) {
    @import 'max_width_360';
}
