.popupNavTrigger_parent {
  font-size: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.popupNavTrigger {
  background: none;
  border: none;
  outline: none !important;
  padding: 10px 15px;
}

.popupNavTrigger .line {
  width: 31px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.popupNavTrigger:hover {
  cursor: pointer;
}

.popupNavTrigger.is-active .line:nth-child(2) {
  opacity: 0;
}

.popupNavTrigger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(-45deg);
      -ms-transform: translateY(9px) rotate(-45deg);
       -o-transform: translateY(9px) rotate(-45deg);
          transform: translateY(9px) rotate(-45deg);
}

.popupNavTrigger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(45deg);
      -ms-transform: translateY(-9px) rotate(45deg);
       -o-transform: translateY(-9px) rotate(45deg);
          transform: translateY(-9px) rotate(45deg);
}

.fixed {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
}

.mPopupNav {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 1060 !important;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.mPopupNav a:not(.btn) {
  color: #000;
}

.mPopupNav .btn-lg {
  font-size: 13px;
}

.mPopupNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mPopupNav.modal {
  top: 0;
  bottom: auto;
  height: 100vh;
  border-radius: 0;
  position: fixed;
}

.mPopupNav__dialog {
  width: 95%;
  max-width: 310px;
  min-width: 300px;
  height: 100vh;
  margin: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
       -o-transform: translateX(-100%);
          transform: translateX(-100%);
  overflow: hidden;
}

._scrollable {
  overflow: hidden;
  height: 100vh;
}

.mPopupNav__inner {
  border-radius: 0;
  min-height: 100%;
  padding-top: 7%;
  padding-bottom: 7%;
  background: #fff;
}

.mPopupNav.show .popupNav__dialog {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}

.mPopupNav__slogan {
  font-size: 13px;
  font-weight: 500;
}

.mPopupNav__link {
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 400;
}

.mPopupNav__icon {
  display: inline-block;
  width: 55px;
  padding-right: 25px;
  text-align: center;
  font-size: 0;
}

.mPopupNav__profileSettings {
  margin-top: 35px;
  margin-bottom: 25px;
}

.mPopupNav__profileSettings li + li {
  margin-top: 15px;
}

.mPopupNav__addTime {
  margin-top: 25px;
  margin-bottom: 55px;
  background-color: #ededed;
  padding: 15px;
}

.mPopupNav__addTime .h2 {
  font-size: 17px;
  font-weight: 600;
}

.mPopupNav__addTime a {
  text-decoration: underline;
}

.mPopupNav__addTime a:hover {
  text-decoration: none;
}

.show .fixedActive {
  position: relative;
}

.mPopupNav__menu .hasChild {
  position: relative;
}

.mPopupNav__menu .hasChild:after {
  content: '';
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.5);
  display: block;
  width: 14px;
  height: 14px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 23px;
  left: auto;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
       -o-transform: rotate(135deg);
          transform: rotate(135deg);
}

.mPopupNav__menu a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.mPopupNav__menu a:hover {
  opacity: 1;
  text-decoration: none;
}

.childItem {
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 52px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
       -o-transform: translateX(120%);
          transform: translateX(120%);
  opacity: 0;
}

.childItem.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.childItem li {
  padding: 0 20px;
}

.childItem__goBackBtn {
  margin-bottom: 10px;
  padding: 16px 0 5px;
  text-align: center;
}

.childItem__goBackBtn span {
  display: block;
  position: relative;
  padding: 10px 20px 10px 40px;
}

.childItem__goBackBtn span:after {
  content: '';
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.5);
  display: block;
  width: 14px;
  height: 14px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 23px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
       -o-transform: rotate(135deg);
          transform: rotate(135deg);
}

.mPopupNavScroll {
  height: -webkit-calc(100% - 52px);
  height: calc(100% - 52px);
  position: relative;
}
