%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-arrow_round {
	@extend %svg-common;
	background-position: 90.78787878787878% 63.86617100371747%;
}

.svg-arrow_round-dims {
	width: 21px;
	height: 21px;
}

.svg-bag {
	@extend %svg-common;
	background-position: 100% 34.37268002969562%;
}

.svg-bag-dims {
	width: 17px;
	height: 19px;
}

.svg-bg_ellipse {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-bg_ellipse-dims {
	width: 824px;
	height: 463px;
}

.svg-bg_ellipse--factoring_agent {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-bg_ellipse--factoring_agent-dims {
	width: 644px;
	height: 396px;
}

.svg-bg_ellipse--factoring_with_agreement {
	@extend %svg-common;
	background-position: 87.95430944963655% 47.7319587628866%;
}

.svg-bg_ellipse--factoring_with_agreement-dims {
	width: 708px;
	height: 396px;
}

.svg-bottom_arrow {
	@extend %svg-common;
	background-position: 99.75859987929994% 52.071005917159766%;
}

.svg-bottom_arrow-dims {
	width: 14px;
	height: 14px;
}

.svg-cabinet {
	@extend %svg-common;
	background-position: 99.8792270531401% 39.25925925925926%;
}

.svg-cabinet-dims {
	width: 15px;
	height: 16px;
}

.svg-cacheholder {
	@extend %svg-common;
	background-position: 73.28009828009829% 64.63506395786305%;
}

.svg-cacheholder-dims {
	width: 43px;
	height: 37px;
}

.svg-card {
	@extend %svg-common;
	background-position: 98.60606060606061% 57.21687638786084%;
}

.svg-card-dims {
	width: 21px;
	height: 15px;
}

.svg-clip {
	@extend %svg-common;
	background-position: 53.69458128078818% 73.82039573820396%;
}

.svg-clip-dims {
	width: 47px;
	height: 52px;
}

.svg-close {
	@extend %svg-common;
	background-position: 52.838427947598255% 66.17873651771957%;
}

.svg-close-dims {
	width: 68px;
	height: 68px;
}

.svg-cloud {
	@extend %svg-common;
	background-position: 67.91871921182266% 64.78129713423832%;
}

.svg-cloud-dims {
	width: 47px;
	height: 40px;
}

.svg-contacts {
	@extend %svg-common;
	background-position: 99.81606376456162% 49.465648854961835%;
}

.svg-contacts-dims {
	width: 40px;
	height: 56px;
}

.svg-credit {
	@extend %svg-common;
	background-position: 64.74239602731222% 64.83018867924528%;
}

.svg-credit-dims {
	width: 60px;
	height: 41px;
}

.svg-delivery {
	@extend %svg-common;
	background-position: 100% 46.439169139465875%;
}

.svg-delivery-dims {
	width: 27px;
	height: 18px;
}

.svg-factoring {
	@extend %svg-common;
	background-position: 57.00934579439252% 65.37290715372907%;
}

.svg-factoring-dims {
	width: 66px;
	height: 52px;
}

.svg-fb {
	@extend %svg-common;
	background-position: 82.97872340425532% 64.05667412378821%;
}

.svg-fb-dims {
	width: 26px;
	height: 25px;
}

.svg-gear {
	@extend %svg-common;
	background-position: 98.29329962073325% 43.7744714173845%;
}

.svg-gear-dims {
	width: 89px;
	height: 89px;
}

.svg-graph {
	@extend %svg-common;
	background-position: 70.63882063882063% 64.63506395786305%;
}

.svg-graph-dims {
	width: 43px;
	height: 37px;
}

.svg-gul {
	@extend %svg-common;
	background-position: 99.02498476538696% 59.95457986373959%;
}

.svg-gul-dims {
	width: 30px;
	height: 45px;
}

.svg-heart {
	@extend %svg-common;
	background-position: 75.92137592137593% 64.58646616541354%;
}

.svg-heart-dims {
	width: 43px;
	height: 36px;
}

.svg-hold {
	@extend %svg-common;
	background-position: 97.30913642052566% 50.07727975270479%;
}

.svg-hold-dims {
	width: 73px;
	height: 72px;
}

.svg-home {
	@extend %svg-common;
	background-position: 88.24954572986069% 63.86617100371747%;
}

.svg-home-dims {
	width: 20px;
	height: 21px;
}

.svg-info {
	@extend %svg-common;
	background-position: 89.51515151515152% 63.86617100371747%;
}

.svg-info-dims {
	width: 21px;
	height: 21px;
}

.svg-inst {
	@extend %svg-common;
	background-position: 64.80243161094225% 69.17910447761194%;
}

.svg-inst-dims {
	width: 26px;
	height: 26px;
}

.svg-laptop {
	@extend %svg-common;
	background-position: 60.969546302050965% 64.92819349962207%;
}

.svg-laptop-dims {
	width: 62px;
	height: 43px;
}

.svg-list {
	@extend %svg-common;
	background-position: 87.046004842615% 63.96128071481757%;
}

.svg-list-dims {
	width: 19px;
	height: 23px;
}

.svg-list_gear {
	@extend %svg-common;
	background-position: 63.26654523375835% 69.43820224719101%;
}

.svg-list_gear-dims {
	width: 24px;
	height: 31px;
}

.svg-list_search {
	@extend %svg-common;
	background-position: 59.375% 73.37367624810892%;
}

.svg-list_search-dims {
	width: 39px;
	height: 44px;
}

.svg-lock {
	@extend %svg-common;
	background-position: 99.8792270531401% 35.73017049666419%;
}

.svg-lock-dims {
	width: 15px;
	height: 17px;
}

.svg-mail {
	@extend %svg-common;
	background-position: 98.90643985419199% 52.148148148148145%;
}

.svg-mail-dims {
	width: 25px;
	height: 16px;
}

.svg-man {
	@extend %svg-common;
	background-position: 54.562155541947334% 70.01510574018127%;
}

.svg-man-dims {
	width: 38px;
	height: 42px;
}

.svg-mark {
	@extend %svg-common;
	background-position: 66.0617059891107% 68.76854599406528%;
}

.svg-mark-dims {
	width: 18px;
	height: 18px;
}

.svg-mark_default {
	@extend %svg-common;
	background-position: 99.93957703927492% 38.119911176905994%;
}

.svg-mark_default-dims {
	width: 16px;
	height: 15px;
}

.svg-mark_star {
	@extend %svg-common;
	background-position: 50.58750773036488% 73.82039573820396%;
}

.svg-mark_star-dims {
	width: 54px;
	height: 52px;
}

.svg-monitor {
	@extend %svg-common;
	background-position: 91.94915254237289% 63.629629629629626%;
}

.svg-monitor-dims {
	width: 19px;
	height: 16px;
}

.svg-ok {
	@extend %svg-common;
	background-position: 99.63855421686748% 40.26548672566372%;
}

.svg-ok-dims {
	width: 11px;
	height: 10px;
}

.svg-open_white_bg {
	@extend %svg-common;
	background-position: 39.975170701427686% 78.25421133231241%;
}

.svg-open_white_bg-dims {
	width: 60px;
	height: 60px;
}

.svg-pen {
	@extend %svg-common;
	background-position: 56.924019607843135% 69.80421686746988%;
}

.svg-pen-dims {
	width: 39px;
	height: 38px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 85.87878787878788% 63.96128071481757%;
}

.svg-phone-dims {
	width: 21px;
	height: 23px;
}

.svg-planshet {
	@extend %svg-common;
	background-position: 99.69362745098039% 54.836252856054834%;
}

.svg-planshet-dims {
	width: 39px;
	height: 53px;
}

.svg-play {
	@extend %svg-common;
	background-position: 97.24828017510944% 55.64142194744977%;
}

.svg-play-dims {
	width: 72px;
	height: 72px;
}

.svg-pocket_ruble {
	@extend %svg-common;
	background-position: 99.93920972644376% 44.56928838951311%;
}

.svg-pocket_ruble-dims {
	width: 26px;
	height: 31px;
}

.svg-port {
	@extend %svg-common;
	background-position: 47.21534653465346% 73.82039573820396%;
}

.svg-port-dims {
	width: 55px;
	height: 52px;
}

.svg-port_percent {
	@extend %svg-common;
	background-position: 56.69339913633559% 73.54056103108415%;
}

.svg-port_percent-dims {
	width: 50px;
	height: 47px;
}

.svg-re_ruble {
	@extend %svg-common;
	background-position: 79.6951219512195% 64.05667412378821%;
}

.svg-re_ruble-dims {
	width: 31px;
	height: 25px;
}

.svg-ruble_go {
	@extend %svg-common;
	background-position: 81.38686131386861% 64.05667412378821%;
}

.svg-ruble_go-dims {
	width: 27px;
	height: 25px;
}

.svg-scf {
	@extend %svg-common;
	background-position: 40.02486016159105% 73.82039573820396%;
}

.svg-scf-dims {
	width: 62px;
	height: 52px;
}

.svg-schema_online {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-schema_online-dims {
	width: 847px;
	height: 479px;
}

.svg-scheme {
	@extend %svg-common;
	background-position: 0 54.74285714285714%;
}

.svg-scheme-dims {
	width: 828px;
	height: 491px;
}

.svg-search {
	@extend %svg-common;
	background-position: 99.93957703927492% 36.96296296296296%;
}

.svg-search-dims {
	width: 16px;
	height: 16px;
}

.svg-shield {
	@extend %svg-common;
	background-position: 77.84540474741327% 64.48948948948949%;
}

.svg-shield-dims {
	width: 28px;
	height: 34px;
}

.svg-shop {
	@extend %svg-common;
	background-position: 97.12679575265459% 60.458015267175576%;
}

.svg-shop-dims {
	width: 70px;
	height: 56px;
}

.svg-smile {
	@extend %svg-common;
	background-position: 61.50550795593635% 69.75169300225734%;
}

.svg-smile-dims {
	width: 37px;
	height: 37px;
}

.svg-star {
	@extend %svg-common;
	background-position: 52.05900430239705% 70.01510574018127%;
}

.svg-star-dims {
	width: 44px;
	height: 42px;
}

.svg-target {
	@extend %svg-common;
	background-position: 59.241126070991434% 69.75169300225734%;
}

.svg-target-dims {
	width: 37px;
	height: 37px;
}

.svg-team {
	@extend %svg-common;
	background-position: 43.74225526641884% 73.82039573820396%;
}

.svg-team-dims {
	width: 57px;
	height: 52px;
}

.svg-ten_star {
	@extend %svg-common;
	background-position: 98.91857506361323% 36.45669291338583%;
}

.svg-ten_star-dims {
	width: 99px;
	height: 96px;
}

.svg-timer {
	@extend %svg-common;
	background-position: 99.93920972644376% 42.03007518796993%;
}

.svg-timer-dims {
	width: 26px;
	height: 36px;
}

.svg-vk {
	@extend %svg-common;
	background-position: 84.55927051671732% 64.05667412378821%;
}

.svg-vk-dims {
	width: 26px;
	height: 25px;
}

