<section class="catalog_tile">
    <div class="container">
        <div class="row">
            <div class="col-12 catalog_tile--list">
                <a href="#a" class="catalog_tile--item">
                    <div class="catalog_tile--content">
                        <div class="catalog_tile--icon">
                            {{> use
                                width="68"
                                height="54"
                                icon="shop"}}
                        </div>
                        <div class="catalog_tile--text">
                            Покупателям
                        </div>
                    </div>
                </a>
                <a href="#a" class="catalog_tile--item">
                    <div class="catalog_tile--content">
                        <div class="catalog_tile--icon">
                            {{> use
                                width="78"
                                height="50"
                                icon="delivery"}}
                        </div>
                        <div class="catalog_tile--text">
                            Поставщикам
                        </div>
                    </div>
                </a>
                <a href="/lukoil.html" class="catalog_tile--item">
                    <div class="catalog_tile--content">
                        <div class="catalog_tile--icon">
                            {{> use
                                width="60"
                                height="50"
                                icon="scf"}}
                        </div>
                        <div class="catalog_tile--text">
                            Поставщикам Лукойл
                        </div>
                    </div>
                </a>
                <a href="/online_factoring.html" class="catalog_tile--item">
                    <div class="catalog_tile--content">
                        <div class="catalog_tile--icon">
                            {{> use
                                width="84"
                                height="50"
                                icon="factoring"}}
                        </div>
                        <div class="catalog_tile--text">
                            Онлайн-Факторинг <br><small>для МСБ</small>
                        </div>
                    </div>
                </a>
                <a href="/vacancies.html" class="catalog_tile--item">
                    <div class="catalog_tile--content">
                        <div class="catalog_tile--icon">
                            {{> use
                                width="50"
                                height="50"
                                icon="port"}}
                        </div>
                        <div class="catalog_tile--text">
                            Вакансии
                        </div>
                    </div>
                </a>
                <a href="/team.html" class="catalog_tile--item">
                    <div class="catalog_tile--content">
                        <div class="catalog_tile--icon">
                            {{> use
                                width="55"
                                height="50"
                                icon="team"}}
                        </div>
                        <div class="catalog_tile--text">
                            Наша команда
                        </div>
                    </div>
                </a>
                <a href="/handbook.html" class="catalog_tile--item">
                    <div class="catalog_tile--content">
                        <div class="catalog_tile--icon">
                            {{> use class='' width='50' height='50' icon='info'}}
                        </div>
                        <div class="catalog_tile--text">
                            Термины Факторинга
                        </div>
                    </div>
                </a>
                <span href="#a" class="catalog_tile--item">
                    <div class="catalog_tile--content">
                        <div class="catalog_tile--icon pt-4">
                            {{!-- <div class="socialNetworksBlock"> --}}
                                <a href="#a" target="_blank" rel="nofollow noopener" class="socialNetworksBlock--link">
                                    {{> use 
                                    class=""
                                    width="41"
                                    height="41"
                                    stroke-width="1"
                                    icon="fb"}}
                                </a>
                                <a href="#a" target="_blank" rel="nofollow noopener" class="socialNetworksBlock--link">
                                    {{> use 
                                    class=""
                                    width="41"
                                    height="41"
                                    stroke-width="1"
                                    icon="vk"}}
                                </a>
                                <a href="#a" target="_blank" rel="nofollow noopener" class="socialNetworksBlock--link">
                                    {{> use 
                                    class=""
                                    width="41"
                                    height="41"
                                    stroke-width="1"
                                    icon="inst"}}
                                </a>
                            {{!-- </div> --}}
                        </div>
                        <div class="catalog_tile--text">
                            Cоц. сети
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</section>