<section block="footer_nav" mod="{{footer_mod}}">
    <div class="container">
        <div class="row footer_nav--buttons">
            <div class="col-4">
                <a href="/form.html" class="btn btn-lg btn-primary">Оставить заявку</a>
            </div>
            <div class="col-4 text-lg-center">
                <a href="/handbook.html" class="btn btn-lg btn_iconized btn-outline-primary">
                    <span class="btn_iconized--icon">
                        {{> use 
                            class=""
                            width="20"
                            height="20"
                            stroke-width="2px"
                            icon="info"}}
                    </span>
                    <span class="btn_iconized--text">Термины Факторинга</span>
                </a>
            </div>
            <div class="col-4 text-lg-right">
                <a href="/online_factoring.html" class="btn btn-lg btn_iconized btn-outline-primary">
                    <span class="btn_iconized--icon">
                        {{> use 
                            class=""
                            width="19"
                            height="19"
                            stroke-width="2px"
                            icon="arrow_round"}}
                    </span>
                    <span class="btn_iconized--text">Online Факторинг для МСБ</span>
                </a>
            </div>
        </div>
        <div class="row footer_navList--parent">
            <div class="col-lg-3 footer_navList-about">
                <ul block="footer_navList">
                    <li class="footer_navList--item footer_navList--item-level1">
                        <span class="footer_navList--iconized">
                            <span class="footer_navList--icon">{{> use width="19" height="19" icon="home"}}</span>
                            <a href="#a">О компании</a>
                        </span>
                        <ul>
                            <li class="footer_navList--item footer_navList--item-level2"><a href="/about_factoring.html">Об Открытие |
                                    Факторинг</a></li>
                            {{!-- <li class="footer_navList--item footer_navList--item-level2"><a href="/mission.html">Миссия
                                    компании</a></li> --}}
                            <li class="footer_navList--item footer_navList--item-level2"><a href="/news.html">Новости</a></li>
                            <li class="footer_navList--item footer_navList--item-level2"><a href="/press_center.html">Контакты</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 footer_navList-providers">
                <ul class="footer_navList">
                    <li class="footer_navList--item footer_navList--item-level1 footer_navList--item-has_child">
                        <span class="footer_navList--iconized">
                            <span class="footer_navList--icon">{{> use width="24" height="15" icon="delivery"}}</span>
                            <a href="#a">Поставщикам</a>
                        </span>
                        <ul>
                            <li class="footer_navList--item footer_navList--item-level2"><a href="/regress.html">Экспресс-решение</a></li>
                            <li class="footer_navList--item footer_navList--item-level2"><a href="/classic.html">Классический факторинг</a></li>
                            <li class="footer_navList--item footer_navList--item-level2">
                                <a href="/lukoil.html">Поставщикам Лукойл</a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer_navList--item footer_navList--item-level1 footer_navList--item-has_child">
                        <span class="footer_navList--iconized">
                            <span class="footer_navList--icon">{{> use width="15" height="18" icon="bag"}}</span>
                            <a href="/buyers.html">Покупателям</a>
                        </span>
                        <ul>
                            <li class="footer_navList--item footer_navList--item-level2">
                                <a href="/factoring_with_agreement.html">Факторинг с увеличением <br>отсрочки платежа</a>
                            </li>
                            <li class="footer_navList--item footer_navList--item-level2">
                                <a href="/factoring_agent.html">Агентский факторинг</a>
                            </li>
                            <li class="footer_navList--item footer_navList--item-level2">
                                <a href="/complex.html">Комплексная программа финансирования поставщиков</a>
                            </li>
                            {{!-- <li class="footer_navList--item footer_navList--item-level2">
                                <a href="/pending.html">Закупочный факторинг</a>
                            </li>
                            <li class="footer_navList--item footer_navList--item-level2">
                                <a href="/energy.html">Факторинг энергосервисных контрактов</a>
                            </li>
                            <li class="footer_navList--item footer_navList--item-level2">
                                <a href="/predelivery.html">Предпоставочный факторинг</a>
                            </li> --}}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 footer_navList-career">
                <ul class="footer_navList">
                    <li class="footer_navList--item footer_navList--item-level1 footer_navList--item-has_child">
                        <span class="footer_navList--iconized">
                            <span
                                class="footer_navList--icon">{{> use width="19" height="19" icon="port" stroke_width="4px"}}</span>
                            <a href="#a">Карьера</a>
                        </span>
                        <ul>
                            <li class="footer_navList--item footer_navList--item-level2"><a href="/vacancies.html">Вакансии</a></li>
                            <li class="footer_navList--item footer_navList--item-level2"><a href="/team.html">Открытие Факторинг Team</a></li>
                        </ul>
                    </li>
                    <li class="footer_navList--item footer_navList--item-level1">
                        <span class="footer_navList--iconized">
                            <span class="footer_navList--icon">{{> use width="19" height="19" icon="monitor"}}</span>
                            <a href="/online_factoring.html">Online Факторинг для МБС</a>
                        </span>
                    </li>
                    {{!-- <li class="footer_navList--item footer_navList--item-level1">
                        <span class="footer_navList--iconized">
                            <span class="footer_navList--icon">{{> use width="19" height="19" icon="mark"}}</span>
                            <a href="/scf.html">SCF</a>
                        </span>
                    </li> --}}
                </ul>
            </div>
            <div class="col-lg-3 footer_navList-misc">
                <ul class="footer_navList">
                    <li class="footer_navList--item footer_navList--item-level1 footer_navList--item-has_child">
                        <span class="footer_navList--iconized">
                            <span class="footer_navList--icon">{{> use width="19" height="19" icon="lock"}}</span>
                            <a href="#a">Юридические аспекты</a>
                        </span>
                        <ul>
                            <li class="footer_navList--item footer_navList--item-level2"><a href="requisites.html">Реквизиты</a></li>
                            <li class="footer_navList--item footer_navList--item-level2"><a href="#a">Условия
                                    использования информации</a></li>
                            <li class="footer_navList--item footer_navList--item-level2"><a href="#a">Положение о
                                    конфиденциальности</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12">
                <div class="lt-grid-container">
                    <div class="lt-logo">
                        <a href="/" class="main_logo">
                            <img src="./images/logo-header.svg" alt="">
                            <span class="main_logo--description">Факторинг</span>
                        </a>
                    </div>
                    <div class="lt-phone_1">
                        <div class="phoneBlock phoneBlock-lg">
                            <div class="phoneBlock--desc">Бесплатный звонок по России</div>
                            <div class="phoneBlock--num"><a href="tel:88004444400">8 800 444-44-00</a></div>
                        </div>
                    </div>
                    <div class="lt-phone_2">
                        <div class="phoneBlock phoneBlock-lg">
                            <div class="phoneBlock--desc">Бесплатный звонок в Москве</div>
                            <div class="phoneBlock--num"><a href="tel:+74957771110">+7 495 777-11-10</a></div>
                        </div>
                    </div>
                    <div class="lt-copy_info">
                        <div class="footerMutedText">
                            © 2014-2019, ПАО Банк «ФК Открытие».
                            <br>
                            109240, Россия, Москва, ул. Яузская, д.12.
                        </div>
                    </div>
                    <div class="lt-privacy_policy">
                        <div class="footerMutedText">
                            <a href="#a">Политика в отношении обработки персональных данных</a>
                            <br>
                            <a href="#a">Политика закупок</a>
                        </div>
                    </div>
                    <div class="lt-social_networks">
                        <div class="socialNetworksBlock">
                            <a href="#a" target="_blank" rel="nofollow noopener" class="socialNetworksBlock--link">
                                {{> use 
                                    class=""
                                    width="26"
                                    height="26"
                                    stroke-width="1"
                                    icon="fb"}}
                            </a>
                            <a href="#a" target="_blank" rel="nofollow noopener" class="socialNetworksBlock--link">
                                {{> use 
                                    class=""
                                    width="26"
                                    height="26"
                                    stroke-width="1"
                                    icon="vk"}}
                            </a>
                            <a href="#a" target="_blank" rel="nofollow noopener" class="socialNetworksBlock--link">
                                {{> use 
                                    class=""
                                    width="26"
                                    height="26"
                                    stroke-width="1"
                                    icon="inst"}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>