<footer class="footer">
    <div class="container">
        <div class="footerTop">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xlg-2">
                    <div class="footNavEl">
                        <div class="footNavElHead">
                            О компании
                        </div>
                        <ul>
                            <li><a href="#a">Корп. управление</a></li>
                            <li><a href="#a">Инвесторам</a></li>
                            <li><a href="#a">Пресса</a></li>
                            <li><a href="#a">Карьера</a></li>
                            <li><a href="#a">Тендеры</a></li>
                            <li><a href="#a">Контакты</a></li>
                            <li><a href="#a">Офисы продаж</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xlg-2">
                    <div class="footNavEl">
                        <div class="footNavElHead">
                            Проекты
                        </div>
                        <ul>
                            <li><a href="#a">Название проекта 1</a></li>
                            <li><a href="#a">Название проекта 2</a></li>
                            <li><a href="#a">Название проекта 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xlg-2">
                    <div class="footNavEl">
                        <div class="footNavElHead">
                            Проекты
                        </div>
                        <ul>
                            <li><a href="#a">Название проекта 1</a></li>
                            <li><a href="#a">Название проекта 2</a></li>
                            <li><a href="#a">Название проекта 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footerBottom">
            <div class="col-10 footer__copy">
                <div class="copyBlock">
                    Уважаемые посетители сайта, обращаем Ваше внимание, что информация, представленная на данном сайте, носит исключительно информационный характер, не является офертой или публичной офертой. Указанные на сайте цены не являются окончательными, застройщик может изменить в любое время указанные на сайте цены без какого-либо предварительного уведомления. Цена договора формируется индивидуально и определяется непосредственно при подписании договора с конкретным Клиентом.Качественные характеристики квартир и нежилых помещений, а также все варианты визуализации объекта в целом, приведенные на сайте, не обладают признаками абсолютной идентичности проектной и рабочей документации на строительство объекта. Представленные иллюстрации дизайн-проектов квартир являются примером организации пространства, меблировки и сочетания цветов. Часть информации на данном сайте относится к прошлому и возможно устарела, такая информация должна восприниматься как предоставленная на дату своей первичной публикации.
                </div>
            </div>
        </div>
    </div>
</footer>