<form>
    <div class="row">
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="company_name"><span>Название компании</span></label>
                    <input
                        class="form-control"
                        type="text"
                        id="company_name"
                        name="c_name"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="10"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="inn"><span>ИНН</span></label>
                    <input
                        class="form-control"
                        type="text"
                        id="inn"
                        name="inn"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="10"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="income"><span>Годовая выручка (рубли)</span></label>
                    <input
                        class="form-control"
                        type="text"
                        id="income"
                        name="income"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="11"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="inputContainer mb-4">
                <div block="inputWrap" class="md-form">
                    <label for="set_country3" class="awesomeLabel"><span>Выберите город</span></label>
                    <select name="country" id="set_country3" class="form-control" data-parsley-required="true" data-parsley-trigger="change">
                        <option></option>
                        <option value="Москва">Москва</option>
                        <option value="Санкт-Петербург">Санкт-Петербург</option>
                        <option value="Сыктывкар">Сыктывкар</option>
                    </select>
                    <div elem="outline"></div>
                </div>
                <div class="helperText"></div>
            </div>
        </div>


        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="person_name"><span>ФИО контактного лица</span></label>
                    <input
                        class="form-control"
                        type="text"
                        id="person_name"
                        name="name"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="10"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="email"><span>Электронный адрес</span></label>
                    <input
                        class="form-control"
                        type="email"
                        id="email"
                        name="email"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="10"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="phone"><span>Телефон</span></label>
                    <input
                        class="form-control"
                        type="tel"
                        id="phone"
                        name="tel"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="10"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>

        <div class="col-12">
            <div block="inputWrap" class="hasTextarea mb-4">
                <div class="md-form">
                    <label for="mBody" class="awesomeLabel"><span>Описание вопроса</span></label>
                    <textarea name="mBody" id="mBody" cols="30" rows="10" class="form-control md-textarea"></textarea>
                    <div elem="outline"></div>
                </div>
            </div>
        </div>

        <div class="col-xl-7 d-flex alig-items-start">
            <img src="/images/content/pseudo_capcha.png" alt="" style="max-height: 60px; margin-right: 20px;">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="f_code"><span>Введите код</span></label>
                    <input
                        class="form-control"
                        type="text"
                        id="f_code"
                        name="f_code"
                        data-parsley-required="false"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        <div class="col-xl-5 text-center text-xl-right">
            <button type="submit" class="btn btn-lg btn-wide btn-primary w-100 w-xl-auto">Отправить</button>
        </div>
    </div>
{{!-- 
	<div class="form-check1 inputContainer">
		<input class="filled-in form-check1-input" type="checkbox" id="check_id" data-parsley-required="true" data-parsley-multiple="check_id">
		<label class="form-check1-label" for="check_id">Some checkbox</label>
		<div class="helperText">Some helper text</div>
	</div>


                                                        <div>
                                                            <label class="m-label">x2</label>
                                                            <div class="i-switch">
                                                                <input type="checkbox" id="fullCustomMode">
                                                                <label class="i-switch__label" for="fullCustomMode">
                                                                <div class="i-switch__btn"></div>
                                                                <!-- e:btn -->
                                                                </label>
                                                            </div>
                                                        </div>



    <button type="submit" class="btn btn-primary">Submit</button> --}}
</form>