<form>
    <div class="row">
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="surname"><span>Фамилия</span></label>
                    <input
                        class="form-control"
                        type="text"
                        id="surname"
                        name="surname"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="10"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="name"><span>Имя</span></label>
                    <input
                        class="form-control"
                        type="text"
                        id="name"
                        name="name"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="11"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="lastname"><span>Отчество</span></label>
                    <input
                        class="form-control"
                        type="text"
                        id="lastname"
                        name="lastname"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="12"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="address"><span>Город</span></label>
                    <input
                        class="form-control"
                        type="text"
                        id="address"
                        name="address"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="13"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="last_em"><span>Место предыдущей работы</span></label>
                    <input
                        class="form-control"
                        type="text"
                        id="last_em"
                        name="last_em"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="14"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="position"><span>Занимаемая должность</span></label>
                    <input
                        class="form-control"
                        type="text"
                        id="position"
                        name="position"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="15"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form inputWrap">
                    <label class="awesomeLabel" for="email"><span>Адрес электронной почты</span></label>
                    <input
                        class="form-control"
                        type="email"
                        id="email"
                        name="email"
                        data-parsley-required="true"
                        data-validation-minlength="0"
                        data-parsley-trigger="focusout"
                        data-parsley-required="true"
                        data-parsley-id="16"
                        value="">
                </div>
                <div class="helperText"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="inputContainer">
                <div class="md-form">
                    <label class="awesomeLabel" for="file" style="margin-bottom: 2px;"><span>Файл резюме</span></label>
                    <input
                        class="form-control"
                        type="file"
                        id="file"
                        name="file"
                        data-parsley-required="true"
                        data-parsley-id="17"
                        value=""
                        style="min-width: 100%;"
                        >
                </div>
                <div class="helperText">
                    Тип файла: doc,docx,rtf,pdf <br>Макс. размер: 4,77 MB
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="inputContainer my-4">
                <div class="form-check1 mr-4 d-inline-block">
                    <input class="filled-in form-check1-input" type="checkbox" id="agreement" value="1">
                    <label class="form-check1-label" for="agreement">Я согласен на обработку персональных данных</label>
                </div>
                <div class="helperText" style="margin-left: 12px;">
                    Полный текст «Согласия на обработку персональных данных» доступен по <a href="#a">ссылке</a>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="d-flex alig-items-start">
                <img src="/images/content/pseudo_capcha.png" alt="" style="max-height: 60px; margin-right: 20px;">
                <div class="inputContainer" style="width: 100%;">
                    <div class="md-form inputWrap">
                        <label class="awesomeLabel" for="f_code"><span>Введите код</span></label>
                        <input
                            class="form-control"
                            type="text"
                            id="f_code"
                            name="f_code"
                            data-parsley-required="false"
                            value="">
                    </div>
                    <div class="helperText"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <button type="submit" class="btn btn-lg btn-wide btn-primary w-100 w-xl-auto" style="min-height: 60px;">Отправить</button>
        </div>
    </div>
</form>