<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Vue KM test</title>
<link rel="stylesheet" href="css/bootstrap.css">
{{!-- <link rel="stylesheet" href="css/perfect-scrollbar.css"> --}}
{{!-- <link rel="stylesheet" href="css/swiper.min.css" /> --}}
<link rel="stylesheet" href="css/main.css?noCache_5">