<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body>

    {{#if headBg}}
        {{> pageheader_nav bg=headBg head_mod=head_mod}}
    {{else}}
        {{> pageheader_nav}}
    {{/if}}
        {{> pageheader_nav_mobile}}
    
    {{#if subHead}}
        {{> sub_head subhead_mod=subhead_mod title=title}}
    {{/if}}

    
    {{#block 'main'}}{{/block}}

    {{> footer_nav footer_mod=footer_mod}}

    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/parsley.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>

    <script src="./js/scripts.js"></script>

</body>

</html>