<section class="news_brief">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2 class="news_brief--title">Новости банка</h2>
            </div>
            <div class="col-4 text-right">
                <a href="/news.html" class="btn btn-link pr-0">Все новости</a>
            </div>
        </div>
        <div class="news_brief--list row">
            <div class="col-12 list-sep">
                <hr>
            </div>
            <a href="/news_inside.html" class="news_brief--item col-12 col-md-6 col-lg-4">
                <time class="news_brief--date" datetime="2019-08-12 08:00">
                    <div class="news_brief--date_day">12</div>
                    <div class="news_brief--date_month">августа</div>
                </time>
                <div class="news_brief--text">
                    Группа «Открытие» увеличила прибыль в 19 раз
                </div>
            </a>
            <a href="/news_inside.html" class="news_brief--item col-12 col-md-6 col-lg-4">
                <time class="news_brief--date" datetime="2019-08-07 08:00">
                    <div class="news_brief--date_day">7</div>
                    <div class="news_brief--date_month">августа</div>
                </time>
                <div class="news_brief--text">
                    Банк «Открытие» в 3 раза увеличил выдачи ипотеки
                </div>
            </a>
            <a href="/news_inside.html" class="news_brief--item col-12 col-md-6 col-lg-4">
                <time class="news_brief--date" datetime="2019-08-03 08:00">
                    <div class="news_brief--date_day">3</div>
                    <div class="news_brief--date_month">августа</div>
                </time>
                <div class="news_brief--text">
                    Группа «Открытие» выиграла апелляцию по «делу Кузьминых»
                </div>
            </a>
        </div>
    </div>
</section>