<header block="main_header" mod="{{ head_mod }}" {{#if bg}}style="background-image: url({{bg}});"{{/if}}>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-3 col-xl-4">
                <a href="/" class="main_logo">
                    <img src="./images/logo-header.svg" alt="">
                    <span class="main_logo--description">Факторинг</span>
                </a>
            </div>
            <div class="col-9 col-xl-8">
                <div class="header_actions">
                    <div class="header_actions--item">
                        <a href="/online_factoring.html" class="btn btn-outline-primary mx-2">Онлайн Факторинг для МСБ</a>
                        <a href="/form.html" class="btn btn-outline-primary">Заявка на факторинг</a>
                    </div>
                    <div class="header_actions--item search_parent">
                        {{!-- <a href="#a" class="btn btn-primary btn-round">
                            {{> use 
                                class=""
                                width="14"
                                height="14"
                                icon="search"}}
                            <span class="sr-only">Поиск по сайту</span>
                        </a> --}}

                        <form block="mobile_search" mod="desctop">
                            <input elem="input" type="text" name="search_desctop" id="search_desctop">
                            <button elem="button" type="submit" class="btn btn-primary btn-round">
                                {{> use 
                                    class=""
                                    width="14"
                                    height="14"
                                    icon="search"}}
                                <span class="sr-only">Поиск по сайту</span>
                            </button>
                            <label class="search_opener" for="search_desctop"></label>
                        </form>
                    </div>
                    <div class="header_actions--item">
                        <a href="#a" class="btn btn_iconized pr-0">
                            <span href="#a" class="btn-primary btn_iconized--icon">
                                {{> use 
                                    class=""
                                    width="15"
                                    height="16"
                                    stroke_width="1px"
                                    icon="cabinet"}}
                            </span>
                            <span class="btn_iconized--text">Личный кабинет</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 align-items-end main_nav--parent">
                <nav class="main_nav">
                    <ul class="main_nav--list main_nav--list-level_1 list-unstyled">
                        <li class="main_nav--item main_nav--item-level_1 has_child">
                            <a href="#a" class="main_nav--link"><span>О компании</span></a>
                            <ul class="main_nav--list main_nav--list-level_2 list-unstyled">
                                <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/news.html" class="main_nav--link"><span>Новости</span></a>
                                </li>
                                <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/about_factoring.html" class="main_nav--link"><span>Об Открытие | Факторинг</span></a>
                                </li>
                                <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/press_center.html" class="main_nav--link"><span>Контакты</span></a>
                                </li>
                                <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/vacancies.html" class="main_nav--link"><span>Карьера</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="main_nav--item main_nav--item-level_1">
                            {{!-- <a href="#a" class="main_nav--link"><span>Наши услуги</span></a> --}}
                            <a href="/steps.html" class="main_nav--link"><span>Выбери решение</span></a>
                        </li>
                        <li class="main_nav--item main_nav--item-level_1 has_child">
                            <a href="#a" class="main_nav--link"><span>Поставщикам</span></a>
                            <ul class="main_nav--list main_nav--list-level_2 list-unstyled">
                                {{!-- <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/no_regress.html" class="main_nav--link"><span>Факторинг без регресса</span></a>
                                </li> --}}
                                {{!-- <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/regress.html" class="main_nav--link"><span>Факторинг с регрессом</span></a>
                                </li> --}}
                                <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/regress.html" class="main_nav--link"><span>Экспресс-решение</span></a>
                                </li>
                                {{!-- <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/online_factoring.html" class="main_nav--link"><span>Коробочное решение</span></a>
                                </li> --}}
                                <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/classic.html" class="main_nav--link"><span>Классический факторинг</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="main_nav--item main_nav--item-level_1 has_child">
                            <a href="#a" class="main_nav--link"><span>Покупателям</span></a>
                            <ul class="main_nav--list main_nav--list-level_2 list-unstyled">
                                <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/factoring_with_agreement.html" class="main_nav--link"><span>Факторинг с увеличением <br>отсрочки платежа</span></a>
                                </li>
                                <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/factoring_agent.html" class="main_nav--link"><span>Агентский факторинг</span></a>
                                </li>
                                <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/complex.html" class="main_nav--link"><span>Комплексная программа финансирования поставщиков</span></a>
                                </li>
                                {{!-- <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/pending.html" class="main_nav--link"><span>Закупочный факторинг</span></a>
                                </li>
                                <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/energy.html" class="main_nav--link"><span>Факторинг энергосервисных контрактов</span></a>
                                </li>
                                <li class="main_nav--item main_nav--item-level_2">
                                    <a href="/predelivery.html" class="main_nav--link"><span>Предпоставочный факторинг</span></a>
                                </li> --}}
                            </ul>
                        </li>
                        <li class="main_nav--item main_nav--item-level_1">
                            <a href="/lukoil.html" class="main_nav--link"><span>Поставщикам Лукойл</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>