<div class="mPopupNav collapse modal _popupNav" id="mobile_menu">
    <div class="mPopupNav__dialog container modal-dialog pr-0 pl-0 ">
        <div class="mPopupNav__inner modal-content _scrollable">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-5">
                        <a href="/" class="main_logo">
                            <img src="./images/logo-header_white.svg" alt="Открытие">
                            <span class="main_logo--description">Факторинг</span>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="header_actions-mobile text-center mb-4">
                <div class="header_actions--item">
                    <a href="#a" class="btn btn_iconized">
                        <span href="#a" class="btn-primary btn_iconized--icon btn_iconized--icon-bordered">
                            {{> use 
                                class=""
                                width="15"
                                height="16"
                                stroke_width="1px"
                                icon="cabinet"}}
                        </span>
                        <span class="btn_iconized--text">Личный кабинет</span>
                    </a>
                </div>
            </div>

            <nav block="main_nav-mobile text-center mb-4">
                <ul elem="list" mod="level_1" class="list-unstyled mPopupNav__menu">
                    
                    {{#each info.menu}}
                        <li elem="item" class="mPopupNav__link {{#if children}}has_child hasChild{{/if}}">
                            {{#if children}}
                                <a href="#a" elem="link"><span>{{{text}}}</span></a>
                            {{else}}
                                <a href="{{link}}" elem="link"><span>{{{text}}}</span></a>
                            {{/if}}
                            {{#if children}}
                                <div class="childItem">
                                    <div class="childItem__goBackBtn _level_1">
                                        <span>{{{text}}}</span>
                                    </div>
                                    <div class="mPopupNavScroll ps">
                                        <ul class="childItem__childNav">
                                            {{#each children}}
                                            <li class="main_nav--item main_nav--item-level_2">
                                                <a href="{{link}}" class="main_nav--link"><span>{{{text}}}</span></a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </nav>
            
            <div class="header_actions-mobile">
                <div class="header_actions--item mb-5">
                    <a href="/form.html" class="mobile_header_btn btn btn-lg btn-outline-primary">Заявка на факторинг</a>
                </div>
                <div class="header_actions--item">
                    <form block="mobile_search">
                        <input elem="input" type="text" name="search" id="">
                        <button elem="button" class="btn btn-primary btn-round">
                            {{> use 
                                class=""
                                width="14"
                                height="14"
                                icon="search"}}
                            <span class="sr-only">Поиск по сайту</span>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="d-lg-none popupNavTrigger_parent head_nav__item">
    <button data-toggle="modal" data-target="#mobile_menu" type="button" class="popupNavTrigger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>

    <div class="hamburger" id="hamburger-1" role="button"></div>
</div>