<div class="uvSlider" id="uvSlider" data-effect="slide">
    <div class="uvSliderItemsList" id="uvSliderItemsList" role="region" aria-label="Carousel" aria-live="polite">
        
        {{#each info.main_slider}}
        {{#compare @index 0  operator="=="}}
            <div aria-hidden="false" class="uvSliderItem active">
        {{/compare}}
        {{#compare @index 0  operator=">"}}
            <div aria-hidden="false" class="uvSliderItem">
        {{/compare}}
            <div class="uvSliderItem__background" style="background-image: url(./images/main_slider/{{this.img}});"></div>
            <div class="uvSliderItem__mainText_wrap">
                <div class="uvSliderItem__mainText"><div class="row"><div class="col-12">
                    <div class="h1" style="font-weight: 400">{{this.title}}</div>
                    <a href="{{this.link}}" class="btn btn-lg btn-primary" style="min-width: 200px; color: white; font-weight: 300;">Перейти</a>
                    </div></div>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- <div aria-hidden="true" class="uvSliderItem">
            <div class="uvSliderItem__background" style="background-image: url(./images/header_bg--main_slider-online_factoring.jpg);"></div>
            <div class="uvSliderItem__mainText_wrap">
                <div class="uvSliderItem__mainText"><div class="row"><div class="col-12">
                    <div class="h1" style="font-weight: 400">Онлайн-Факторинг</div>
                    <a href="#a" class="btn btn-lg btn-primary" style="min-width: 200px; color: white; font-weight: 300;">Перейти</a>
                    </div></div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="uvSliderItem">
            <div class="uvSliderItem__background" style="background-image: url(./images/header_bg--main_slider-vacancy.jpg);"></div>
            <div class="uvSliderItem__mainText_wrap">
                <div class="uvSliderItem__mainText"><div class="row"><div class="col-12">
                    <div class="h1" style="font-weight: 400">SCF</div>
                    <a href="#a" class="btn btn-lg btn-primary" style="min-width: 200px; color: white; font-weight: 300;">Перейти</a>
                    </div></div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="uvSliderItem">
            <div class="uvSliderItem__background" style="background-image: url(./images/header_bg--main_slider-vacancy.jpg);"></div>
            <div class="uvSliderItem__mainText_wrap">
                <div class="uvSliderItem__mainText"><div class="row"><div class="col-12">
                    <div class="h1" style="font-weight: 400">Вакансии</div>
                    <a href="#a" class="btn btn-lg btn-primary" style="min-width: 200px; color: white; font-weight: 300;">Перейти</a>
                    </div></div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" class="uvSliderItem">
            <div class="uvSliderItem__background" style="background-image: url(./images/header_bg--main_slider-news.jpg);"></div>
            <div class="uvSliderItem__mainText_wrap">
                <div class="uvSliderItem__mainText"><div class="row"><div class="col-12">
                    <div class="h1" style="font-weight: 400">Новости</div>
                    <a href="#a" class="btn btn-lg btn-primary" style="min-width: 200px; color: white; font-weight: 300;">Перейти</a>
                    </div></div>
                </div>
            </div>
        </div> --}}
    </div>
    <ul class="uvSlider__pagination"></ul>
</div>