<div class="uvSlider" id="uvSlider" data-effect="slide">
    <div class="uvSliderItemsList" id="uvSliderItemsList" role="region" aria-label="Carousel" aria-live="polite">
        <div aria-hidden="false" class="uvSliderItem active">
            <div class="uvSliderItem__background" style="background-image: url(./images/header_bg--main_slider-vacancies.jpg);"></div>
            <div class="uvSliderItem__mainText_wrap">
                <div class="uvSliderItem__mainText"><div class="row"><div class="col-12">
                    <div class="h1" style="font-weight: 400">Открой себя в<br>Открытие Факторинг</div>
                    </div></div>
                </div>
            </div>
        </div>
    </div>
    <ul class="uvSlider__pagination"></ul>
</div>