<header class="main_header {{class}}" style="background-image: url({{bg}});">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-3">
                <a href="#a" class="main_logo">
                    <img src="./images/logo-header.svg" alt="">
                    <span class="main_logo--description">Факторинг</span>
                </a>
            </div>
            <div class="col-5">
                <div class="header_actions">
                    <div class="header_actions--item">
                        <a href="#a" class="btn btn-outline-primary">Заявка на факторинг</a>
                    </div>
                    <div class="header_actions--item">
                        <a href="#a" class="btn btn-primary btn-round">
                            {{> use 
                                class=""
                                width="14"
                                height="14"
                                icon="search"}}
                            <span class="sr-only">Поиск по сайту</span>
                        </a>
                    </div>
                    <div class="header_actions--item">
                        <a href="#a" class="btn btn_iconized pr-0">
                            <span href="#a" class="btn-primary btn_iconized--icon">
                                {{> use 
                                    class=""
                                    width="15"
                                    height="16"
                                    stroke_width="1px"
                                    icon="cabinet"}}
                            </span>
                            <span class="btn_iconized--text">Личный кабинет</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 align-items-end">
                <nav class="main_nav">
                    <ul class="main_nav--list list-unstyled">
                        <li class="main_nav--item">
                            <a href="#a" class="main_nav--link"><span>О компании</span></a>
                        </li>
                        <li class="main_nav--item">
                            <a href="#a" class="main_nav--link"><span>Наши услуги</span></a>
                        </li>
                        <li class="main_nav--item">
                            <a href="#a" class="main_nav--link"><span>Поставщикам</span></a>
                        </li>
                        <li class="main_nav--item">
                            <a href="#a" class="main_nav--link"><span>Покупателям</span></a>
                        </li>
                        <li class="main_nav--item">
                            <a href="#a" class="main_nav--link"><span>Онлайн Факторинг</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>