<section block="sub_head" {{#if subhead_mod }} mod="{{ subhead_mod }}"{{/if}}>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="Хлебные крошки">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        {{#each breadcrumbs}}
                            <li class="breadcrumb-item"><a href="{{link}}">{{text}}</a></li>
                        {{/each}}
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>