<svg class="svg-icon__link {{class}}" preserveAspectRatio="xMidYMid" width="{{width}}" height="{{height}}"{{#if style}} style="{{style}}"{{/if}}>
    <use xlink:href="./images/symbol/sprite.svg#{{icon}}" {{#if stroke_width}}style="stroke-width: {{stroke_width}};"{{/if}} />
</svg>