{{#extend "layout"
    headBg="./images/header_bg--404.jpg"
    subHead=false
    footer_mod="background_grey"
    title="Ошибка"
    assets="./images"
    }}
{{#content "main"}}

<section block="text_block" class="fw-300" mod="pb_xlg, pt_xlg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div block="_404" class="mb-5">
                    <div elem='left'>
                        404
                    </div>
                    <div elem='right'>
                        <div class='text_block--sub_title mt-0'>Ошибка!</div>
                        <div class="text_block--body">Страница, которую вы ищите не <br>существует либо устарела.</div>
                    </div>
                </div>
                <div class="text_block--body text-center">
                    <a href="/" class="btn btn-primary btn-lg btn-wide fw-300">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{/content}}

{{/extend}}