{{!-- {{#extend "layout" headBg="./images/header_bg--about_factoring.jpg" subHead=true footer_mod="background_grey"}} --}}
{{#extend "layout"
    headBg="./images/header_bg--about_factoring.jpg"
    subHead=true
    head_mod="lg"
    footer_mod="background_grey"
    title="ООО «Открытие Факторинг»"
    assets="./images"
    }}
{{#content "main"}}

    <section block="text_block" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div elem="title">{{title}}</div>
                    <div elem="sub_title" class="mb-5 fw-300">
                        100% дочерняя компания ПАО Банк «ФК Открытие», предлагающая:
                    </div>
                    
                    <div block="equalize_block" mod="lg, center, pb_0">
                        <div elem="item">
                            <div block="iconized_text">
                                <div elem="icon" mod="text, lg">
                                    {{> use class='' width='60' height='38' icon='delivery'}}
                                </div>
                                <div elem="text" mod="black, lg">
                                    широкий спектр факторинговых
                                    <br>решений для всех сегментов
                                    <br>поставщиков
                                </div>
                            </div>
                        </div>
                        <div elem="item">
                            <div block="iconized_text">
                                <div elem="icon" mod="text, lg">
                                    {{> use class='' width='52' height='42' icon='shop'}}
                                </div>
                                <div elem="text" mod="black, lg">
                                    комплекс финансовых решений
                                    <br>для оптимизации оборотного капитала
                                    <br>Покупателя
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section block="text_block" mod="background_grey, pt_lg, pb_lg" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div elem='intro_icon'>
                        {{> use
                            width="97"
                            height="94"
                            icon="ten_star"
                            stroke_width="0"}}
                    </div>
                    <div elem="title" mod="mb_lg">
                        Команда профессионалов с опытом 
                        <br>работы на рынке факторинга более 10 лет
                    </div>
                    <div elem="body" class="fw-300">
                        Мы обеспечиваем простой процесс сделок вне зависимости от суммы финансирования за счет высокой степени 
                        <br class="mobile-hidden">диджитализации всех процессов – от заключения договора до операционного финансирования.
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section block="text_block" mod="pt_lg pb_lg" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div elem="title">Группа «Открытие» сегодня</div>
                    <div elem="sub_title" class="mb-5 fw-300">
                        это масштабная финансовая группа, которая обладает большим потенциалом 
                        <br>для дальнейшего роста бизнеса
                    </div>
                    
                    <div block="equalize_block" mod="lg, center, pb_0">
                        <div elem="item">
                            <div block="iconized_text">
                                <div elem="icon" mod="text, lg">
                                    10
                                </div>
                                <div elem="text" mod="black, lg">
                                    Банк Открытие входит в топ-10
                                    <br>крупнейших банков России и является
                                    <br>системно значимым
                                </div>
                            </div>
                        </div>
                        <div elem="item">
                            <div block="iconized_text">
                                <div elem="icon" mod="text, lg">
                                    250
                                </div>
                                <div elem="text" mod="black, lg">
                                    региональная сеть банка насчитывает
                                    <br>более 750 офисов в 260 городах 70
                                    <br>регионов страны
                                </div>
                            </div>
                        </div>
                        <div elem="item">
                            <div block="iconized_text">
                                <div elem="icon" mod="text, lg">
                                    99,9
                                </div>
                                <div elem="text" mod="black, lg">
                                    ключевым акционером Банка
                                    <br>«Открытие» является Банк России с
                                    <br>долей 99,99%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{/content}}

{{/extend}}