{{#extend "layout" headBg="./images/header_bg--about.jpg" subHead=true footer_mod="background_grey"}}

{{#content "main"}}

    <section block="text_block" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div elem="title">«Открытие» сегодня</div>
                    <div elem="body">
                        это масштабная финансовая группа, которая обладает большим потенциалом для дальнейшего роста бизнеса. 
                        В состав группы входят компании финансового рынка: страховая компания «Росгосстрах», Негосударственный пенсионный фонд «Открытие», Управляющая компания «Открытие», «Открытие Брокер», 
                        АО&nbsp;«Балтийский&nbsp;лизинг», АО «Таможенная карта».
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section block="text_block" mod="background_grey" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{> use
                        width="52"
                        height="50"
                        icon="mark_star"}}
                    <div elem="sub_title" >
                        Цель нашей группы – добиться устойчивого развития по всем направлениям.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section block="text_block" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div elem="title">Классификация дочерних компаний</div>
                    <div elem="body">
                        Головная организация группы – банк «Открытие». Банку принадлежат более 50% акций дочерних компаний.
                        <br>Есть пять направлений дочерних компаний:
                    </div>
                    <div block="equalize_block">
                        <div elem="item">
                            <div block="iconized_text">
                                <div elem="icon">
                                    {{> use class='' width='73' height='73' icon='hold' stroke_width='0'}}
                                </div>
                                <div elem="text">
                                    компаний 
                                    <br>«‎Открытие» 
                                </div>
                            </div>
                        </div>
                        <div elem='item' mod="separator">=</div>
                        <div elem="item">
                            <div block="iconized_text">
                                <div elem="icon" mod="text">
                                    8
                                </div>
                                <div elem="text">
                                    самостоятельные
                                    <br>компании
                                </div>
                            </div>
                        </div>
                        <div elem='item' mod="separator">+</div>
                        <div elem="item">
                            <div block="iconized_text">
                                <div elem="icon" mod="text">
                                    11
                                </div>
                                <div elem="text">
                                    в составе
                                    <br>бизнес&#8209;линий
                                </div>
                            </div>
                        </div>
                        <div elem='item' mod="separator">+</div>
                        <div elem="item">
                            <div block="iconized_text">
                                <div elem="icon" mod="text">
                                    29
                                </div>
                                <div elem="text">
                                    непрофильные 
                                    <br>компании
                                </div>
                            </div>
                        </div>
                        <div elem='item' mod="separator">+</div>
                        <div elem="item">
                            <div block="iconized_text">
                                <div elem="icon" mod="text">
                                    9
                                </div>
                                <div elem="text">
                                    сервисные
                                    <br>компании
                                </div>
                            </div>
                        </div>
                        <div elem='item' mod="separator">+</div>
                        <div elem="item">
                            <div block="iconized_text">
                                <div elem="icon" mod="text">
                                    22
                                </div>
                                <div elem="text">
                                    неключевые 
                                    <br>компании
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div block="table_row" class="row justify-content-between text-left">
                <div elem="text" class="col-5">
                    <h2>Самостоятельные компании.</h2>
                    <p>с крупным финансовым бизнесом и собственной широкой клиентской базой.</p>
                </div>
                <div elem="images" class="col-7">
                    <img src="./images/companies_logos/rosgosstrah.png" alt="">
                    <img src="./images/companies_logos/rosgosstrah_bank.png" alt="">
                    <img src="./images/companies_logos/otkritie_pensionniy_fond.png" alt="">
                    <img src="./images/companies_logos/baltiyskiy_lizing.png" alt="">
                </div>
            </div>
            <div block="table_row" class="row justify-content-between text-left">
                <div elem="text" class="col-5">
                    <h2>Компании в составе бизнес-линий банка.</h2>
                    <p>Предоставляют продукты и услуги для клиентов. Они комплементарны банковскому бизнесу, а советы директоров этих дочек возглавляет бизнес-лидер – топ-менеджер банка «Открытие».</p>
                </div>
                <div elem="images" class="col-7">
                    <img src="./images/companies_logos/otkritie_broker.png" alt="">
                    <img src="./images/companies_logos/otkritie_upravlyayushaya.png" alt="">
                    <img src="./images/companies_logos/otkritie_factoring.png" alt="">
                    <img src="./images/companies_logos/tochka.png" alt="">
                    <img src="./images/companies_logos/mig_kredit.png" alt="">
                    <img src="./images/companies_logos/tamozhennaya_karta.png" alt="" style="margin-left: auto; margin-right: 0; ">
                </div>
            </div>
            <div block="table_row" class="row justify-content-between text-left">
                <div elem="text" class="col-5">
                    <h2>Непрофильные компании.</h2>
                    <p>Не относятся к финансовому сектору.</p>
                </div>
                <div elem="images" class="col-7">
                    <img src="./images/companies_logos/geotech.png" alt="">
                    <img src="./images/companies_logos/kama.png" alt="">
                    <img src="./images/companies_logos/tpgk.png" alt="">
                </div>
            </div>
        </div>
    </section>

{{/content}}

{{/extend}}