{{!-- {{#extend "layout" headBg="./images/header_bg--noregress.jpg" subHead=true footer_mod="background_grey"}} --}}
{{#extend "layout"
    headBg="./images/header_bg--noregress.jpg"
    subHead=true
    footer_mod="background_grey"
    title="Покупателям"
    assets="./images"
}}

{{#content "main"}}

<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div elem="title" mod="thin" class="text-center">{{ title }}</div>
            </div>
            <div class="col-12 px-0">
                <div block="equalize_block" mod="pb_0, grid" class="text-center">
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='60' height='38' icon='delivery'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Единые условия для всех поставщиков
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='37' height='40' icon='list_search'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Принятие решения за 15 мин
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='42' height='46' icon='man'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Удаленное подписание оферты в ЛК
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='53' height='45' icon='graph'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Операционное обслуживание онлайн
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section block="text_block" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 ml-auto mb-4">
                <a href="/energy.html" block="frame_text" mod="text_lg, py_md" class="my-0 h-100">
                    Факторинг энергосервисных контрактов
                </a>
            </div>
            <div class="col-lg-5 mr-auto mb-4">
                <a href="/predelivery.html" block="frame_text" mod="text_lg, py_md" class="my-0 h-100">
                    Предпоставочный факторинг 
                </a>
            </div>
        </div> 
    </div>
</section>

<section block="text_block" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <div elem='body' class="mb-5">
                    {{> use class='' width='86' height='86' icon='gear' stroke_width='1'}}
                </div>
                <div elem="sub_title" mod="thin" class="mb-4">Продукт находится в разработке</div>
                <div elem='body' class="fw-300"><p>Если Вы заинтересованы в данном продукте заполните форму и мы с Вами свяжемся.</p></div>
                <a href="/form.html" elem="button" class="btn btn-lg btn-primary btn-wide">Заполнить форму</a>
            </div>
        </div>
    </div>
</section>

{{/content}}

{{/extend}}