{{!-- {{#extend "layout" headBg="./images/header_bg--noregress.jpg" subHead=true footer_mod="background_grey"}} --}}
{{#extend "layout"
    headBg="./images/header_bg--noregress.jpg"
    subHead=true
    footer_mod="background_grey"
    title="Классический факторинг"
    assets="./images"
}}

{{#content "main"}}

<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div elem="title" mod="thin" class="text-center">Особенности и преимущества</div>
            </div>
            <div class="col-12 mb-5 pb-5 px-0">
                <div block="equalize_block" mod="md, center, pb_0" class="text-center">
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='37' height='40' icon='list_search'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Работа с широким пулом Дебиторов <br>разной величины
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='57' height='38' icon='credit'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Поставщик получает оперативное <br>финансирование дебиторской <br>задолженности
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='57' height='44' icon='re_ruble' stroke_width=".5px"}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Покрытие кассового разрыва <br>происходит без увеличения <br>кредитной нагрузки
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='47' height='56' icon='pocket_ruble'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Комиссия может быть дисконтирована <br>из второго платежа, либо оплачена <br>отдельно по счету
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}

{{/extend}}