{{!-- {{#extend "layout" headBg="./images/header_bg--noregress.jpg" subHead=true footer_mod="background_grey"}} --}}
{{#extend "layout"
    headBg="./images/header_bg--factoring_with_agreement.jpg"
    subHead=true
    footer_mod="background_grey"
    breadcrumbs=info.factoring_with_agreement.breadcrumbs
    title="Комплексная программа финансирования поставщиков"
    assets="./images"
}}

{{#content "main"}}

<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 pb-lg-5">
                <div elem="title" mod="thin" class="text-center">{{ title }}</div>
                <div elem='body' mod="text_lg, thin" class="text-center">
                    Программа финансирования поставщиков – это комплекс продуктов для оптимизации оборотного капитала покупателя и его поставщиков, - для повышения финансовой эффективности, диверсификации источников финансирования, и, в&nbsp;конечном итоге, укрепления отношений между покупателем и его поставщиками.
                </div>
            </div>
            <div class="col-12 px-0 mb-5 pb-lg-5">
                <div elem="title" mod="thin" class="text-center">Преимущества для покупателей</div>
                <div block="equalize_block" mod="md, center, pb_0" class="text-center">
                    {{#each info.buyers_advantages}}
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width=icon.width height=icon.height icon=icon.link}}
                            </div>
                            <div elem="text" mod="black, lg">
                                {{text}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-12 px-0">
                <div elem="title" mod="thin" class="text-center">Преимущества для поставщиков</div>
                <div block="equalize_block" mod="md, center, pb_0" class="text-center">
                    {{#each info.providers_advantages}}
                    <div elem="item" class="mb-5">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width=icon.width height=icon.height icon=icon.link}}
                            </div>
                            <div elem="text" mod="black, lg">
                                {{text}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-12">
                <div class="frame_text frame_text-wide mx-auto">
                    <div elem="title" mod="thin" class="text-center">Нужно финансирование поставщика?</div>
                    <div elem='body' mod="text_lg, thin" class="text-center">
                        Мы являемся ведущим финансовым партнером финансирования поставщиков и можем работать как с производственными компаниями, так и дистрибьюторами. Для получения дополнительной информации заполните <a href="/contact-form.html">Заявку на факторинг</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}

{{/extend}}