{{!-- {{#extend "layout" headBg="./images/header_bg--noregress.jpg" subHead=true footer_mod="background_grey"}} --}}
{{#extend "layout"
    headBg="./images/header_bg--factoring_agent.jpg"
    subHead=true
    footer_mod="background_grey"
    breadcrumbs=info.factoring_agent.breadcrumbs
    title="Агентский факторинг"
    assets="./images"
}}

{{#content "main"}}

<section block="text_block" mod="pb_lg" class="mb-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-xl-5 pb-lg-5">
                <div elem="title" mod="thin" class="text-center">{{title}}</div>
            </div>
            <div class="col-xlg-9 pl-0 pb-5">
                <div block="lifecycle_agent" class="text-center">
                    <div elem='bg_ellipse'>
                        {{> use class='max_width' width='100%' height='100%' icon='bg_ellipse--factoring_agent'}}
                        <div elem='text' mod="delivery">
                            <div elem='icon' data-text="empty" data-dot="empty">
                                {{> use class='' width='65' height='50' icon='delivery' style="margin-left: 5px; margin-top: 6px;"}}
                            </div>
                            <div elem='text_body'>
                                Поставщик
                            </div>
                        </div>
                        <div elem='text' mod="shop">
                            <div elem='icon' data-text="empty" data-dot="empty">
                                {{> use class='' width='52' height='42' icon='shop'}}
                            </div>
                            <div elem='text_body'>
                                Покупатель
                            </div>
                        </div>
                        <div elem='text' mod="open">
                            <div elem='icon' data-text="empty" data-dot="empty">
                                {{> use class='' width='60' height='60' icon='open_white_bg'}}
                            </div>
                            <div elem='text_body'>
                                Открытие
                                <br>Факторинг
                            </div>
                        </div>
                        <div elem='floating_dot'>
                            <div elem='text_body'>
                                Дополнительная
                                <br>отсрочка
                            </div>
                        </div>
                        <div elem='floating_dot' mod="2">
                            <div elem='text_body'>
                                Контрактная
                                <br>отсрочка
                            </div>
                        </div>
                        <div elem='icon' mod="null, sm, outline, secondary">
                            {{> use class='' width='25' height='16' icon='delivery'}}
                        </div>
                        <div elem='icon' mod="first, sm, fill" data-text="1">
                            {{> use class='' width='22' height='29' icon='list_gear'}}
                        </div>
                        <div elem='icon' mod="second, sm, outline, primary" data-text="2">
                            {{> use class='' width='21' height='27' icon='list' stroke_width="1.5px"}}
                        </div>
                        <div elem='icon' mod="third, sm, outline, primary" data-text="3">
                            {{> use class='' width='24' height='29' icon='pocket_ruble'}}
                        </div>
                        <div elem='icon' mod="fourth, sm, outline, primary" data-text="4">
                            {{> use class='' width='29' height='23' icon='re_ruble'}}
                        </div>
                        <div elem='icon' mod="fifth, sm, outline, primary" data-text="5">
                            {{> use class='' width='29' height='23' icon='re_ruble'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xlg-3 pl-0">
                <div class="lifecycle--text_description">
                    <ol>
                        <li>Заключение договора агентского факторинга Покупателем и Открытие Факторинг</li>
                        <li>Передача Покупателем Фактору реестра платежей в адрес Поставщиков</li>
                        <li>Перечисление Фактором платежей в адрес Поставщиков по поручению Покупателя</li>
                        <li>Погашение Покупателем задолженности перед Фактором по истечении отсрочки платежа</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div elem="title" mod="thin" class="text-center">Особенности и преимущества</div>
            </div>
            <div class="col-12 mb-xl-5 pb-lg-5 px-0">
                <div block="equalize_block" mod="md, center, pb_0" class="text-center">
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='39' height='52' icon='list_gear' stroke_width="1px"}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Фактор является агентом Дебитора по оплатам Поставщикам
                            </div>
                        </div>
                    </div>
                    <div elem="item" mod="sm">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='47' height='56' icon='pocket_ruble'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Поставщик уведомлен об исполнении обязательств Фактором за него
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='42' height='40' icon='star'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Без договоров факторинга
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='48' height='45' icon='port_percent'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Агентский договор не носит кредитный характер
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}

{{/extend}}