{{!-- {{#extend "layout" headBg="./images/header_bg--noregress.jpg" subHead=true footer_mod="background_grey"}} --}}
{{#extend "layout"
    headBg="./images/header_bg--form.jpg"
    subHead=true
    footer_mod="background_grey"
    title="Заявка на факторинг"
    assets="./images"
}}

{{#content "main"}}

<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <div elem="title" mod="thin" class="text-center">{{ title }}</div>
            </div>
            <div class="col-md-6 mx-auto">
                {{> form }}
            </div>
        </div>
    </div>
</section>

{{/content}}

{{/extend}}