{{#extend "layout"
    headBg="./images/header_bg--terms.jpg"
    subHead=true
    footer_mod="background_grey"
    title="Справочник"
    assets="./images"
    }}
{{#content "main"}}

<section block="text_block" class="fw-300" mod="pb_lg">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div block="accordion" id="accordion">
                    <div elem="item">
                        <button
                            class="btn btn-link px-0 fz-20"
                            data-toggle="collapse"
                            data-target="#factoring">
                            Факторинг 
                        </button>
                        <div
                            elem='text'
                            id="factoring"
                            class="collapse show"
                            data-parent="#accordion">
                            <p>это комплекс финансовых услуг для производителей и поставщиков, ведущих торговую деятельность на условиях отсрочки платежа.</p>
                        </div>
                    </div>
                    <div elem="item">
                        <button
                            class="btn btn-link px-0 fz-20"
                            data-toggle="collapse"
                            data-target="#factoring_types">
                            Виды факторинга
                        </button>
                        <div
                            elem='text'
                            id="factoring_types"
                            class="collapse"
                            data-parent="#accordion">
                            <ul>
                                <li>
                                    Факторинг с регрессом— вид факторинга, при котором фактор приобретает у клиента право на все суммы, причитающиеся от должника. Однако в случае невозможности взыскания с должника сумм в полном объёме клиент, переуступивший долг, обязан возместить фактору недостающие денежные средства.
                                </li>
                                <li>
                                    Факторинг без регресса — вид факторинга, при котором фактор приобретает у клиента право на все суммы, причитающиеся от должника. При невозможности взыскания с должника сумм в полном объёме факторинговая компания потерпит убытки (правда, в рамках выплаченного финансирования клиенту).
                                </li>
                                <li>
                                    Открытый факторинг - факторинг с уведомлением дебитора об уступке.
                                </li>
                                <li>
                                    Закрытый факторинг – факторинг без уведомления дебитора об уступке. Если при открытом факторинге должник платит напрямую фактору, то в закрытом факторинге должник платит сначала клиенту, а тот уже перечисляет эту сумму фактору. 
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div elem='item'>
                        <button class="btn btn-link px-0 fz-20" data-toggle="collapse" data-target="#client">Клиент</button>
                        <div elem='text' id="client" class="collapse" data-parent="#accordion">
                            <p>поставщик товаров и/или услуг, с которым у Фактора подписан Договор факторингового обслуживания, либо такое подписание возможно ввиду соответствия Поставщика целевому Клиентскому сегменту Фактора</p>
                        </div>
                    </div>
                    <div elem='item'>
                        <button class="btn btn-link px-0 fz-20" data-toggle="collapse" data-target="#debitor">Дебитор</button>
                        <div elem='text' id="debitor" class="collapse" data-parent="#accordion">
                            <p>покупатель товаров и/или услуг на условиях долгосрочных Контрактов с отсрочкой платежа. Текущая задолженность по таким Контрактам явлется предметом уступки по Договору факторингового обслуживания</p>
                        </div>
                    </div>
                    <div elem='item'>
                        <button class="btn btn-link px-0 fz-20" data-toggle="collapse" data-target="#contract">Контракт</button>
                        <div elem='text' id="contract" class="collapse" data-parent="#accordion">
                            <p>договор поставки товара или оказания услуг, заключенный между Клиентом и Дебитором.</p>
                        </div>
                    </div>
                    <div elem='item'>
                        <button class="btn btn-link px-0 fz-20" data-toggle="collapse" data-target="#deal">Сделка</button>
                        <div elem='text' id="deal" class="collapse" data-parent="#accordion">
                            <p>заключенная сделка между Фактором и Клиентом, оформленная Договором (Договорами) факторингового обслуживания.</p>
                        </div>
                    </div>
                    <div elem='item'>
                        <button class="btn btn-link px-0 fz-20" data-toggle="collapse" data-target="#notification">Уведомление</button>
                        <div elem='text' id="notification" class="collapse" data-parent="#accordion">
                            <p>формализованный документ, согласно которого Клиент уведомляет Дебитора об уступке права требования Дебиторской задолженности по поставкам/работам/услугам Фактору</p>
                        </div>
                    </div>
                    <div elem='item'>
                        <button class="btn btn-link px-0 fz-20" data-toggle="collapse" data-target="#verification">Верификация</button>
                        <div elem='text' id="verification" class="collapse" data-parent="#accordion">
                            <p>подтверждение Дебитором суммы и даты поставки товара/оказания услуг, а также отсутствия претензий по качеству товара (либо оказанных услуг) и комплектности поставки (либо полноты оказанных услуг).</p>
                        </div>
                    </div>
                    <div elem='item'>
                        <button class="btn btn-link px-0 fz-20" data-toggle="collapse" data-target="#time_lag">Период ожидания</button>
                        <div elem='text' id="time_lag" class="collapse" data-parent="#accordion">
                            <p>установленное Договором факторингового обслуживания количество дней по истечению основной отсрочки платежа по переданному на факторинговое обслуживание Контракту, в течении которых Фактор осуществляет мероприятия по управлению образовавшейся дебиторской задолженностью, не предъявляя при этом регрессные требования к Клиенту.</p>
                        </div>
                    </div>
                    <div elem='item'>
                        <button class="btn btn-link px-0 fz-20" data-toggle="collapse" data-target="#regress_period">Период регресса</button>
                        <div elem='text' id="regress_period" class="collapse" data-parent="#accordion">
                            <p>установленное Договором факторингового обслуживания количество дней после истечения периода ожидания, в течении которых Клиент возвращает Фактору выплаченное финансирование, а также оплачивает начисленную комиссию за факторингове обслуживание и прочие комиссии, установленные условиями Договора факторингового обслуживания и Тарифного плана.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/content}}

{{/extend}}