{{!-- {{#extend "layout" headBg="./images/header_bg--noregress.jpg" subHead=true footer_mod="background_grey"}} --}}
{{#extend "layout"
    headBg="./images/header_bg--lukoil.jpg"
    subHead=true
    footer_mod="background_grey"
    title="Программа онлайн-финансирования поставщиков ЛУКОЙЛ"
    assets="./images"
}}

{{#content "main"}}

<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 pb-lg-5">
                <div elem="title" mod="thin" class="text-center">Программа онлайн-финансирования <br>поставщиков ЛУКОЙЛ</div>
                <div elem='body' mod="thin" class="text-center">
                    Воспользуйтесь специальным предложением финансирования поставок по контрактам с компанией ЛУКОЙЛ и ее дочерними организациями.
                </div>
            </div>
            <div class="col-12 px-0 mb-5 pb-lg-5">
                <div elem='body' mod="text_xl, thin" class="text-center">
                    <div class="text-primary mb-2">{{> use class='' width='60' height='29' icon='delivery'}}</div>
                    Минимальные требования к поставщику
                </div>
            </div>
            <div class="col-12">
                <div block="equalize_block" mod="md, center, pb_0" class="text-center">
                    <div elem="item" class="mb-5">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, xs">
                                {{> use class='' width='15' height='13' icon='mark_default'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Наличие действующего договора поставки/подряда с «ЛУКОЙЛ» и дебиторской задолженности по контракту 
                            </div>
                        </div>
                    </div>
                    <div elem="item" class="mb-5">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, xs">
                                {{> use class='' width='15' height='13' icon='mark_default'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Отсрочка по контракту не более 180 дней
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section block="text_block" mod="background_grey">
    <div class="container">
        <div class="row">
            <div class="col-12 px-0">
                <div elem="title" mod="thin" class="text-center">Особенности и преимущества</div>
                <div block="equalize_block" mod="md, center, pb_0" class="text-center">
                    {{#each info.advantages}}
                    <div elem="item" class="mb-5">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width=icon.width height=icon.height icon=icon.link stroke_width="1"}}
                            </div>
                            <div elem="text" mod="black, lg">
                                {{text}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>

<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <a href="#a" class="btn btn-primary btn-lg btn-wide">Подробнее</a>
            </div>
        </div>
    </div>
</section>

{{/content}}

{{/extend}}