{{#extend "layout"
    headBg="./images/header_bg--mission.jpg"
    subHead=false
    footer_mod="background_grey"
    title="Миссия и ценности компании"
    breadcrumbs=info.mission.breadcrumbs
    }}

{{#content "main"}}
    <section block="sub_head" mod="background_grey">
        <div class="container">
            <div class="row">
                <div class="col-12">
                <nav aria-label="Хлебные крошки">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        {{#each breadcrumbs}}
                            <li class="breadcrumb-item"><a href="{{link}}">{{text}}</a></li>
                        {{/each}}
                        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div block="text_block" class="text-center">
                        <div elem="title">{{title}}</div>
                        <div elem="body" mod="thin, text_lg">
                            Создание лучшего инновационного сервиса, который способствует развитию 
                            наших клиентов, профессионально обеспечивая их необходимыми финансовыми ресурсами.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container pb-4">
        <div class="row">
            <div class="col-12">
                <div block="text_block" class="text-center">
                    <div elem='intro_icon'>
                        {{> use
                            width="51"
                            height="46"
                            icon="team"
                            stroke_width="2"}}
                    </div>
                    <div elem='title' mod="thin">
                        Миссия Открытие Факторинг
                    </div>
                </div>
                <div block="texts_list">
                    <div elem='item'>
                        <div block="iconized_text" mod="icon_left">
                            <div elem="icon">
                                {{> use class=''
                                    width='41'
                                    height='34'
                                    icon='heart'}}
                            </div>
                            <div>
                                <div elem='title'>Этические ценности</div>
                                <div elem="text" mod="black, lg">
                                    Рассматривать и принимать решения исходя не только с позиции получения прибыли и законности, но и руководствуясь моральными и этическими принципами.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div elem='item'>
                        <div block="iconized_text" mod="icon_left">
                            <div elem="icon">
                                {{> use class=''
                                    width='36'
                                    height='40'
                                    icon='man'}}
                            </div>
                            <div>
                                <div elem='title'>Клиентоориенти<span class="ndash">&ndash;</span>рованность</div>
                                <div elem="text" mod="black, lg">
                                    Все продукты и услуги Открытие Факторинг строятся вокруг клиента и его потребностей. Мы ставим клиента в центр и выстраиваем вокруг него все элементы современного инновационного сервиса, помогая клиенту выбрать оптимальное решение по наилучшей цене
                                </div>
                            </div>
                        </div>
                    </div>
                    <div elem='item'>
                        <div block="iconized_text" mod="icon_left">
                            <div elem="icon">
                                {{> use class=''
                                    width='41'
                                    height='35'
                                    icon='cacheholder'}}
                            </div>
                            <div>
                                <div elem='title'>Финансовые инновации</div>
                                <div elem="text" mod="black, lg">
                                    на благо клиентов: руководствуясь стремлением предоставлять клиентам конкурентоспособные финансовые услуги, Открытие Факторинг постоянно развивается и развивает финансовую индустрию, используя безграничные возможности цифровых инновационных технологий.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div elem='item'>
                        <div block="iconized_text" mod="icon_left">
                            <div elem="icon">
                                {{> use class=''
                                    width='41'
                                    height='35'
                                    icon='graph'}}
                            </div>
                            <div>
                                <div elem='title'>Стремление к новому</div>
                                <div elem="text" mod="black, lg">
                                    Открытие Факторинг стремится занять лидирующие позиции в области создания и развития наиболее востребованных в 21 веке инновационных финансовых сервисов.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div elem='item'>
                        <div block="iconized_text" mod="icon_left">
                            <div elem="icon">
                                {{> use class=''
                                    width='28'
                                    height='43'
                                    icon='gul'}}
                            </div>
                            <div>
                                <div elem='title'>Непрерывное саморазвитие</div>
                                <div elem="text" mod="black, lg">
                                    стремясь к созданию компании, легко адаптирующейся к изменениям деловой среды, Открытие Факторинг находится в процессе постоянного саморазвития. Корпоративная «проницательность» и «саморазвитие» являются частью философии Компании.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{/content}}

{{/extend}}