{{#extend "layout" headBg="./images/header_bg--news.jpg" subHead=true footer_mod="background_grey"}}

{{#content "main"}}
<section block="news_brief">
    <div class="container">
        <div elem="list" class="row">
            <div elem="item" mod="full" class="col-12">
                <time elem="date" datetime="2019-08-12 08:00">
                    <div elem="date_day">12</div>
                    <div elem="date_month">августа</div>
                </time>
                <div elem="item_rightside">
                    <div elem='item_title'>«Открытие» завершило присоединение банка «ХМБ Открытие» к банку «ФК Открытие»</div>
                    <div elem="text" mod="pull_left">
                        <p>Финансовая группа «Открытие» завершила юридическую процедуру присоединения ПАО «Ханты-Мансийский банк Открытие» к ПАО Банк «ФК Открытие». Это присоединение стало наиболее масштабным в истории российского банковского сектора. Объединенный банк с активами 3,1 трлн рублей является крупнейшей частной.</p>
                        <p>Более того, у пользователей есть возможность ежемесячно обновлять категории в зависимости от собственных планов. Кэшбэк возвращается в виде бонусных рублей, которые можно конвертировать в реальные деньги в мобильном или интернет-банке и компенсировать ими любую покупку от 3 тысяч рублей. Лимит на возврат — 15 тысяч рублей в месяц на все покупки, из них 3 тысячи рублей в новых категориях. Обслуживание карты — бесплатное.</p>
                        <p>«В каждой рекламной кампании мы подчеркиваем, как меняется мир вокруг нас, меняемся мы и наши привычки. Кто-то отвечает на это гонкой за инновациями. Мы — стремлением понять клиентов, соответствовать их ожиданиям здесь и сейчас. Дебетовая карта Opencard с повышенным кэшбэком в любимых категориях — полностью отвечает самым актуальным запросам пользователей», — рассказала директор департамента маркетинга и рекламы банка «Открытие» Елена Семенова.</p>
                        <p>Кампания разработало креативное агентство SLAVA, продакшн — production house Stink.</p>
                        <p>На телевидении и в интернете вышли продуктовые рекламные ролики с бренд-амбассадором банка Василием Вакуленко (Бастой) в поддержку дебетовой карты Opencard. Кампания на ведущих телеканалах страны продлится до 8 сентября, в диджитал-каналах — до конца сентября. Планируется, что охват целевой аудитории составит 89%. <br>Рекламная кампания разработана в рамках нового позиционирования бренда «Открытие», которое выражается в непрерывном развитии. Поставив для себя новые цели, став надежнее, банк день ото дня становится все лучше и лучше, внедряя новые продукты и делая взаимодействие с клиентом удобнее и выгоднее.</p>
                    </div>
                    <br>
                    <a href="/news.html" elem="button" class="btn btn-lg btn-primary">Назад ко всем новостям</a>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}

{{/extend}}