{{#extend "layout" headBg="./images/header_bg--news.jpg" subHead=true footer_mod="background_grey"}}

{{#content "main"}}
<section block="news_brief">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 text-center text-sm-left mb-4 mb-sm-0">
                <h2 elem="title">Новости банка</h2>
            </div>
            <div class="col-sm-6 d-flex justify-content-center justify-content-sm-end">
                <div class="inputContainer mb-0 mr-4">
                    <div block="inputWrap" mod="sm" class="md-form" style="min-width: 120px;">
                        <select name="country" id="news-filter-year" class="form-control" data-parsley-required="true" data-parsley-trigger="change">
                            <option></option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019" selected>2019</option>
                        </select>
                    </div>
                    <div class="helperText"></div>
                </div>

                <div class="inputContainer mb-0">
                    <div block="inputWrap" mod="sm" class="md-form" style="min-width: 140px;">
                        <select name="country" id="news-filter-month" class="form-control" data-parsley-required="true" data-parsley-trigger="change">
                            <option></option>
                            <option value="jan">Январь</option>
                            <option value="feb">Февраль</option>
                            <option value="mar">Март</option>
                            <option value="apr">Апрель</option>
                            <option value="may">Май</option>
                            <option value="jun">Июнь</option>
                            <option value="jul">Июль</option>
                            <option value="aug">Август</option>
                            <option value="sep">Сентябрь</option>
                            <option value="oct" selected>Октябрь</option>
                            <option value="nov">Ноябрь</option>
                            <option value="dec">Декабрь</option>
                        </select>
                    </div>
                    <div class="helperText"></div>
                </div>

                {{!-- <div class="form-control__select mr-3">
                    <select class="form-control" name="news-filter-year" id="news-filter-year">
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019" selected>2019</option>
                    </select>
                </div>
                
                <div class="form-control__select">
                    <select class="form-control" name="news-filter-month" id="news-filter-month">
                        <option value="jan">Январь</option>
                        <option value="feb">Февраль</option>
                        <option value="mar">Март</option>
                        <option value="apr">Апрель</option>
                        <option value="may">Май</option>
                        <option value="jun">Июнь</option>
                        <option value="jul">Июль</option>
                        <option value="aug">Август</option>
                        <option value="sep">Сентябрь</option>
                        <option value="oct">Октябрь</option>
                        <option value="nov">Ноябрь</option>
                        <option value="dec">Декабрь</option>
                    </select>
                </div> --}}
            </div>
        </div>
        <div elem="list" class="row">
            <div class="col-12 list-sep">
                <hr>
            </div>
            <div elem="item" mod="full" class="col-12">
                <time elem="date" datetime="2019-08-12 08:00">
                    <div elem="date_day">12</div>
                    <div elem="date_month">августа</div>
                </time>
                <div elem="item_rightside">
                    <div elem='item_title'>«Открытие» завершило присоединение банка «ХМБ Открытие» к банку «ФК Открытие»</div>
                    <div elem="text" mod="pull_left">
                        Финансовая группа «Открытие» завершила юридическую процедуру присоединения ПАО «Ханты-Мансийский банк Открытие» к ПАО Банк «ФК Открытие». Это присоединение стало наиболее масштабным в истории российского банковского сектора. Объединенный банк с активами 3,1 трлн рублей является крупнейшей частной...
                    </div>
                    <a href="/news_inside.html" elem="button" class="btn btn-lg btn-primary">Подробнее</a>
                </div>
            </div>
            <div elem="item" mod="full" class="col-12">
                <time elem="date" datetime="2019-08-07 08:00">
                    <div elem="date_day">7</div>
                    <div elem="date_month">августа</div>
                </time>
                <div elem="item_rightside">
                    <div elem='item_title'>«Открытие» завершило присоединение банка «ХМБ Открытие» к банку «ФК Открытие»</div>
                    <div elem="text" mod="pull_left">
                        Финансовая группа «Открытие» завершила юридическую процедуру присоединения ПАО «Ханты-Мансийский банк Открытие» к ПАО Банк «ФК Открытие». Это присоединение стало наиболее масштабным в истории российского банковского сектора. Объединенный банк с активами 3,1 трлн рублей является крупнейшей частной...
                    </div>
                    <a href="/news_inside.html" elem="button" class="btn btn-lg btn-primary">Подробнее</a>
                </div>
            </div>
            <div elem="item" mod="full" class="col-12">
                <time elem="date" datetime="2019-08-03 08:00">
                    <div elem="date_day">3</div>
                    <div elem="date_month">августа</div>
                </time>
                <div elem="item_rightside">
                    <div elem='item_title'>«Открытие» завершило присоединение банка «ХМБ Открытие» к банку «ФК Открытие»</div>
                    <div elem="text" mod="pull_left">
                        Финансовая группа «Открытие» завершила юридическую процедуру присоединения ПАО «Ханты-Мансийский банк Открытие» к ПАО Банк «ФК Открытие». Это присоединение стало наиболее масштабным в истории российского банковского сектора. Объединенный банк с активами 3,1 трлн рублей является крупнейшей частной...
                    </div>
                    <a href="/news_inside.html" elem="button" class="btn btn-lg btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}

{{/extend}}