{{#extend "layout"
    headBg="./images/header_bg--press.jpg"
    subHead=true
    footer_mod="background_grey"
    breadcrumbs=info.projects.breadcrumbs
    title="Наши проекты"
    assets="./images"
    subhead_mod="background_grey"
}}

{{#content "main"}}

<section block="text_block" mod="background_grey" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <div elem="title" mod="thin">С нами выгодно</div>
                <div elem="sub_title" mod="sm, thin" class="mb-5">
                    Аккредитовано 400 заказчиков, из них в постоянной загрузке - более 100 <br>юридических лиц
                </div>
            </div>
            <div class="mp_images col-12 d-flex justify-content-between align-items-center mb-3">
                {{#each info.projects.companies_1}}
                <img src="{{../assets}}/companies/{{this}}" alt="">
                {{/each}}
            </div>

            <div class="mp_images col-12 d-flex justify-content-between align-items-center mb-3">
                {{#each info.projects.companies_2}}
                <img src="{{../assets}}/companies/{{this}}" alt="">
                {{/each}}
            </div>
            <div class="mp_images col-12 d-flex justify-content-between align-items-center mb-3">
                {{#each info.projects.companies_3}}
                <img src="{{../assets}}/companies/{{this}}" alt="">
                {{/each}}
            </div>
        </div>
    </div>
</section>

<section block="text_block" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 px-0">
                <div elem="title">Классические кейсы</div>

                <div class="nav btn-group btn-group-lg justify-content-center my-5" id="cases">
                    <button
                        type="button"
                        class="case_steps--tabs_btn btn btn-outline-primary active"
                        id="case_1_controll"
                        data-toggle="tab"
                        href="#case_1"
                        role="tab"
                        aria-controls="case_1"
                        aria-selected="true">Кейс №1</button>
                    <button
                        type="button"
                        class="case_steps--tabs_btn btn btn-outline-primary nav-link"
                        id="case_2-tab"
                        data-toggle="tab"
                        href="#case_2"
                        role="tab"
                        aria-controls="case_2"
                        aria-selected="false">Кейс №2</button>
                </div>
                <div class="tab-content" id="casesContent">
                    <div class="tab-pane fade show active" id="case_1">
                        <div elem="sub_title" mod="sm" class="mb-3">
                            Компания-подрядчик нефтегазовой отрасли
                        </div>
                        <div elem="body">
                            Компания занимается проектно-изыскательными работами для Лукойл, ГазПром, Роснефть
                        </div>
                        <div block="case_steps">
                            <div elem='step'>
                                <div elem='title'>
                                    Рассмотрение
                                </div>
                                <div elem='body'>
                                    <div elem="body_line">от</div>
                                    <div elem="body_line"><span class="text-lg">15</span>мин</div>
                                </div>
                                <div elem='subscript'>Минимальное  время на  онлайн&ndash;рассмотрение <br>заявки</div>
                            </div>
                            <div elem='step'>
                                <div elem='title'>
                                    Стоимость факторинга
                                </div>
                                <div elem='body'>
                                    <div elem="body_line">от</div>
                                    <div elem="body_line"><span class="text-lg">1-90</span>дней</div>
                                    <div elem="body_line" style="font-size: 16px; line-height: 1.3125;">0,04-3,99 % от <br>акта</div>
                                </div>
                                <div elem='subscript'>Фиксированный <br>% от суммы поставки по<br>фактическому&nbsp;количеству дней</div>
                            </div>
                            <div elem='step'>
                                <div elem='title'>
                                    Отсрочка платежа
                                </div>
                                <div elem='body'>
                                    <div elem="body_line">дней</div>
                                    <div elem="body_line"><span class="text-lg">30-120</span></div>
                                </div>
                                <div elem='subscript'>Дополнительная  отсрочка  платежа по  договорам с покупателями</div>
                            </div>
                            <div elem='step'>
                                <div elem='title'>
                                    Размер лимита
                                </div>
                                <div elem='body'>
                                    <div elem="body_line">до</div>
                                    <div elem="body_line"><span class="text-lg">100</span>млн. р.</div>
                                </div>
                                <div elem='subscript'>Объем  передаваемых  на факторинг  поставок <br>от одного  поставщика</div>
                            </div>
                            <div elem='step'>
                                <div elem='title'>
                                    Финансирование
                                </div>
                                <div elem='body'>
                                    <div elem="body_line">до</div>
                                    <div elem="body_line"><span class="text-lg">95%</span></div>
                                </div>
                                <div elem='subscript'>Суммы  уступленного  денежного  требования –  регрессный и  безрегрессный  факторинг</div>
                            </div>
                            <div elem='step'>
                                <div elem='title'>
                                    Требования к клиентам
                                </div>
                                <div elem='body'>
                                    {{> use
                                        width="66"
                                        height="66"
                                        icon="close"
                                        stroke_width="0"}}
                                </div>
                                <div elem='subscript'>Дополнительная  отсрочка  платежа по  договорам с&nbsp;покупателями</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="case_2" role="tabpanel" aria-labelledby="case_2-tab">
                        <div elem="sub_title" mod="sm" class="mb-3">
                            Компания-подрядчик нефтегазовой отрасли
                        </div>
                        <div elem="body">
                            Компания занимается проектно-изыскательными работами для Лукойл, ГазПром, Роснефть
                        </div>
                        <div block="case_steps">
                            <div elem='step'>
                                <div elem='title'>
                                    Рассмотрение
                                </div>
                                <div elem='body'>
                                    <div elem="body_line">от</div>
                                    <div elem="body_line"><span class="text-lg">15</span>мин</div>
                                </div>
                                <div elem='subscript'>Минимальное  время на  онлайн&ndash;рассмотрение <br>заявки</div>
                            </div>
                            <div elem='step'>
                                <div elem='title'>
                                    Стоимость факторинга
                                </div>
                                <div elem='body'>
                                    <div elem="body_line">от</div>
                                    <div elem="body_line"><span class="text-lg">1-90</span>дней</div>
                                    <div elem="body_line" style="font-size: 16px; line-height: 1.3125;">0,04-3,99 % от <br>акта</div>
                                </div>
                                <div elem='subscript'>Фиксированный <br>% от суммы поставки по<br>фактическому&nbsp;количеству дней</div>
                            </div>
                            <div elem='step'>
                                <div elem='title'>
                                    Отсрочка платежа
                                </div>
                                <div elem='body'>
                                    <div elem="body_line">дней</div>
                                    <div elem="body_line"><span class="text-lg">30-120</span></div>
                                </div>
                                <div elem='subscript'>Дополнительная  отсрочка  платежа по  договорам с покупателями</div>
                            </div>
                            <div elem='step'>
                                <div elem='title'>
                                    Размер лимита
                                </div>
                                <div elem='body'>
                                    <div elem="body_line">до</div>
                                    <div elem="body_line"><span class="text-lg">100</span>млн. р.</div>
                                </div>
                                <div elem='subscript'>Объем  передаваемых  на факторинг  поставок <br>от одного  поставщика</div>
                            </div>
                            <div elem='step'>
                                <div elem='title'>
                                    Финансирование
                                </div>
                                <div elem='body'>
                                    <div elem="body_line">до</div>
                                    <div elem="body_line"><span class="text-lg">95%</span></div>
                                </div>
                                <div elem='subscript'>Суммы  уступленного  денежного  требования –  регрессный и  безрегрессный  факторинг</div>
                            </div>
                            <div elem='step'>
                                <div elem='title'>
                                    Требования к клиентам
                                </div>
                                <div elem='body'>
                                    {{> use
                                        width="66"
                                        height="66"
                                        icon="close"
                                        stroke_width="0"}}
                                </div>
                                <div elem='subscript'>Дополнительная  отсрочка  платежа по  договорам с&nbsp;покупателями</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}

{{/extend}}