{{#extend "layout"
    headBg="./images/header_bg--press.jpg"
    subHead=true
    footer_mod="background_grey"
    breadcrumbs=info.projects.breadcrumbs
    title="Наши проекты"
}}

{{#content "main"}}

    <section block="text_block" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <div elem="title">С нами выгодно</div>
                    <div elem="body">
                        Аккредитовано 400 заказчиков, из них в постоянной загрузке - более 100 <br>юридических лиц
                    </div>
                </div>
            </div>
        </div>
    </section>

{{/content}}

{{/extend}}