{{!-- {{#extend "layout" headBg="./images/header_bg--noregress.jpg" subHead=true footer_mod="background_grey"}} --}}
{{#extend "layout"
    headBg="./images/header_bg--factoring_agent.jpg"
    subHead=true
    footer_mod="background_grey"
    breadcrumbs=info.factoring_with_agreement.breadcrumbs
    title="Закупочный факторинг"
    assets="./images"
}}

{{#content "main"}}

<section block="text_block" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h1 elem='title' mod="thin">{{title}}</h1>
                <div elem='body' class="mb-5">
                    {{> use class='' width='86' height='86' icon='gear' stroke_width='1'}}
                </div>
                <div elem="sub_title" mod="thin" class="mb-4">Продукт находится в разработке</div>
                <div elem='body' class="fw-300"><p>Если Вы заинтересованы в данном продукте заполните форму и мы с Вами свяжемся.</p></div>
                <a href="/form.html" elem="button" class="btn btn-lg btn-primary btn-wide">Заполнить форму</a>
            </div>
        </div>
    </div>
</section>
{{/content}}

{{/extend}}