{{#extend "layout"
    headBg="./images/header_bg--press.jpg"
    subHead=true
    footer_mod="background_grey"
    breadcrumbs=info.presscenter.breadcrumbs
    title="Контакты"
}}

{{#content "main"}}

    <section block="text_block" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <div elem="title">{{title}}</div>
                </div>
                <div class="col-12">
                    <div block="press_contacts" class="text-left">
                        <div elem='item' class="mb-4">
                            <div elem='title'>Адрес компании:</div>
                            <div elem='body'>
                                109240, Россия, Москва, ул. Яузская, д.12.
                                <br>
                            </div>
                        </div>
                        <div elem='item' class="mb-4">
                            <div elem='title'>Бесплатный звонок по России:</div>
                            <div elem='body'>
                                <a href="tel:88004444400">8 800 444-44-00</a>
                            </div>
                        </div>
                        <div elem='item' class="mb-4">
                            <div elem='title'>Бесплатный звонок по Москве:</div>
                            <div elem='body'>
                                <a href="tel:+74957771110">+7 495 777-11-10</a>
                            </div>
                        </div>
                        <div elem='item' class="mb-5">
                            <div elem='title'>Для СМИ:</div>
                            <div elem='body'>
                                Тихий Игорь Иванович, Умярова Эльвира Маратовна
                                <br>
                                <a href="mailto:pr@openfactoring.ru" block="btn_iconized" class="btn btn-link pl-0 mr-5">
                                    <span elem="icon">{{> use class='' width='23' height='14' icon='mail'}}</span>
                                    <span elem="text">pr@openfactoring.ru</span>
                                </a>
                                <a href="tel:+74957771110" block="btn_iconized" class="btn btn-link">
                                    <span elem="icon">{{> use class='' width='19' height='21' icon='phone'}}</span>
                                    <span elem="text"> +7(495) 777-11-10</span>
                                </a>
                            </div>
                        </div>
                        <div elem='item'>
                            <div elem='buttons'>
                                <a href="/news.html" class="btn btn-lg btn-primary mr-4">Новости</a>
                                <a href="/news.html" class="btn btn-lg btn-primary">СМИ о нас</a>
                            </div>
                            <div elem='links'>
                                <div block="social_networks">
                                    <div elem='text'>Подпишитесь на нас в соц. сетях:</div>
                                    <div elem='icons'>

                                        <div class="socialNetworksBlock">
                                            <a href="#a" target="_blank" rel="nofollow noopener" class="socialNetworksBlock--link">
                                                {{> use 
                                                    class=""
                                                    width="37"
                                                    height="37"
                                                    stroke-width="1"
                                                    icon="fb"}}
                                            </a>
                                            <a href="#a" target="_blank" rel="nofollow noopener" class="socialNetworksBlock--link">
                                                {{> use 
                                                    class=""
                                                    width="37"
                                                    height="37"
                                                    stroke-width="1"
                                                    icon="vk"}}
                                            </a>
                                            <a href="#a" target="_blank" rel="nofollow noopener" class="socialNetworksBlock--link">
                                                {{> use 
                                                    class=""
                                                    width="37"
                                                    height="37"
                                                    stroke-width="1"
                                                    icon="inst"}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{/content}}

{{/extend}}