{{#extend "layout" headBg="./images/header_bg--noregress.jpg" subHead=true footer_mod="background_grey"}}

{{#content "main"}}

<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 pb-5">
                <div elem="title" class="text-center">Экспресс решение с правом/без права регресса</div>
            </div>
            <div class="col-xlg-9 pl-0">
                <div block="lifecycle" class="text-center">
                    <div elem='bg_ellipse'>
                        {{> use class='max_width' width='100%' height='100%' icon='bg_ellipse'}}
                        <div elem='text' mod="delivery">
                            <div elem='icon' data-text="empty" data-dot="empty">
                                {{> use class='' width='65' height='50' icon='delivery' style="margin-left: 5px; margin-top: 6px;"}}
                            </div>
                            <div elem='text_body'>
                                Поставщик
                            </div>
                        </div>
                        <div elem='text' mod="shop">
                            <div elem='icon' data-text="empty" data-dot="empty">
                                {{> use class='' width='52' height='42' icon='shop'}}
                            </div>
                            <div elem='text_body'>
                                Покупатель
                            </div>
                        </div>
                        <div elem='text' mod="open">
                            <div elem='icon' data-text="empty" data-dot="empty">
                                {{> use class='' width='60' height='60' icon='open_white_bg'}}
                            </div>
                            <div elem='text_body'>
                                Открытие
                                <br>Факторинг
                            </div>
                        </div>
                        <div elem='floating_dot'>
                            <div elem='text_body'>
                                Контрактная
                                <br>отсрочка
                            </div>
                        </div>
                        <div elem='icon' mod="first, sm, outline, secondary" data-text="1">
                            {{> use class='' width='25' height='16' icon='delivery'}}
                        </div>
                        <div elem='icon' mod="second, sm, outline, secondary" data-text="2">
                            {{> use class='' width='21' height='27' icon='list' stroke_width="1.5px"}}
                        </div>
                        <div elem='icon' mod="third, sm, outline, primary" data-text="3">
                            {{> use class='' width='24' height='29' icon='pocket_ruble'}}
                        </div>
                        <div elem='icon' mod="fourth, sm, outline, secondary" data-text="4" data-dot="empty">
                            {{> use class='' width='30' height='30' icon='re_ruble'}}
                        </div>
                        <div elem='icon' mod="fifth, sm, outline, primary" data-text="5">
                            {{> use class='' width='30' height='30' icon='re_ruble'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xlg-3 pl-0">
                <div class="lifecycle--text_description">
                    <ol>
                        <li>Поставка товара/выполнение работ на условиях контракта</li>
                        <li>Уступка прав требования и передача информации о первичных документах Фактору</li>
                        <li>Выплата финансирования в размере 100% от стоимости права требования</li>
                        <li>Перечесление платежа Покупателя на реквизиты Фактора</li>
                        <li>Перечисление 2ого платежа, если предполагается</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div elem="title" class="text-center">Наши покупатели</div>
            </div>
            <div class="col-12 px-0 text-center">
                {{#each info.companies_logos}}
                    <img src="/images/companies_logos/images/{{this}}" alt="">
                {{/each}}
            </div>
        </div>
    </div>
</section>
<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div elem="title" class="text-center">Особенности и преимущества</div>
            </div>
            <div class="col-12 px-0">
                <div block="equalize_block" mod="md, center, pb_0" class="text-center">
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='37' height='40' icon='list_search'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Принятие решения по упрощенной 
                                <br>процедуре рассмотрения
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='37' height='36' icon='pen'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Минимальный комплект
                                <br>документов
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='37' height='54' icon='contacts'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Срок рассмотрения заявки
                                <br>до 2х дней
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='37' height='50' icon='planshet'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Упрощенная процедура рассмотрения
                                сделки
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='57' height='38' icon='credit'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Поставщик получает оперативное
                                <br>финансирование дебиторской задолженности
                            </div>
                        </div>
                    </div>
                    <div elem="item" mod="sm">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='57' height='44' icon='re_ruble' stroke_width=".5px"}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Покрытие кассового разрыва
                                <br>происходит без увеличения
                                <br>кредитной нагрузки
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='41' height='53' icon='list'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Комиисия может быть дисконтирована
                                <br>из второго платежа, либо оплачена
                                <br>отдельно по счёту
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='47' height='56' icon='pocket_ruble'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                В случае факторинга без права регресса
                                <br>Поставщик получает покрытие рисков
                                <br>неплатежа со стороны Покупателя
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="frame_text text-center mx-auto">
    Технология экспресс-оценки доступна для Поставщиков различных сегментов, имеющих заключенные контракты с крупными Покупателями.
</section>
{{!-- <section block="text_block" mod="background_grey, pt_lg, pb_lg" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div elem='intro_icon'>
                    {{> use
                            width="97"
                            height="94"
                            icon="ten_star"
                            stroke_width="0"}}
                </div>
                <div elem="title" mod="mb_lg">
                    Команда профессионалов с опытом
                    <br>работы на рынке факторинга более 10 лет
                </div>
                <div elem="body" class="fw-300">
                    Мы обеспечиваем простой процесс сделок вне зависимости от суммы финансирования за счет высокой
                    степени
                    <br>диджитализации всех процессов – от заключения договора до операционного финансирования.
                </div>
            </div>
        </div>
    </div>
</section>

<section block="text_block" mod="pt_lg pb_lg" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div elem="title">Группа «Открытие» сегодня</div>
                <div elem="sub_title" class="mb-5 fw-300">
                    это масштабная финансовая группа, которая обладает большим потенциалом
                    <br>для дальнейшего роста бизнеса
                </div>

                <div block="equalize_block" mod="lg, center, pb_0">
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                10
                            </div>
                            <div elem="text" mod="black, lg">
                                Банк Открытие входит в топ-10
                                <br>крупнейших банков России и является
                                <br>системно значимым
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                250
                            </div>
                            <div elem="text" mod="black, lg">
                                региональная сеть банка насчитывает
                                <br>более 750 офисов в 260 городах 70
                                <br>регионов страны
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                99,9
                            </div>
                            <div elem="text" mod="black, lg">
                                ключевым акционером Банка
                                <br>«Открытие» является Банк России с
                                <br>долей 99,99%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}
{{/content}}

{{/extend}}