{{#extend "layout"
    headBg="./images/header_bg--requisites.jpg"
    subHead=true
    footer_mod="background_grey"
    title="Реквизиты"
    assets="./images"
    }}
{{#content "main"}}
    
    <section block="text_block" class="fw-300" mod="pb_lg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="list-unstyled">
                        <li>ОГРН 1167746399897</li>
                        <li>ИНН  7725314818</li>
                        <li>КПП  772501001</li>
                        <li>р/с 40701810412000001511 </li>
                        <li>в Филиале Центральный ПАО Банка «ФК Открытие»</li>
                        <li>к/с 30101810945250000297</li>
                        <li>в ГУ Банка России по ЦФО</li>
                        <li>БИК 044525297</li>
                    </ul>
                    <br>
                    <p>
                        Адрес (место нахождения):
                        <br>109240, г. Москва, ул. Яузская, д. 12,
                        <br>Тел:  +7 (495) 777-11-10
                    </p>
                </div>
            </div>
        </div>
    </section>
{{/content}}

{{/extend}}