{{#extend "layout" headBg="./images/header_bg--noregress.jpg" subHead=true footer_mod="background_grey"}}

{{#content "main"}}

<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 pb-lg-5">
                <div elem="title" class="text-center">Supply Chain Finance (SCF)</div>
                <div elem="body" class="text-center">это комплексное предложение по финансированию цепочки поставщиков. По сути, это программа финансирования крупной корпорации, которая позволяет предприятиям, с которыми она имеет дело в своей цепочке поставок, получить быстрое и экономически эффективное финансирование. </div>
            </div>
            <div class="col-xl-9 pl-0">
                <div block="lifecycle_scf" class="text-center">
                    <div elem='bg_ellipse'>
                        {{> use class='max_width' width='100%' height='100%' icon='schema_online'}}
                        <div elem='text' mod="laptop">
                            <div elem='icon' data-text="empty" data-dot="empty">
                                {{> use class='' width='60' height='40' icon='laptop'}}
                            </div>
                            <div elem='text_body'>
                                Платформа SCF
                            </div>
                        </div>
                        <div elem='text' mod="delivery">
                            <div elem='icon' data-text="empty" data-dot="empty">
                                {{> use class='' width='65' height='50' icon='delivery' style="margin-left: 5px; margin-top: 6px;"}}
                            </div>
                            <div elem='text_body'>
                                Субпоставщик
                                <br>Субподрядчик
                            </div>
                        </div>
                        <div elem='text' mod="delivery, delivery_2">
                            <div elem='icon' data-text="empty" data-dot="empty">
                                {{> use class='' width='65' height='50' icon='delivery' style="margin-left: 5px; margin-top: 6px;"}}
                            </div>
                            <div elem='text_body'>
                                Поставщик
                                <br>Подрядчик
                            </div>
                        </div>
                        <div elem='text' mod="shop">
                            <div elem='icon' data-text="empty" data-dot="empty">
                                {{> use class='' width='44' height='49' icon='man'}}
                            </div>
                            <div elem='text_body'>
                                Корпоративный
                                <br>клиент
                            </div>
                        </div>
                        <div elem='text' mod="open">
                            <div elem='icon' data-text="empty" data-dot="empty">
                                {{> use class='' width='60' height='60' icon='open_white_bg'}}
                            </div>
                            <div elem='text_body'>
                                Открытие
                                <br><span style="white-space: nowrap">Банк | Факторинг</span>
                            </div>
                        </div>
                        <div elem='icon' mod="first, sm, outline, secondary" data-text="1">
                            {{> use class='' width='21' height='27' icon='list' stroke_width="1.5"}}
                        </div>
                        <div elem='icon' mod="second, sm, outline, primary" data-text="2">
                            {{> use class='' width='30' height='30' icon='re_ruble'}}
                        </div>
                        <div elem='icon' mod="third, sm, outline, secondary" data-text="3" data-dot="empty">
                            {{> use class='' width='21' height='27' icon='list' stroke_width="1.5"}}
                        </div>
                        <div elem='icon' mod="fourth, sm, outline, primary" data-text="4">
                            {{> use class='' width='24' height='29' icon='pocket_ruble'}}
                        </div>
                        <div elem='icon' mod="fifth, sm, outline, primary" data-text="2">
                            {{> use class='' width='30' height='30' icon='re_ruble'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 pl-0">
                <div class="lifecycle_scf--text_description">
                    <ol>
                        <li>Данные о заключенных контрактах. Статистика расчетов с контрагентом. Акцент выставленных счетов/работ</li>
                        <li>Формирование комплесных предложений по факторингу, кредитным, гарантийным и расчетным продуктам для финансирования исполнения контрактов с корпоративным клиентом, в том числе в рамках предодобренных лимитов с кредитным риском</li>
                        <li>Загрузка сведений о контрактах, счетов, накладных, актов выполненных работ. Предоставление финансовой отчетности</li>
                        <li>Информирование о выполнении работ и возможности финансирования контрагентов</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section block="text_block" mod="background_grey">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div elem="title" class="text-center">Особенности и преимущества</div>
                <div elem="sub_title" class="text-center">Для покупателя</div>
            </div>
            <div class="col-12 px-0">
                <div block="equalize_block" mod="md, center, pb_0" class="text-center">
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='57' height='38' icon='credit'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Поможет стать предпочтительным клиентом среди поставщиков.
                            </div>
                        </div>
                    </div>
                    <div elem="item" mod="sm">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='57' height='44' icon='re_ruble' stroke_width=".5px"}}
                            </div>
                            <div elem="text" mod="black, lg">
                                В случае, если покупатель испытывает проблемы с оборотным капиталом и собирается продлить сроки поставки, реализация программы SCF может помочь защитить их поставщиков.
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='41' height='53' icon='list'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Оптимизировать счета покупателей, дав им больший контроль над их денежным потоком.
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='47' height='56' icon='pocket_ruble'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Укрепит их цепочку поставок. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section block="text_block" mod="background_grey" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div elem="title" class="text-center">Особенности и преимущества</div>
                <div elem="sub_title" class="text-center">Для поставщика</div>
            </div>
            <div class="col-12 px-0">
                <div block="equalize_block" mod="md, center, pb_0" class="text-center">
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='57' height='38' icon='credit'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Повышение вашего оборотного капитала.
                            </div>
                        </div>
                    </div>
                    <div elem="item" mod="sm">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='57' height='44' icon='re_ruble' stroke_width=".5px"}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Чрезвычайно конкурентоспособные ставки финансирования. 
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='41' height='53' icon='list'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Нет добавленной задолженности.
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                {{> use class='' width='47' height='56' icon='pocket_ruble'}}
                            </div>
                            <div elem="text" mod="black, lg">
                                Контролируете процесс. Вы можете выбрать, когда и куда получать досрочную оплату, контролировать свою дебиторскую задолженность, а также экономить свое время и деньги на отслеживании просроченных платежей.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section block="frame_text" class="text-center mx-auto" mod="text_sm, wide">
    Программы финансирования цепочки поставок - это отличная возможность для предприятий получить доступ к финансированию, чтобы помочь им улучшить рабочий и оборотный капитал, в то же время позволяя крупным корпорациям сохранять свои цепочки поставок стабильными. Если вас пригласили присоединиться к программе SCF, работающей на платформе Открытие Факторинг, и вы хотите узнать о ней больше, свяжитесь с нами.
</section>
{{!-- <section block="text_block" mod="background_grey, pt_lg, pb_lg" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div elem='intro_icon'>
                    {{> use
                            width="97"
                            height="94"
                            icon="ten_star"
                            stroke_width="0"}}
                </div>
                <div elem="title" mod="mb_lg">
                    Команда профессионалов с опытом
                    <br>работы на рынке факторинга более 10 лет
                </div>
                <div elem="body" class="fw-300">
                    Мы обеспечиваем простой процесс сделок вне зависимости от суммы финансирования за счет высокой
                    степени
                    <br>диджитализации всех процессов – от заключения договора до операционного финансирования.
                </div>
            </div>
        </div>
    </div>
</section>

<section block="text_block" mod="pt_lg pb_lg" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div elem="title">Группа «Открытие» сегодня</div>
                <div elem="sub_title" class="mb-5 fw-300">
                    это масштабная финансовая группа, которая обладает большим потенциалом
                    <br>для дальнейшего роста бизнеса
                </div>

                <div block="equalize_block" mod="lg, center, pb_0">
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                10
                            </div>
                            <div elem="text" mod="black, lg">
                                Банк Открытие входит в топ-10
                                <br>крупнейших банков России и является
                                <br>системно значимым
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                250
                            </div>
                            <div elem="text" mod="black, lg">
                                региональная сеть банка насчитывает
                                <br>более 750 офисов в 260 городах 70
                                <br>регионов страны
                            </div>
                        </div>
                    </div>
                    <div elem="item">
                        <div block="iconized_text">
                            <div elem="icon" mod="text, lg">
                                99,9
                            </div>
                            <div elem="text" mod="black, lg">
                                ключевым акционером Банка
                                <br>«Открытие» является Банк России с
                                <br>долей 99,99%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}
{{/content}}

{{/extend}}