{{!-- {{#extend "layout" headBg="./images/header_bg--news.jpg" subHead=true footer_mod="background_grey"}} --}}

{{#extend "layout"
    headBg="./images/header_bg--search.jpg"
    subHead=true
    footer_mod="background_grey"
    title="Результаты поиска"
    assets="./images"
    }}

{{#content "main"}}
<section block="news_brief">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div elem="text">По запросу <b>«открытие»</b> найдено 255 результатов</div>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <label for="search_everywhere">Искать в новостях и пресс-релизах</label>
                <input type="checkbox" name="search_everywhere" id="search_everywhere">
            </div>
        </div>
        <div elem="list" class="row">
            <div class="col-12 list-sep">
                <hr>
            </div>
            <div elem="item" mod="full" class="col-12">
                <div elem="item_rightside">
                    <div elem='item_title'>«Открытие» завершило присоединение банка «ХМБ Открытие» к банку «ФК Открытие»</div>
                    <div elem="text">
                        Финансовая группа «Открытие» завершила юридическую процедуру присоединения ПАО «Ханты-Мансийский банк Открытие» к ПАО Банк «ФК Открытие». Это присоединение стало наиболее масштабным в истории российского банковского сектора. Объединенный банк с активами 3,1 трлн рублей является крупнейшей частной...
                    </div>
                    <a href="/news_inside.html" elem="button" class="btn btn-lg btn-primary">Подробнее</a>
                </div>
            </div>
            <div elem="item" mod="full" class="col-12">
                <div elem="item_rightside">
                    <div elem='item_title'>«Открытие» завершило присоединение банка «ХМБ Открытие» к банку «ФК Открытие»</div>
                    <div elem="text">
                        Финансовая группа «Открытие» завершила юридическую процедуру присоединения ПАО «Ханты-Мансийский банк Открытие» к ПАО Банк «ФК Открытие». Это присоединение стало наиболее масштабным в истории российского банковского сектора. Объединенный банк с активами 3,1 трлн рублей является крупнейшей частной...
                    </div>
                    <a href="/news_inside.html" elem="button" class="btn btn-lg btn-primary">Подробнее</a>
                </div>
            </div>
            <div elem="item" mod="full" class="col-12">
                <div elem="item_rightside">
                    <div elem='item_title'>«Открытие» завершило присоединение банка «ХМБ Открытие» к банку «ФК Открытие»</div>
                    <div elem="text">
                        Финансовая группа «Открытие» завершила юридическую процедуру присоединения ПАО «Ханты-Мансийский банк Открытие» к ПАО Банк «ФК Открытие». Это присоединение стало наиболее масштабным в истории российского банковского сектора. Объединенный банк с активами 3,1 трлн рублей является крупнейшей частной...
                    </div>
                    <a href="/news_inside.html" elem="button" class="btn btn-lg btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}

{{/extend}}