{{!-- {{#extend "layout" headBg="./images/header_bg--noregress.jpg" subHead=true footer_mod="background_grey"}} --}}
{{#extend "layout"
    headBg="./images/header_bg--404.jpg"
    subHead=true
    footer_mod="background_grey"
    title="Выбери решение"
    assets="./images"
}}

{{#content "main"}}

<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 pb-lg-5">
                <div elem="title" mod="thin, mb_lg" class="text-center">Выбери решение</div>
                <div elem='body' mod="thin">


                    <!-- scripts.js look at // ++++++++ sample steps .... // -------- sample steps -->

                    <div class="steps_slider">
                        <div class="steps_slider--bar" data-start="Старт" data-finish="Финиш">
                            <div class="before"></div>
                            <div class="steps_slider--indicator _steps_slider--indicator"></div>
                            <div class="after"></div>
                        </div>
                    </div>
                    <div class="questions--item _questions--item is_active">
                        <div class="row">
                            <div class="col-lg-6 text-left">
                                <div class="questions--label">
                                    1. Вы Поставщик или Покупатель?
                                </div>
                            </div>
                            <div class="col-lg-6 text-lg-right questions--options" style="padding-top: 8px;">
                                <div class="form-check1 mr-4 d-inline-block">
                                    <input class="form-check1-input" type="radio" id="set_type3" name="type" value="provider">
                                    <label class="form-check1-label" for="set_type3">Поставщик</label>
                                </div>
                                <div class="form-check1 d-inline-block">
                                    <input class="form-check1-input" type="radio" id="set_type4" name="type" value="buyer">
                                    <label class="form-check1-label" for="set_type4">Покупатель</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="questions--item _questions--item">
                        <div class="row">
                            <div class="col-12">
                                <div class="questions--label">
                                    2. Какой оборот у Вашего бизнеса?
                                </div>
                            </div>
                        </div>
                        <div class="row questions--options">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="set_type5" name="type" value="income1">
                                    <label class="form-check1-label" for="set_type5">Поставщик</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="set_type6" name="type" value="income2">
                                    <label class="form-check1-label" for="set_type6">Покупатель</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="set_type7" name="type" value="income3">
                                    <label class="form-check1-label" for="set_type7">Покупатель</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="questions--item _questions--item">
                        <div class="row">
                            <div class="col-12">
                                <div class="questions--label">
                                    3. К какой отрасли Вы относитесь?
                                </div>
                            </div>
                        </div>
                        <div class="row questions--options">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="set_type8" name="type" value="industry">
                                    <label class="form-check1-label" for="set_type8">Рыбпром</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="set_type9" name="type" value="industry1">
                                    <label class="form-check1-label" for="set_type9">Бумпром</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="set_type10" name="type" value="industry2">
                                    <label class="form-check1-label" for="set_type10">Нефтепром</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="set_type11" name="type" value="industry3">
                                    <label class="form-check1-label" for="set_type11">Деревообработка</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="set_type12" name="type" value="industry4">
                                    <label class="form-check1-label" for="set_type12">Пищепром</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="set_type13" name="type" value="industry5">
                                    <label class="form-check1-label" for="set_type13">Соц. обеспечение</label>
                                </div>
                            </div>
                            
                            <div class="hasTextarea mb-4 mt-5 col-12">
                                <div block="inputWrap" class="md-form">
                                    <label for="mBody" class="awesomeLabel"><span>Другое</span></label>
                                    <textarea name="mBody" id="mBody" cols="30" rows="10" class="form-control md-textarea"></textarea>
                                    <div elem="outline"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="questions--item _questions--item">
                        <div class="row">
                            <div class="col-12">
                                <div class="questions--label">
                                    4. Кто ваши покупатели?
                                </div>
                            </div>
                        </div>
                        <div class="row questions--options">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="buyers8" name="type" value="buyers">
                                    <label class="form-check1-label" for="buyers8">Рыбпром</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="buyers9" name="type" value="buyers1">
                                    <label class="form-check1-label" for="buyers9">Бумпром</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="buyers10" name="type" value="buyers2">
                                    <label class="form-check1-label" for="buyers10">Нефтепром</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="buyers11" name="type" value="buyers3">
                                    <label class="form-check1-label" for="buyers11">Деревообработка</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="buyers12" name="type" value="buyers4">
                                    <label class="form-check1-label" for="buyers12">Пищепром</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-check1">
                                    <input class="form-check1-input" type="radio" id="buyers13" name="type" value="buyers5">
                                    <label class="form-check1-label" for="buyers13">Соц. обеспечение</label>
                                </div>
                            </div>
                            
                            <div class="hasTextarea mb-4 mt-5 col-12">
                                <div block="inputWrap" class="md-form">
                                    <label for="anothermBody" class="awesomeLabel"><span>Другое</span></label>
                                    <textarea name="anothermBody" id="anothermBody" cols="30" rows="10" class="form-control md-textarea"></textarea>
                                    <div elem="outline"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="questions--item _questions--item">
                        <div block="iconized_text" class="mx-auto mb-5 text-center">
                            <div elem='icon' mod="text, text_lg">!</div>
                            <div elem='text' mod="xl, black">Для того, чтобы Вы смогли получить необходимое финансирование, <br class="tablet-hidden">заполните следующую форму, и наш менеджер свяжется с Вами.</div>
                        </div>

                        <div class="col-xl-10 mx-auto">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="inputContainer">
                                        <div class="md-form inputWrap">
                                            <label class="awesomeLabel" for="company_name"><span>Название компании</span></label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                id="company_name"
                                                name="c_name"
                                                data-parsley-required="true"
                                                data-validation-minlength="0"
                                                data-parsley-trigger="focusout"
                                                data-parsley-required="true"
                                                data-parsley-id="10"
                                                value="">
                                        </div>
                                        <div class="helperText"></div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="inputContainer">
                                        <div class="md-form inputWrap">
                                            <label class="awesomeLabel" for="inn"><span>ИНН</span></label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                id="inn"
                                                name="inn"
                                                data-parsley-required="true"
                                                data-validation-minlength="0"
                                                data-parsley-trigger="focusout"
                                                data-parsley-required="true"
                                                data-parsley-id="10"
                                                value="">
                                        </div>
                                        <div class="helperText"></div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="inputContainer">
                                        <div class="md-form inputWrap">
                                            <label class="awesomeLabel" for="person_name"><span>ФИО контактного лица</span></label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                id="person_name"
                                                name="name"
                                                data-parsley-required="true"
                                                data-validation-minlength="0"
                                                data-parsley-trigger="focusout"
                                                data-parsley-required="true"
                                                data-parsley-id="10"
                                                value="">
                                        </div>
                                        <div class="helperText"></div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="inputContainer">
                                        <div class="md-form inputWrap">
                                            <label class="awesomeLabel" for="email"><span>Электронный адрес</span></label>
                                            <input
                                                class="form-control"
                                                type="email"
                                                id="email"
                                                name="email"
                                                data-parsley-required="true"
                                                data-validation-minlength="0"
                                                data-parsley-trigger="focusout"
                                                data-parsley-required="true"
                                                data-parsley-id="10"
                                                value="">
                                        </div>
                                        <div class="helperText"></div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="inputContainer">
                                        <div class="md-form inputWrap">
                                            <label class="awesomeLabel" for="phone"><span>Телефон</span></label>
                                            <input
                                                class="form-control"
                                                type="tel"
                                                id="phone"
                                                name="tel"
                                                data-parsley-required="true"
                                                data-validation-minlength="0"
                                                data-parsley-trigger="focusout"
                                                data-parsley-required="true"
                                                data-parsley-id="10"
                                                value="">
                                        </div>
                                        <div class="helperText"></div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="inputContainer">
                                        <div class="md-form inputWrap">
                                            <label class="awesomeLabel" for="income"><span>Запрашиваемая сумма (рубли)</span></label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                inputmode="numeric"
                                                id="income"
                                                name="income"
                                                data-parsley-required="true"
                                                data-validation-minlength="0"
                                                data-parsley-trigger="focusout"
                                                data-parsley-required="true"
                                                data-parsley-id="11"
                                                value="">
                                        </div>
                                        <div class="helperText"></div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="inputContainer mb-4">
                                        <div block="inputWrap" class="md-form">
                                            <label for="set_country3" class="awesomeLabel"><span>Максимальный срок отсрочки</span></label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                {{!-- inputmode="numeric" --}}
                                                id="set_country3"
                                                name="set_country3"
                                                data-parsley-required="true"
                                                data-validation-minlength="0"
                                                data-parsley-trigger="focusout"
                                                data-parsley-required="true"
                                                data-parsley-id="12"
                                                value="">
                                        </div>
                                        <div class="helperText"></div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="inputContainer mb-4">
                                        <div block="inputWrap" class="md-form">
                                            <label for="set_country3" class="awesomeLabel"><span>Покупатели</span></label>
                                            <select name="country" id="set_country3" class="form-control" data-parsley-required="true" data-parsley-trigger="change">
                                                <option></option>
                                                <option value="1">Покупатель №1</option>
                                                <option value="2">Покупатель №2</option>
                                                <option value="3">Покупатель №3</option>
                                            </select>
                                            <div elem="outline"></div>
                                        </div>
                                        <div class="helperText"></div>
                                    </div>
                                </div>


                                <div class="col-xl-6">
                                    <div class="inputContainer">
                                        <div class="questions--label questions--label-sm">
                                            Наличие квалифицированной <br class="tablet-hidden">эл. подписи
                                        </div>
                                        <div class="form-check1 mr-4 d-inline-block">
                                            <input class="form-check1-input" type="radio" id="set_typeYes" name="type" value="1">
                                            <label class="form-check1-label" for="set_typeYes">Да</label>
                                        </div>
                                        <div class="form-check1 d-inline-block">
                                            <input class="form-check1-input" type="radio" id="set_typeNo" name="type" value="0">
                                            <label class="form-check1-label" for="set_typeNo">Нет</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="inputContainer">
                                        <div class="questions--label questions--label-sm">
                                            Наличие Юридически значимого <br class="tablet-hidden">документооборота
                                        </div>
                                        <div class="form-check1 mr-4 d-inline-block">
                                            <input class="form-check1-input" type="radio" id="set_typeYes_1" name="type" value="1">
                                            <label class="form-check1-label" for="set_typeYes_1">Да</label>
                                        </div>
                                        <div class="form-check1 d-inline-block">
                                            <input class="form-check1-input" type="radio" id="set_typeNo_1" name="type" value="0">
                                            <label class="form-check1-label" for="set_typeNo_1">Нет</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mt-1 mb-3">
                                    <hr>
                                </div>

                                <div class="col-md-6 d-flex alig-items-start mb-4">
                                    <div class="inputContainer">
                                        <div class="form-check1 mr-4 d-inline-block">
                                            <input class="filled-in form-check1-input" type="checkbox" id="agreement" value="1">
                                            <label class="form-check1-label" for="agreement">Я согласен на обработку <br class="tablet-hidden">персональных&nbsp;данных</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center text-md-right">
                                    <button type="submit" class="btn btn-lg btn-wide btn-primary _fake_submit">Отправить</button>
                                    <!-- remove _fake_submit -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="questions--item _last--item">
                        <div block="iconized_text" class="mx-auto mb-5 text-center">
                            <div elem='icon' mod="text">
                                {{> use class='' width='29' height='24' icon='mark_default'}}
                            </div>
                            <div elem='text' mod="xl, black">Мы знаем Вашего клиента и готовы предложить <br class="tablet-hidden">следующий продукт: ЭКСПРЕСС-РЕШЕНИЕ</div>
                        </div>
                        <div class="text-center">
                            <a href="#a" class="btn btn-lg btn-wide btn-primary">Подробнее</a>
                        </div>
                    </div>
                    <div class="row mt-5 _steps_change">
                        <div class="col-sm-6 text-center text-sm-left mb-3 order-2 order-sm-1">
                            <button class="hidden btn btn-lg btn-wide btn-outline-primary btn_prev">Назад</button>
                        </div>
                        <div class="col-sm-6 text-center text-sm-right mb-3 order-1 order-sm-2">
                            <button class="btn btn-lg btn-wide btn-primary btn_next">Далее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}

{{/extend}}