{{#extend "layout"
    headBg="./images/header_bg--mission.jpg"
    subHead=true
    footer_mod="background_grey"
    breadcrumbs=info.team.breadcrumbs
    persons=info.team.persons
    title="Наша команда"
    assets="./images"
}}

{{#content "main"}}

    <section block="text_block">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <div elem='body' class="mb-4">
                        {{> use class='text-primary' width='51' height='46' icon='team' stroke_width=''}}
                    </div>
                    <div elem="title" mod="thin">{{title}}</div>
                    <div elem='sub_title' mod="thin" class="mb-4">Команда Открытие Факторинг - это профессионалы с опытом работы на рынке факторинга более 10 лет</div>
                </div>
                <div class="col-12">
                    <div block="texts_list">
                        <div elem='item'>
                            <div block="iconized_text" mod="icon_left">
                                <div elem="icon">
                                    {{> use class=''
                                        width='41'
                                        height='34'
                                        icon='heart'}}
                                </div>
                                <div>
                                    <div elem='title'>Открытие Факторинг</div>
                                    <div elem="text" mod="black, lg">
                                        это уникальное сочетание надежной, гибкой и высокотехнологичной финансовой компании. Мы предлагаем передовые решения и задаем тренды в факторинге.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div elem='item'>
                            <div block="iconized_text" mod="icon_left">
                                <div elem="icon">
                                    {{> use class=''
                                        width='41'
                                        height='35'
                                        icon='graph'}}
                                </div>
                                <div>
                                    <div elem='title'>В чем секрет нашего успеха?</div>
                                    <div elem="text" mod="black, lg">
                                        В нашей команде, в людях, которые изо дня в день вкладывают свои таланты, креатив, компетенции и профессионализм в наше общее дело - в создание лучшего инновационного сервиса.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div elem='item'>
                            <div block="iconized_text" mod="icon_left">
                                <div elem="icon">
                                    {{> use class=''
                                        width='36'
                                        height='40'
                                        icon='man'}}
                                </div>
                                <div>
                                    <div elem='title'>Тебя всегда ждут люди</div>
                                    <div elem="text" mod="black, lg">
                                        Неважно какой проект и направление ты выберешь для себя в итоге - в
                                        Открытие Факторинг тебя всегда ждут люди, увлечённые общим делом и
                                        сплоченные едиными ценностями.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section block="text_block" mod="background_grey">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="team_list">
                        {{#each persons}}
                            <div block="person_card" mod="vertical">
                                <div elem='image'>
                                    <img src="{{../assets}}/persons/{{img}}" alt="{{{name}}}">
                                </div>
                                <div elem='name' mod="lg">{{{name}}}</div>
                                <div elem='description'>
                                    {{position}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> news_brief}}

{{/content}}

{{/extend}}