{{#extend "layout"
    headBg="./images/header_bg--terms.jpg"
    subHead=true
    footer_mod="background_grey"
    title="Условия использования информации"
    assets="./images"
    }}
{{#content "main"}}
    
    <section block="text_block" class="fw-300" mod="pb_lg">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h1 elem='sub_title'>Условия использования информации, размещенной на сайте</h1>

                    <p>Настоящий Интернет Ресурс _________________ является официальным Интернет-сайтом (далее – Сайт) ООО «Открытие Факторинг» (далее – Компания). </p>
                    <p>Сайт создан в целях обеспечения процесса взаимодействия Компании с лицами, заинтересованными в получении информации по факторинговым продуктам и услугам, приобретении факторинговых продуктов и услуг,  а также в целях расчета стоимости таких продуктов и услуг.</p>
                    <p>Использование информации, размещенной на Сайте Компании,   рассматривается как согласие с требованиями настоящего Условия. При этом Компания оставляет за собой право вносить любые изменения в содержание настоящего Условия по своему усмотрению без предварительного согласия или последующего уведомления пользователя Сайта. Изменения в настоящее Условия вступают в силу с момента размещения таких изменений на Сайте.</p>
                    <p>Информация, размещенная на Сайте, может использоваться при условии соблюдения требований, указанных в настоящих Условиях.</p>
                    <p><strong class="text-primary mr-1">1.</strong> Все материалы Сайта защищены авторскими правами, торговыми марками, законами об интеллектуальной собственности и прочими соответствующими российскими нормативными актами и международными соглашениями. Любая информация, текстовые и мультимедийные материалы, изображения, программные коды и иные объекты, размещенные на Сайте, принадлежат Компании  и могут воспроизводиться и или распространяться пользователем только после получения письменного согласия Компании.</p>
                    <p><strong class="text-primary mr-1">2.</strong> Пользователь соглашается не предпринимать действий и не оставлять комментарии и записи, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских прав, общепринятые нормы морали и нравственности, а также любые действия, которые приводят или могут привести к нарушению нормальной работы Сайта.</p>
                    <p><strong class="text-primary mr-1">3.</strong> При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна.</p>
                    <p><strong class="text-primary mr-1">4.</strong> В случае если Сайт содержит ссылки на другие интернет-ресурсы, пользователь согласен с тем, что Компания не несет какой-либо ответственности за доступность этих интернет-ресурсов и размещенный на них материал, а также за любой причиненный ущерб в результате использования таких материалов.   </p>
                    <p>Компания не несет ответственности и не имеет прямых или косвенных обязательств перед пользователем в связи с любыми возможными или возникшими потерями или убытками, произошедшими из-за использования либо невозможности использования сервисов Сайта, а также несанкционированный пользователем/незаконный доступ к паролю пользователя, персональному компьютеру либо личной информации.      </p>
                    <p>Учитывая то, что любая информация, отправленная или размещенная в интернете, может быть перехвачена, изменена или заражена вирусом, способным нанести вред, Компания не гарантирует, что работа сайта будет осуществляться без ошибок и перебоев, а также, что Сайт не будет содержать компьютерных вирусов и вредоносных программ, ошибок и опечаток.</p>
                    <p>Признание законами какого-либо положения настоящего Условия недействительным или не подлежащим исполнению не влечет недействительности и неисполнимости  иных положений настоящего Условия.</p>
                    <p>Все возможные споры, вытекающие из настоящего Условия или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.</p>
                </div>
            </div>
        </div>
    </section>
{{/content}}

{{/extend}}