{{#extend "layout"
    subHead=false
    footer_mod="background_grey"
    title="Вакансии"
    assets="./images"
}}
{{#content "main"}}

    {{> pageheader_slider-vacancies }}
    
    {{> sub_head subhead_mod="background_grey" title=title}}

    <section block="text_block" mod="background_grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-5">
                    <div block="person_card">
                        <div elem='image' class="lt-image">
                            <img src="{{assets}}/persons/kate.jpg" alt="">
                        </div>
                        <div elem='name' class="lt-name">Екатерина</div>
                        <div elem='position' class="lt-position">HR</div>
                        <div elem='description' class="lt-description">
                            Открытие Факторинг - это уникальное сочетание надежной, гибкой и высокотехнологичной финансовой компании. Мы предлагаем передовые решения и задаем тренды в факторинге.
                        </div>
                    </div>
                </div>
                <div class="col-1 d-none d-lg-block mb-5"></div>
                <div class="col-lg-5 mb-5">
                    <div block="person_card">
                        <div elem='image' class="lt-image">
                            <img src="{{assets}}/persons/anastasia.png" alt="">
                        </div>
                        <div elem='name' class="lt-name">Анастасия</div>
                        <div elem='position' class="lt-position">Руководитель HR направления</div>
                        <div elem='description' class="lt-description">
                            В чем секрет нашего успеха? В нашей команде, в людях, которые изо дня в день вкладывают свои таланты, креатив, компетенции и профессионализм в наше общее дело - в создание лучшего инновационного сервиса.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section block="text_block">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 mb-5 text-center">
                    <h1 elem='title' mod="thin">Вакансии</h1>
                    <div elem='sub_title' mod="thin">
                        В Открытие Факторинг огромное количество разнообразных&nbsp;направлений.
                        <br>Здесь ты сможешь найти то, что по душе именно&nbsp;тебе!
                    </div>
                </div>
                <div class="col-12">
                    <h2 class="mb-4 pb-2">Выберите категорию</h2>
                    <hr class="mb-4">
                    <ul block="vacancies_categories" class="pt-2">
                        <li elem="item">
                            <a href="#a" elem="link">Продажи и сопровождение клиентов <sup>12</sup></a>
                        </li>
                        <li elem="item">
                            <a href="#a" elem="link">Разработка и технологии <sup>3</sup></a>
                        </li>
                        <li elem="item">
                            <a href="#a" elem="link">Бэк-офис и поддержка бизнеса <sup>7</sup></a>
                        </li>
                    </ul>
                </div>
                    
            </div>
        </div>
    </section>

    <section block="text_block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text_cards_list">
                    {{!-- <div block="text_card">
                        <div elem='title'>Если затрудняешься с выбором, мы поможем определиться.</div>
                        <br>
                        <div elem='title'>Давай пройдем тест!</div>
                        <a href="#a" class="btn btn-wide btn-primary btn-lg">Пройти тест</a>
                    </div> --}}
                    <div block="text_card">
                        <div elem='title'>Нет ничего подходящего для тебя? Это временно. </div>
                        <div elem='text'>Присылай нам свое резюме, и мы сохраним его в своей базе, чтобы связаться с тобой, когда появятся подходящие вакансии.</div>
                        <div class="text-center"><a href="/vacancy_form.html" class="btn btn-wide btn-primary btn-lg">Отправить резюме</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section block="text_block" class="fw-300 mb-5" mod="pb_lg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-4">
                    <p>Мы инновационные, высокотехнологичные, креативные, дружные, а еще
                    спортивные! Спорт помогает нам быть настойчивыми на пути к целям в бизнесе,
                    черпать энергию и незабываемые эмоции, а также делать нашу команду ещё
                    более сплоченной!</p>
                    <p>Команда Открытие Факторинг передает тебе спортивный привет и делится
                    эмоциями от прохождения триатлонной дистанции. Возможно в следующем видео
                    ты будешь вместе с нами!</p>
                    <br>
                    <div elem='sub_title' class="mt-0 mb-4">Добро пожаловать в Открытие Факторинг!</div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div block="video_block">
                        <div elem='preview'><img src="{{assets}}/content-video.jpg" alt=""></div>
                        <div elem='button'>
                            {{> use class='' width='71' height='71' icon='play' stroke_width="0"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/content}}

{{/extend}}