{{!-- {{#extend "layout" headBg="./images/header_bg--noregress.jpg" subHead=true footer_mod="background_grey"}} --}}
{{#extend "layout"
    headBg="./images/header_bg--form.jpg"
    subHead=true
    footer_mod="background_grey"
    title="Подать заявку"
    assets="./images"
}}

{{#content "main"}}

<section block="text_block">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <div elem="title" mod="thin" class="text-center">{{ title }}</div>
            </div>
            {{!-- <div class="col-lg-8">
                
                <div class="mb-4">
                    <time datetime="2019-29-10 08:00">
                        29 октября 2019
                    </time>
                </div>

                <div elem="body" class="ml-0">

                    <div class="row">
                        <div class="col-4">
                            <strong>Регион вакансии</strong><br>
                            Республика Саха (Якутия)
                        </div>
                        
                        <div class="col-4">
                            <strong>Работодатель</strong><br>
                            Газпром энерго, ООО
                        </div>
                        
                        <div class="col-4">
                            <strong>Место работы</strong><br>
                            Чаяндинское месторождение
                        </div>
                        <div class="col-12 mt-5">
                            <div class="h2">Описание вакансии</div>
                            <p>
                                Факторинговые решения компании «Открытие Факторинг» обеспечивают высокую скорость финансирования, позволяя Покупателю увеличивать отсрочку платежа, а Поставщику – получать раннюю оплату поставок.
                            </p>
                            <p>
                                Наши специалисты работают более 10 лет на рынке факторинга. Мы обеспечиваем простой процесс сделок вне зависимости от суммы финансирования за счет высокой степени диджитализации всех процессов – от заключения договора до операционного финансирования.
                            </p>
                        </div>
                        <div class="col-12">
                            <div class="h2">Обязанности:</div>
                            <ul>
                                <li>
                                    Полноценный анализ крупных корпоративных клиентов (выручка от 5 млрд.руб.) из различных отраслей;
                                </li>
                                <li>
                                    Консолидация балансов компаний группы;
                                </li>
                                <li>
                                    Составление прогнозного CF;
                                </li>
                                <li>
                                    Сопоставление официальных и управленческих показателей.
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="h2">Требования:</div>
                            <ul>
                                <li>От 5 лет в кредитном подразделении Банков;</li>
                                <li>Высшее экономическое или математическое;</li>
                                <li>Углубленное знание максимального количества отраслей (тенденции, участники, характеристики);</li>
                                <li>Анализ кредитных и инвестиционных рисков;</li>
                                <li>Знание и понимание коэффициентов оценки фин.состояния;</li>
                                <li>Умение консолидировать отчетность по группе компаний;</li>
                                <li>Знания по резервированию.</li>
                            </ul>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="h2">Условия:</div>
                            <ul>
                                <li>
                                    Интересные задачи, динамичная компания;
                                </li>
                                <li>
                                    Полное соблюдение ТК, «белая» заработная плата, социальный пакет <br>(ДМС, возможность обучаться в спорт школе "I Love Supersport" на льготных условиях);
                                </li>
                                <li>
                                    Возможности для профессионального роста;
                                </li>
                                <li>
                                    Уровень дохода обсуждается с успешным кандидатом;
                                </li>
                                <li>
                                    График работы 9.00 -18.00 или 10.00-19.00 (можно обсудить другое время);
                                </li>
                                <li>
                                    Комфортный, светлый, современный офис, пешая доступность от метро Таганская.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                
            </div> --}}
            <div class="col-md-6 mx-auto">
                {{> form_vacancy }}
            </div>
        </div>
    </div>
</section>

{{/content}}

{{/extend}}